Repository kubernetes/autoscaler, pull requests merged in 2018-05, with the labels that each got.

#823 Add zero nodes support for Azure VMSS
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
Labels: cncf-cla: yes, lgtm, size/S

#824 Typo fix in FAQ.md : kubernets->kubernetes
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS

#815 Switch from per-pod aggregations to per-labelset aggregations.
  vertical-pod-autoscaler/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/recommender/logic/recommender.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/recommender/model/cluster.go
  vertical-pod-autoscaler/recommender/model/cluster_test.go
  vertical-pod-autoscaler/recommender/model/container.go
  vertical-pod-autoscaler/recommender/model/container_test.go
  vertical-pod-autoscaler/recommender/model/types.go
  vertical-pod-autoscaler/recommender/model/vpa.go
  vertical-pod-autoscaler/recommender/output/checkpoint_writer.go
  vertical-pod-autoscaler/recommender/output/checkpoint_writer_test.go
Labels: cncf-cla: yes, size/XXL

#827 Use ResourceEventHandlerFuncs to create vpa lister.
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#826 Update FAQ with note on referring kubernetes.sync
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS

#825 Add TemplateNodeInfo support for Azure vmss
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, size/XXL

#829 Cherry-pick #823 and #825 to CA 1.2.X
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, size/XXL

#831 Remove implementation details (CleanUp) from the interface.
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/dynamic_autoscaler.go
  cluster-autoscaler/core/dynamic_autoscaler_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, size/M

#832 Typo fix: memeory->memory
  vertical-pod-autoscaler/recommender/model/container.go
Labels: cncf-cla: yes, lgtm, size/XS

#813 Autoscaler for Azure Container Service (AKS and ACS)
  cluster-autoscaler/Godeps/Godeps.json
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2017-09-30/containerservice/client.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2017-09-30/containerservice/containerservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2017-09-30/containerservice/managedclusters.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2017-09-30/containerservice/models.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2017-09-30/containerservice/version.go
Labels: cncf-cla: yes, lgtm, size/XXL

#834 Remove unused CloudProvider() method.
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/dynamic_autoscaler.go
  cluster-autoscaler/core/dynamic_autoscaler_test.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/S

#835 Make the code slightly more idiomatic go
  cluster-autoscaler/core/scale_down.go
Labels: cncf-cla: yes, lgtm, size/S

#837 Add missing classifier
  cluster-autoscaler/simulator/cluster.go
Labels: cncf-cla: yes, lgtm, size/XS

#839 Fix autoscaler manifests yaml for AKS
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-containerservice.yaml
Labels: cncf-cla: yes, lgtm, size/S

#841 Remove unused error handling
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cncf-cla: yes, lgtm, size/S

#830 Add support for rescheduled pods with the same name in drain
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/utils/deletetaint/delete.go
Labels: cherrypick-candidate, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#847 Cherry pick stateful set drain 1.0
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/utils/deletetaint/delete.go
Labels: bug, cherrypick, cluster-autoscaler, lgtm, size/M

#845 Cherry pick stateful set drain 1.1
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/utils/deletetaint/delete.go
Labels: bug, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#844 Cherry pick stateful set drain 1.2
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/utils/deletetaint/delete.go
Labels: bug, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#842 Merge two variables into one.
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/S

#850 Delete not needed test of VPA admission controller.
  vertical-pod-autoscaler/e2e/admission_controller.go
Labels: cncf-cla: yes, lgtm, size/S

#854 Refactor recommendation post processing.
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/admission-controller/main.go
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/recommendation_processor.go
  vertical-pod-autoscaler/updater/main.go
  vertical-pod-autoscaler/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/updater/updater.go
  vertical-pod-autoscaler/updater/updater_test.go
Labels: cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#859 Small refactor of main.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, size/S

#855 Add gpu related tests to scale_up_test
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#865 Update Godeps FAQ
  cluster-autoscaler/FAQ.md
Labels: cluster-autoscaler, cncf-cla: yes, documentation, lgtm, size/S

#869 Check glog.V once
  cluster-autoscaler/core/static_autoscaler.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#871 Extract duplicate code into a single method
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/M

#870 Set lastScaleDownFailTime properly
  cluster-autoscaler/core/static_autoscaler.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#873 Update max unready nodes to 45%
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/main.go
Labels: cherrypick-candidate, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#874 Update max unready nodes to 45%
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/main.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#866 Add override for AKS API
  cluster-autoscaler/Godeps/Godeps.json
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/client.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/containerservices.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/managedclusters.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/models.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/version.go
  cluster-autoscaler/fix_gopath.sh
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/features/kube_features.go
Labels: cncf-cla: yes, lgtm, size/XXL

#868 Move metrics update to proper place
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/XS

#875 Cherry pick of #866: Add override for AKS API
  cluster-autoscaler/Godeps/Godeps.json
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/client.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/containerservices.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/managedclusters.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/models.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/mgmt/2017-09-30/containerservice/version.go
  cluster-autoscaler/fix_gopath.sh
Labels: cncf-cla: yes, lgtm, size/XXL

#876 Cluster Autoscaler 1.2.2
  cluster-autoscaler/version.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#878 Cluster Autoscaler 1.1.3
  cluster-autoscaler/version.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#879 Cluster Autoscaler 1.0.6
  cluster-autoscaler/version.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#882 Simplify the code by removing superfluous variable
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cncf-cla: yes, lgtm, size/XS

#880 Allow passing taints to Node Group creation.
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/expander/price/price_test.go
Labels: cncf-cla: yes, lgtm, size/S

#885 Minor typos and NodeResourceGroup clarification
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: cncf-cla: yes, lgtm, size/S

#887 Make admission controller server and updater importable
  vertical-pod-autoscaler/admission-controller/logic/server.go
  vertical-pod-autoscaler/admission-controller/main.go
  vertical-pod-autoscaler/updater/logic/updater.go
  vertical-pod-autoscaler/updater/logic/updater_test.go
  vertical-pod-autoscaler/updater/main.go
Labels: cncf-cla: yes, lgtm, size/M

#886 Remove deployment parameter from AKS docs
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: cncf-cla: yes, lgtm, size/XS

#883 Reorder & extract initial parts of RunOnce
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/L

#867 AWS: Reduce amount of API calls significantly
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, sig/aws, size/XL

#889 Typo fix: "it's reaction time is short"->"its reaction time is short"
  cluster-autoscaler/proposals/scalability_tests.md
Labels: cncf-cla: yes, lgtm, size/XS

#888 Pod vpa annotation
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Labels: cncf-cla: yes, lgtm, size/M

#872 Move ClusterStateRegistry to StaticAutoscaler
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
Labels: cncf-cla: yes, lgtm, size/L

#895 Disable VolumeScheduling predicate
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/features/kube_features.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#848 Add caching to get machine type calls.
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cluster-autoscaler, cncf-cla: yes, gcp, lgtm, size/XL

#902 Sequential recommendation processor
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor_test.go
Labels: cncf-cla: yes, lgtm, size/M

#899 Delete autoprovisioned node pool after all nodes are deleted.
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
Labels: cncf-cla: yes, lgtm, size/M

#905 Kubemark cloud provider doesn't compile on Mac
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
Labels: cncf-cla: yes, lgtm, size/XS

#906 Fix timestamp format in ClusterAutoscaler ConfigMap
  cluster-autoscaler/clusterstate/utils/status.go
Labels: cncf-cla: yes, lgtm, size/S

#904 Autoscaler doesn't drain nodes that have terminal pods
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cncf-cla: yes, lgtm, size/M

#901 Execute predicates only for similar pods.
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
Labels: cncf-cla: yes, lgtm, size/M

#900 Move some GKE-specific logic outside core
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/autoscaler_builder.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_processor.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_processor_test.go
  cluster-autoscaler/processors/nodegroups/nodegroup_list_processor.go
  cluster-autoscaler/processors/pods/pod_list_processor.go
  cluster-autoscaler/processors/pods/pod_list_processor_test.go
  cluster-autoscaler/processors/processors.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XL

#910 Fix using taints for GPUs in NAP.
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
Labels: cncf-cla: yes, lgtm, size/M

#915 Add metrics server requirement to VPA Readme
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS
