Repository kubernetes/autoscaler, pull requests merged in 2018-11, with the labels that each got.

#1373 Vertical Pod Autoscaler version 0.3.0
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1374 Fix typos: alredy -> already
  cluster-autoscaler/cloudprovider/gce/cache.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1372 Add e2e tests for updater with different controllers.
  vertical-pod-autoscaler/e2e/common.go
  vertical-pod-autoscaler/e2e/updater.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1379 Relax list of OWNERS in hack directory
  hack/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/S

#1375 hack/verify-all.sh -v output corrected
  hack/verify-all.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1109 Clean up estimators
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/estimator/basic_estimator.go
  cluster-autoscaler/estimator/basic_estimator_test.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/main.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, lifecycle/stale, size/L

#1381 Fix formatted log messages
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/core/scale_up.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#1336 Add metrics for GCP API usage
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_metrics.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_metrics.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1149 Clean up GkeManager interface
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, gcp, kind/cleanup, lgtm, size/M

#1388 Correct flag for node group auto-discovery
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1380 Make Backoff interface
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/utils/backoff/backoff.go
  cluster-autoscaler/utils/backoff/backoff_test.go
  cluster-autoscaler/utils/backoff/exponential_backoff.go
  cluster-autoscaler/utils/backoff/exponential_backoff_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1376 Build VPA releases in docker
  vertical-pod-autoscaler/builder/Dockerfile
  vertical-pod-autoscaler/builder/README.md
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/L

#1383 Add test checking Initial and Off are handled correctly
  vertical-pod-autoscaler/e2e/actuation.go
  vertical-pod-autoscaler/e2e/common.go
  vertical-pod-autoscaler/e2e/updater.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1386 Update RBAC example to include replicasets in the apps apigroup
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1392 Migrate to go1.10
  .travis.yml
  cluster-autoscaler/simulator/cluster.go
  hack/install-verify-tools.sh
  hack/verify-gofmt.sh
  hack/verify-golint.sh
  vertical-pod-autoscaler/updater/recommender/caching_recommender.go
Labels: cncf-cla: yes, lgtm, size/S

#1394 Fix typos: checkponits -> checkpoints
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1395 Build VPA releases in docker
  vertical-pod-autoscaler/builder/Dockerfile
  vertical-pod-autoscaler/builder/README.md
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1393 Distinguish between eviction and successful restart in e2e
  vertical-pod-autoscaler/e2e/actuation.go
  vertical-pod-autoscaler/e2e/common.go
  vertical-pod-autoscaler/e2e/updater.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1396 Fix typos: reqest->request, approporiate->appropriate
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
  cluster-autoscaler/utils/tpu/tpu_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1400 Inject Backoff instance to ClusterStateRegistry on creation
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1399 Clarify down-scale capabilities
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1404 Fix typo: posistive -> positive
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1408 Changing permissions on "update-gofmt" script
  hack/update-gofmt.sh
  hack/verify-gofmt.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1415 Cluster Autoscaler 1.3: fix ServerAppSecret issues for AKS clusters
  cluster-autoscaler/Godeps/Godeps.json
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1418 Add replicasets in the apps apigroup
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard-master.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss-master.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1378 AWS: Improved balancing
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1419 Update cluster-autoscaler version to 1.13.0-alpha.1
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1422 Update AWS EC2 instance type catalog
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1426 Update OWNERS
  cluster-autoscaler/OWNERS
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, size/XS

#1414 Cluster Autoscaler 1.12: fix ServerAppSecret issues for AKS clusters
  cluster-autoscaler/Godeps/Godeps.json
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go
  cluster-autoscaler/_override/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1428 Don't load CA key.
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1433 Start listing known beta limitations.
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1432 Update examples and deployments for new version.
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
  vertical-pod-autoscaler/examples/redis.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1437 Update overprovisioning setup
  cluster-autoscaler/FAQ.md
Labels: approved, cluster-autoscaler, cncf-cla: yes, documentation, kind/documentation, lgtm, size/XS

#1407 add flag to ignore daemonsets when calculating resource utilization of a node
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1445 Update go version used from 1.10.2 to 1.11.2 to match one used by k8s
  .travis.yml
  builder/Dockerfile
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/simulator/nodes.go
  cluster-autoscaler/utils/labels/labels_test.go
  hack/check-go-version.sh
  vertical-pod-autoscaler/e2e/full_vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1448 Cluster Autoscaler release 1.13.0-rc.1
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1451 Initialize klog
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1447 Add OWNERS to /builder
  builder/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/S

#1456 gce: increase test timeout in TestWaitForGkeOp
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1460 Cluster Autoscaler release 1.13.0
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
