Repository kubernetes/autoscaler, pull requests merged in 2018-03, with the labels that each got.

#685 Introduce recommendation confidence.
  vertical-pod-autoscaler/recommender/logic/estimator.go
  vertical-pod-autoscaler/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/recommender/logic/recommender.go
  vertical-pod-autoscaler/recommender/model/cluster_test.go
  vertical-pod-autoscaler/recommender/model/container.go
  vertical-pod-autoscaler/recommender/model/container_test.go
  vertical-pod-autoscaler/recommender/model/types.go
  vertical-pod-autoscaler/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, size/L

#688 Better GPU handling in price expander
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/expander/price/price.go
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/gpu/gpu_test.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#691 Verify target in admission-controller unit tests.
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider_test.go
Labels: cncf-cla: yes, lgtm, size/S

#692 Increase timeout to reduce flakiness of autoscaling-vpa-full
  vertical-pod-autoscaler/e2e/common.go
Labels: cncf-cla: yes, lgtm, size/XS

#693 Cherrypick gpu expander fix on CA 1.1 branch
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/expander/price/price.go
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/gpu/gpu_test.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#694 VPA AC e2e tests - change min/max recommended to resource policy
  vertical-pod-autoscaler/e2e/admission_controller.go
Labels: cncf-cla: yes, lgtm, size/S

#689 VPA - serialization of histograms to snapshots.
  vertical-pod-autoscaler/recommender/util/decaying_histogram.go
  vertical-pod-autoscaler/recommender/util/decaying_histogram_test.go
  vertical-pod-autoscaler/recommender/util/histogram.go
  vertical-pod-autoscaler/recommender/util/histogram_mock.go
  vertical-pod-autoscaler/recommender/util/histogram_test.go
Labels: cncf-cla: yes, lgtm, size/L

#697 Bump CA version to 1.1.2
  cluster-autoscaler/version.go
Labels: cncf-cla: yes, lgtm, size/XS

#698 VPA AggregateContainerState serialization.
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/types.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/recommender/logic/recommender.go
  vertical-pod-autoscaler/recommender/logic/recommender_test.go
Labels: cncf-cla: yes, lgtm, size/L

#696 Document Addon Resizer configuration
  addon-resizer/README.md
Labels: cncf-cla: yes, lgtm, size/L

#686 pod life cycle phase added to the model
  vertical-pod-autoscaler/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/recommender/logic/recommender_test.go
  vertical-pod-autoscaler/recommender/model/cluster.go
  vertical-pod-autoscaler/recommender/model/cluster_test.go
Labels: cncf-cla: yes, lgtm, size/S

#690 Extend the Updater policy with new rules
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/updater/updater.go
Labels: cncf-cla: yes, lgtm, size/L

#702 fix misspelling of Kubernetes
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
Labels: cncf-cla: yes, lgtm, size/XS

#704 Add regional flag
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/core/autoscaling_context.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, size/M

#708 Typo fix "typ"->"type"
  cluster-autoscaler/utils/errors/errors.go
Labels: cncf-cla: yes, lgtm, size/XS

#707 Use the builder pattern in tests to make them more readable and extensible.
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_recommendation.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/updater/updater_test.go
Labels: cncf-cla: yes, lgtm, size/L

#713 Fix command for e2e tests after changes in test infra
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS

#705 Typo fix "record"->"records"
  cluster-autoscaler/clusterstate/utils/status.go
Labels: cncf-cla: yes, lgtm, size/XS

#714 VPA e2e tests fixes. Increased timeout and min/max recommendation set.
  vertical-pod-autoscaler/e2e/actuation.go
  vertical-pod-autoscaler/e2e/updater.go
  vertical-pod-autoscaler/hack/run-e2e.sh
Labels: cncf-cla: yes, lgtm, size/S

#716 Typo fix in kubernetes.go
  cluster-autoscaler/config/kubernetes.go
Labels: cncf-cla: yes, lgtm, size/XS

#717 Run spellchecker
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/node_group_discovery_options.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/api/types.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/dynamic/config.go
  cluster-autoscaler/core/autoscaling_context.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/expander/price/price_test.go
  cluster-autoscaler/simulator/nodes.go
  cluster-autoscaler/simulator/predicates.go
  cluster-autoscaler/utils/nodegroupset/compare_nodegroups.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#722 Do not delete terminated pods from the model.
  vertical-pod-autoscaler/recommender/input/cluster_feeder.go
Labels: cncf-cla: yes, lgtm, size/XS

#721 Add safety margin and tune confidence in the recommender.
  vertical-pod-autoscaler/recommender/logic/estimator.go
  vertical-pod-autoscaler/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, size/L

#710 Extend cluster autoscaler to check AUTOSCALER_ENV_VARS in kube-env
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, size/L

#723 VPA initial detection of OOMs caused by limit violation.
  vertical-pod-autoscaler/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/recommender/input/oom/observer.go
  vertical-pod-autoscaler/recommender/input/oom/observer_test.go
Labels: cncf-cla: yes, lgtm, size/L

#724 VPA recommender definition moved to the library
  vertical-pod-autoscaler/recommender/logic/recommender.go
  vertical-pod-autoscaler/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, size/L

#725 CA 0.6.4
  cluster-autoscaler/version.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#726 CA 1.0.5
  cluster-autoscaler/version.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#728 Cluster Autoscaler 1.2.0-beta1
  cluster-autoscaler/version.go
Labels: cncf-cla: yes, lgtm, size/XS

#727 VPA artificial samples generation for OOMs.
  vertical-pod-autoscaler/recommender/model/cluster.go
  vertical-pod-autoscaler/recommender/model/cluster_test.go
  vertical-pod-autoscaler/recommender/model/container.go
  vertical-pod-autoscaler/recommender/model/container_test.go
Labels: cncf-cla: yes, lgtm, size/L

#712 Initial implementation of reading and writing VPA histogram checkpoints.
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/recommender/logic/estimator.go
  vertical-pod-autoscaler/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/recommender/logic/recommender.go
  vertical-pod-autoscaler/recommender/main.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/recommender/model/cluster.go
  vertical-pod-autoscaler/recommender/model/vpa.go
  vertical-pod-autoscaler/recommender/output/checkpoint_writer.go
  vertical-pod-autoscaler/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, size/XL

#731 VPA OOM support in admission controller
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/admission-controller/server.go
  vertical-pod-autoscaler/pkg/common/consts.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/recommender/model/container.go
Labels: cncf-cla: yes, lgtm, size/L

#732 VPA OOM handling e2e test
  vertical-pod-autoscaler/e2e/full_vpa.go
Labels: cncf-cla: yes, lgtm, size/M

#733 VPA restore serialization of confidence data in checkpoints
  vertical-pod-autoscaler/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state_test.go
Labels: cncf-cla: yes, lgtm, size/M

#736 CA 1.2.0-rc1
  cluster-autoscaler/version.go
Labels: cncf-cla: yes, lgtm, size/XS

#738 Disable VolumeScheduling predicate
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/features/kube_features.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#739 CA 1.2.0-rc2
  cluster-autoscaler/version.go
Labels: cncf-cla: yes, lgtm, size/XS

#737 update readme
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, size/XS

#741 Fix for multi line KUBELET_ARGS
  cluster-autoscaler/cloudprovider/gce/templates.go
Labels: cncf-cla: yes, lgtm, size/XS

#744 Cluster Autoscaler 1.2.0
  cluster-autoscaler/version.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#743 Update Readme
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, size/XS

#742 Add overprovisioning to CA FAQ.
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/L

#748 Add Cluster Autoscaler 1.2 as recommended version with Kubernetes 1.10
  cluster-autoscaler/README.md
Labels: cluster-autoscaler, cncf-cla: yes, documentation, lgtm

#746 VPA e2e test for loading checkpoints
  vertical-pod-autoscaler/e2e/recommender.go
Labels: cncf-cla: yes, lgtm, size/L

#750 Improve reaction time for CPU starved workloads
  vertical-pod-autoscaler/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/recommender/logic/recommender.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/recommender/model/cluster.go
  vertical-pod-autoscaler/recommender/model/cluster_test.go
  vertical-pod-autoscaler/recommender/model/container.go
  vertical-pod-autoscaler/recommender/model/container_test.go
Labels: cncf-cla: yes, lgtm, size/M

#754 Fix method name
  cluster-autoscaler/utils/drain/drain.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#755 Update pricing.md
  cluster-autoscaler/proposals/pricing.md
Labels: cncf-cla: yes, lgtm, size/M

#757 Ensure azure reference non-empty
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, size/XS

#758 Ensure azure reference non-empty
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, size/XS

#760 Fix full-vpa e2e test: add missing assertions, increase timeouts
  vertical-pod-autoscaler/e2e/common.go
  vertical-pod-autoscaler/e2e/full_vpa.go
  vertical-pod-autoscaler/hack/run-e2e.sh
Labels: cncf-cla: yes, lgtm, size/S

#761 Fix a typo
  vertical-pod-autoscaler/e2e/full_vpa.go
Labels: cncf-cla: yes, lgtm, size/XS

#763 Update types.go
  cluster-autoscaler/clusterstate/api/types.go
Labels: cncf-cla: yes, lgtm, size/XS

#766 Print version number on startup.
  vertical-pod-autoscaler/admission-controller/main.go
  vertical-pod-autoscaler/common/version.go
  vertical-pod-autoscaler/recommender/main.go
  vertical-pod-autoscaler/updater/main.go
Labels: cncf-cla: yes, lgtm, size/M

#765 Fix parsing kube-env
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/L

#768 Switch images to debian in VPA
  vertical-pod-autoscaler/admission-controller/Dockerfile
  vertical-pod-autoscaler/recommender/Dockerfile
  vertical-pod-autoscaler/updater/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#769 Version update in vpa deployments
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, size/M

#770 Mark VPA as alpha in the main Readme.md file
  README.md
Labels: cncf-cla: yes, lgtm, size/XS
