Repository kubernetes/autoscaler, pull requests merged in 2018-04, with the labels that each got.

#767 Fix parsing kube-env
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#772 More introduction in VPA readme
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, documentation, size/M, vertical-pod-autoscaler

#782 Disable flaky AWS test
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: aws, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#785 correct the returned message in ready.go
  cluster-autoscaler/utils/kubernetes/ready.go
Labels: cncf-cla: yes, lgtm, size/XS

#780 Fix retured err message
  vertical-pod-autoscaler/recommender/output/checkpoint_writer.go
Labels: cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#773 Garbage collection of VPA checkpoints
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/e2e/recommender.go
  vertical-pod-autoscaler/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/recommender/main.go
  vertical-pod-autoscaler/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, size/M

#784 correct the returned error message in aggregate_container_state.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state.go
Labels: cncf-cla: yes, lgtm, size/XS

#786 Update Cluster Autoscaler dependencies
  cluster-autoscaler/Godeps/Godeps.json
  cluster-autoscaler/kubernetes.sync
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/discovery_client.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_backoff.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_standard.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_instances.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/controller/daemon/daemon_controller.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/controller/volume/persistentvolume/scheduler_binder.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/controller/volume/persistentvolume/scheduler_binder_fake.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/container/runtime.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/volume_manager.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/printers/humanreadable.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/printers/interface.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/printers/internalversion/printers.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/printers/versioned.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/predicates.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/factory/factory.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/volumebinder/volume_binder.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/volume/local/local.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/volume/rbd/rbd_util.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/volume/util/operationexecutor/operation_generator.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XXL

#783 AWS: Support selecting ASG by values
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/node_group_discovery_options.go
  cluster-autoscaler/cloudprovider/node_group_discovery_options_test.go
Labels: cncf-cla: yes, lgtm, size/M

#788 Typo fix in FAQ.md
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS

#787 Fix absent image tag version in README
  addon-resizer/README.md
Labels: addon-resizer, cncf-cla: yes, lgtm, size/XS

#792 Cluster Autoscaler 1.2.1
  cluster-autoscaler/version.go
Labels: cncf-cla: yes, lgtm, size/XS

#797 VPA untangle consts for setting memory limits and bumping up recommendation.
  vertical-pod-autoscaler/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/common/consts.go
  vertical-pod-autoscaler/recommender/model/container.go
Labels: cncf-cla: yes, lgtm, size/M

#802 VPA readme update.
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS

#804 Rephrase unremovable node warning
  cluster-autoscaler/core/scale_down.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#807 FAQ and fix_gopath.sh fixes
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/fix_gopath.sh
Labels: cncf-cla: yes, lgtm, size/XS

#805 Add support for Azure Managed Service Identity (MSI)
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss-msi.yaml
Labels: cncf-cla: yes, lgtm, size/XXL

#806 Updates to VPA example deployment & README + adjust resources
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
  vertical-pod-autoscaler/recommender/logic/recommender.go
Labels: cncf-cla: yes, lgtm, size/M

#808 Cherry-pick of #805: Add support for Azure Managed Service Identity (MSI)
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss-msi.yaml
Labels: cncf-cla: yes, size/XXL

#801 Update README.md
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, documentation, lgtm, size/S, vertical-pod-autoscaler

#809 Factor the checkpoint specific code out of aggregations.
  vertical-pod-autoscaler/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/recommender/logic/recommender.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/recommender/output/checkpoint_writer.go
  vertical-pod-autoscaler/recommender/output/checkpoint_writer_test.go
  vertical-pod-autoscaler/recommender/recommender.go
Labels: cncf-cla: yes, size/L

#794 Refactor cluster autoscaler builder and add pod list processor.
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/context/autoscaling_context_test.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/autoscaler_builder.go
  cluster-autoscaler/core/autoscaler_test.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/pods/pod_list_processor.go
  cluster-autoscaler/utils/pods/pod_list_processor_test.go
Labels: cncf-cla: yes, lgtm, size/L

#818 "pod" and "Pod" are mixed except that in proper noun
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/S
