Repository kubernetes/autoscaler, pull requests merged in 2018-07, with the labels that each got.

#1026 Fix potential panic for aks
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
Labels: azure, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1025 Handle nil recommendation in admission controller.
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider_test.go
Labels: cncf-cla: yes, size/S

#1028 Remove the meeting information from the README
  README.md
Labels: cncf-cla: yes, lgtm, size/XS

#1020 Add comments and renamed a function for improved clarity
  addon-resizer/nanny/estimator.go
Labels: cncf-cla: yes, lgtm, size/S

#1032 Cherry-pick of Move removing unneeded autoprovisioned node groups to node group manager #1008
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_nodegroup_manager.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_nodegroup_manager_test.go
  cluster-autoscaler/processors/nodegroups/nodegroup_manager.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1033 Cherry-pick of Validate taint key with regex #1005
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1034 Cherry-pick of update the aws ec2 instance types #999
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1035 Cherry-pick of Use Warningf instead Warning #1010
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1036 Cherry-pick of Add gpus to supportedResources map in GCE cloud provider #1011
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gpu.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#1037 Lower default expendable pod priority cutoff to -10
  cluster-autoscaler/main.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1039 Use protobufs in pod-nanny
  addon-resizer/nanny/main/pod_nanny.go
Labels: cncf-cla: yes, lgtm, size/XS

#1041 Cherrypick: "Use protobufs in pod-nanny" to 1.8 branch of addon-resizer
  addon-resizer/nanny/main/pod_nanny.go
Labels: cncf-cla: yes, lgtm, size/XS

#1017 Make GetGpuTypeForMetrics more robust
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/proposals/metrics.md
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cherrypick-candidate, cncf-cla: yes, lgtm, size/L

#1040 Cherry-pick of Add GPU-related scaled_up & scaled_down metrics #974
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, size/M

#1043 Refactor and extend GPU metrics error types
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cherrypick-candidate, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1031 Fix the parsing of resource values
  addon-resizer/nanny/estimator.go
  addon-resizer/nanny/estimator_test.go
Labels: cncf-cla: yes, lgtm, size/M

#1045 Cherry pick of GPU metrics fixes in #1017 and #1043
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/proposals/metrics.md
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1044 VPA treat pod evictions due to low memory at node as OOMs.
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Labels: cncf-cla: yes, lgtm, size/L

#1046 Build 1.8.2 image od addon resizer
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/S

#1052 Add more events for CA
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_up.go
Labels: cncf-cla: yes, lgtm, size/XS

#1048 fix spelling and indentation
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS

#1024 Update README.md
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: azure, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1054 Add annotation to mark pods as unsafe to evict
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cncf-cla: yes, lgtm, size/M

#1055 Cherry pick pod unsafe annotations for 1.1
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cherrypick, cncf-cla: yes, lgtm, size/M

#1056 Cherry pick pod unsafe annotations for 1.2
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1059 Cluster Autoscaler 1.3.1
  cluster-autoscaler/version.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1061 Cluster Autoscaler 1.3.2-alpha.0
  cluster-autoscaler/version.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1047 Add support for custom min cluster sizes
  addon-resizer/nanny/estimator.go
  addon-resizer/nanny/estimator_test.go
  addon-resizer/nanny/main/pod_nanny.go
Labels: addon-resizer, cncf-cla: yes, lgtm, size/M

#1058 Cherry pick pod unsafe annotations for 1.3
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cherrypick, cluster-autoscaler, lgtm, size/M

#1062 VPA Garbage collect old AggregateContainerStates
  vertical-pod-autoscaler/pkg/recommender/initialization/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
Labels: cncf-cla: yes, lgtm, size/L

#1066 Add updating kubernetes.sync to Godeps update instructions
  cluster-autoscaler/FAQ.md
Labels: cluster-autoscaler, cncf-cla: yes, documentation, lgtm, size/XS

#1067 bump addon resizer tag to 1.8.3
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/XS

#1069 Adding CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: cncf-cla: yes, lgtm, size/M

#1074 The CA file on Amazon Linux 2 is at a different location
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, size/XS

#1075 Clean up last remains of dynamic autoscaler
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/config/dynamic/config.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/autoscaler_builder.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/L

#1076 Fix potential panic
  cluster-autoscaler/utils/errors/errors.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1078 Fix error on node info not found for group
  cluster-autoscaler/core/scale_up.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1080 Remove not-so-useful type check test
  cluster-autoscaler/core/autoscaler_test.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/M

#1082 VPA fix conditions to trigger garbage collection.
  vertical-pod-autoscaler/pkg/recommender/initialization/recommender.go
Labels: cncf-cla: yes, lgtm, size/XS

#1084 Fix recommendation present condition in recommender e2e.
  vertical-pod-autoscaler/e2e/recommender.go
Labels: cncf-cla: yes, lgtm, size/XS

#1085 Reinstate removing non-nexisting pods from the model.
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: cncf-cla: yes, lgtm, size/XS

#1079 Simplify building cloud provider
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/context/autoscaling_context_test.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/main_test.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_nodegroup_manager_test.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_processor.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_processor_test.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/L

#1091 VPA PodBuilder introduced to improve readability.
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Labels: cncf-cla: yes, lgtm, size/L

#1087 Move creating cloud provider out of context
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/context/autoscaling_context_test.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/M

#1092 Group all Kubernetes API clients
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_nodegroup_manager_test.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/XL

#1088 Fix node memory prediction in GCP cloudprovider
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cluster-autoscaler, cncf-cla: yes, gcp, kind/bug, lgtm, size/M

#1095 Cherry-pick #1088 on CA 1.3
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, gcp, kind/bug, lgtm, size/M

#1093 VPA fix handling of pending pods.
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
Labels: cncf-cla: yes, lgtm, size/L

#1090 Use proxy for container state aggregator.
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
Labels: cncf-cla: yes, lgtm, size/M

#1101 Initialization package renamed to routines.
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: cncf-cla: yes, lgtm, size/XS

#1094 Remove not-so-useful constructor test
  cluster-autoscaler/context/autoscaling_context_test.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/M
