Repository kubernetes/autoscaler, pull requests merged in 2018-08, with the labels that each got.

#1089 changing link to microsoft docs
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: azure, cluster-autoscaler, cncf-cla: yes, documentation, lgtm, size/S

#1104 VPA: don't overwrite existing annotations when patching pod
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: cncf-cla: yes, lgtm, size/S

#1106 Remove VPA admission-controller option to set limit.
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Labels: cncf-cla: yes, lgtm, size/L

#1102 Move initializing defaults out of main
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/L

#1108 Capping to limit or min/max allowed leaves annotation
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/recommendation_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor_test.go
Labels: cncf-cla: yes, lgtm, size/L

#1110 Extract autoscaling GCE client
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_url.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/XL

#1117 VPA tolerate nil annotation map returned from recommendation processor
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: cncf-cla: yes, lgtm, size/XS

#1115 Add metrics to VPA
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/admission/admission.go
  vertical-pod-autoscaler/pkg/utils/metrics/metrics.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Labels: cncf-cla: yes, lgtm, size/L

#1114 Add AutoscalingStatusProcessor
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_nodegroup_manager.go
  cluster-autoscaler/processors/nodegroups/autoprovisioning_processor.go
  cluster-autoscaler/processors/nodegroups/nodegroup_list_processor.go
  cluster-autoscaler/processors/nodegroups/nodegroup_manager.go
  cluster-autoscaler/processors/pods/pod_list_processor.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/status/autoscaling_status_processor.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
Labels: cncf-cla: yes, lgtm, size/L

#1123 Remove faulty validation for VPA
  vertical-pod-autoscaler/deploy/vpa-crd.yaml
Labels: cncf-cla: yes, lgtm, size/S

#1122 Add metrics for execution time of RunOnce
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/admission/admission.go
  vertical-pod-autoscaler/pkg/utils/metrics/metrics.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Labels: cncf-cla: yes, lgtm, size/M

#1116 Extract autoscaling GKE client
  cluster-autoscaler/cloudprovider/gce/autoscaling_gke_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gke_client_v1.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gke_client_v1beta1_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/XL

#1132 Fix label names to be in line with Prometheus conventions
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, size/XS

#1126 Refactor VPA utilities
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/routines/vpa.go
Labels: cncf-cla: yes, lgtm, size/M

#1130 cherry pick: "Fix nvidia gpu resource name on AWS" to 1.1
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: cncf-cla: yes, lgtm, size/XS

#1128 VPA routines refactoring - making them more accessible
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: cncf-cla: yes, lgtm, size/M

#1134 VPA fix merging initial checkpoint into ContainerNameToAggregateStateMap
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Labels: cncf-cla: yes, lgtm, size/M

#1138 Add a sequential implementation of PodEvictionAdmission
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Labels: cncf-cla: yes, lgtm, size/M

#1140 VPA shouldn't store checkpoint if history is being loaded.
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
Labels: cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1129 Extract cache from GCE manager
  cluster-autoscaler/cloudprovider/gce/autoscaling_gke_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gke_client_v1.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/XXL

#1148 Clean up GceManager interface
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
  cluster-autoscaler/cloudprovider/gke/gke_manager_test.go
Labels: cluster-autoscaler, cncf-cla: yes, gcp, kind/cleanup, lgtm, size/L

#1147 Cluster Autoscaler 1.2.3-beta.1
  cluster-autoscaler/version.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1146 Cluster Autoscaler 1.3.2 beta.1
  cluster-autoscaler/version.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1151 Improve getMatchingVPA logging to be more clear (with pod name) and using logging level
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider.go
Labels: cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#1155 Update Cluster Autoscaler base image
  cluster-autoscaler/Dockerfile
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1156 Cherry pick of #1155: Update Cluster Autoscaler base image
  cluster-autoscaler/Dockerfile
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1160 Remove discoveryOptions from GKE manager constructor
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/S

#1159 Update README.md
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS

#1158 Update vertical-pod-autoscaler base image to debian-base-amd:0.3.2
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS

#1162 Cherry pick of #1155: Update Cluster Autoscaler base image
  cluster-autoscaler/Dockerfile
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1163 Cherry pick of #1155: Update Cluster Autoscaler base image
  cluster-autoscaler/Dockerfile
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1152 VPA admission controller should stop review Pod Update event
  vertical-pod-autoscaler/pkg/admission-controller/config.go
Labels: cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#1166 Add authorization to vpa e2e tests.
  vertical-pod-autoscaler/e2e/e2e.go
Labels: cncf-cla: yes, lgtm, size/XS

#1168 Ignore resources with Cloud TPU prefix
  cluster-autoscaler/utils/tpu/tpu.go
  cluster-autoscaler/utils/tpu/tpu_test.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1169 Fix GKE operation wait timeout
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client.go
Labels: cluster-autoscaler, cncf-cla: yes, gcp, lgtm, size/XS

#1173 Cherry-pick of #1168: Ignore resources with Cloud TPU prefix
  cluster-autoscaler/utils/tpu/tpu.go
  cluster-autoscaler/utils/tpu/tpu_test.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1176 Cluster Autoscaler 1.3.2-beta.2
  cluster-autoscaler/version.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1174 Update owners files for autoscaling
  OWNERS
  addon-resizer/OWNERS
  cluster-autoscaler/OWNERS
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, size/S

#1171 Use Go 1.10.3
  builder/Dockerfile
Labels: cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1175 Fix fetching resource limits on GKE
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
Labels: cluster-autoscaler, cncf-cla: yes, gcp, kind/cleanup, lgtm, size/S

#1172 Cherry-pick of #791: Ignore TPU resource in simulations
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/utils/tpu/tpu.go
  cluster-autoscaler/utils/tpu/tpu_test.go
Labels: cluster-autoscaler, cncf-cla: yes, gcp, lgtm, size/L

#1177 Cherry-pick of #1168: Ignore resources with Cloud TPU prefix
  cluster-autoscaler/utils/tpu/tpu.go
  cluster-autoscaler/utils/tpu/tpu_test.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1179 Handle channel closes from pod event watcher
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1178 Cluster Autoscaler 1.2.3-beta.2
  cluster-autoscaler/version.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1187 Compare in overflow-safe way
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Labels: cncf-cla: yes, lgtm, size/XS

#1189 Add batch jobs and cronjobs to Azure cluster-autoscaler
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard-master.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss-master.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-vmss.yaml
Labels: cncf-cla: yes, lgtm, size/S

#1190 [doc] Replace to link
  cluster-autoscaler/FAQ.md
Labels: cluster-autoscaler, cncf-cla: yes, kind/documentation, lgtm, size/S

#1193 Fix GetClusterSize to return actual size in line with the rest of CSR
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: cncf-cla: yes, lgtm, size/XS

#1183 Initialize eviction restriction with pods controlled by VPA.
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Labels: cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1185 Report reason why pod didn't trigger scale-up
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/predicates.go
  cluster-autoscaler/simulator/predicates_test.go
  cluster-autoscaler/utils/daemonset/daemonset.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1188 Pass NoScaleUpInfo to ScaleUpStatus processor
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
Labels: cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1197 Fix bad syntax for struct tag value in prometheus_util.go
  vertical-pod-autoscaler/pkg/recommender/input/history/prometheus_util.go
Labels: cncf-cla: yes, lgtm, size/S

#1198 Clean up eviction admission no VPAs in the cluster
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Labels: cncf-cla: yes, lgtm, size/S

#1199 Check for ready condition not true
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cluster-autoscaler, cncf-cla: yes, kind/bug, lgtm, size/M

#1153 Add support for customizing qps and burst for recommender via --kubeapi-qps and --kube-api-burst
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler
