Repository kubernetes/autoscaler, pull requests merged in 2018-12, with the labels that each got.

#1466 Fix klog.Warningf error message in gen.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1467 Fix some typos
  cluster-autoscaler/processors/nodegroups/nodegroup_list_processor.go
  cluster-autoscaler/processors/pods/pod_list_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1469 Change Error and State constants to match golang convention
  cluster-autoscaler/cloudprovider/cloud_provider.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#1472 Typo fixed: "Merics" -> "Metrics"
  hack/scripts/ca_metrics_parser.py
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1468 Move ResourceLimiter to separate file
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/resource_limiter.go
  cluster-autoscaler/cloudprovider/resource_limiter_test.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1474 Fix logged error in static autoscaler
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1476 ec2_instance_types CA cherry picks to 1.12
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1477 ec2_instance_types CA cherry picks to 1.3
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1479 Update base debian image for Cluster Autoscaler
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1480 Update base debian image for Cluster Autoscaler
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1482 handle nil nodeGroup in calculateScaleDownGpusTotal
  cluster-autoscaler/core/scale_down.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1478 ec2_instance_types CA cherry picks to 1.2
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1485 Fix aws flaking Unit Tests
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1441 1.12: Backport AWS: Improved balancing
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1486 Update Cluster Autoscaler version to 1.13.1
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1489 Keep one place where default base image for Cluster Austoscaler is defined
  cluster-autoscaler/Makefile
Labels: cncf-cla: yes, size/XS

#1488 Keep one place where default base image for Cluster Austoscaler is defined
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1483 Return stockouts/quota exceeded information from GCE cloud provider
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XL

#1491 Fix some spelling errors
  cluster-autoscaler/proposals/balance_similar.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1492 Cherry-pick of #1485 to 1.12 : Fix aws flaking Unit Tests
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1493 Cherry-pick of #1485 to 1.13 : Fix aws flaking Unit Tests
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1494 Cherry-pick of #1485 to 1.3 : Fix aws flaking Unit Tests
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1495 Cherry-pick of #1485 to master : Fix aws flaking Unit Tests
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1436 Update examples and deployments for new version.
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
  vertical-pod-autoscaler/examples/redis.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1505 Add a tool to convert alpha VPA objects to beta API
  vertical-pod-autoscaler/hack/convert-alpha-objects.sh
Labels: approved, cncf-cla: yes, lgtm, size/M

#1506 Remove namespace from hamster example.
  vertical-pod-autoscaler/examples/hamster.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1504 [doc] Add 1.13
  cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1499 Add cache for resource IDs of vmss instances
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1509 Update docs as part of beta release.
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#1510 Add a tool to convert alpha VPA objects to beta API
  vertical-pod-autoscaler/hack/convert-alpha-objects.sh
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1511 Update docs as part of beta release.
  vertical-pod-autoscaler/README.md
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1514 Make WatchEvictionEventsWithRetries public.
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1502 Azure: Generate meaningful failure-domain.beta.kubernetes.io/zone
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1527 cherry pick node balancing 1.12
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor_test.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/nodegroup_set_processor.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
  cluster-autoscaler/utils/nodegroupset/node_group_set.go
  cluster-autoscaler/utils/nodegroupset/node_group_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1528 cherry pick node balancing 1.3
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor_test.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/nodegroup_set_processor.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
  cluster-autoscaler/utils/nodegroupset/node_group_set.go
  cluster-autoscaler/utils/nodegroupset/node_group_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1522 Cherry-pick of #1499 to 1.12: Add cache for resource IDs of vmss instances
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1523 Cherry-pick of #1499 to 1.13: Add cache for resource IDs of vmss instances
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1524 Cherry-pick of #1499 to 1.2: Add cache for resource IDs of vmss instances
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1525 Cherry-pick of #1499 to 1.3: Add cache for resource IDs of vmss instances
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1517 Fix klog.Errorf() error message
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1529 Treat nodes from same GKE node pool similar
  cluster-autoscaler/utils/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/utils/nodegroupset/compare_nodegroups_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1484 update log output detailed warning info
  cluster-autoscaler/core/utils.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1518 refactor(*): fix golint warning
  cluster-autoscaler/core/scale_down.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1521 Doc: scheduler.alpha.kubernetes.io/critical-pod annotations are deprecated. Use priorityClassName instead.
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/alicloud/README.md
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-standard.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1462 Expose WaitForRecommendationPresent method and extract WaitForVPAMatch.
  vertical-pod-autoscaler/e2e/common.go
  vertical-pod-autoscaler/e2e/full_vpa.go
  vertical-pod-autoscaler/e2e/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1531 refactor(*): fix some golint warning
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1533 VPA: fix README link to API definition
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1538 Less technical, more verbose PDB reference in FAQ
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1539 Add listers for more controllers
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/utils/daemonset/daemonset.go
  cluster-autoscaler/utils/daemonset/daemonset_test.go
  cluster-autoscaler/utils/kubernetes/listers.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1543 Add functions for testing new listers
  cluster-autoscaler/utils/kubernetes/testlisters.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1544 Use listers in scale-down
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/nodes.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1546 Rename nodeGroupBackoffInfo to backoff in ClusterStateRegistry
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S
