Repository kubernetes/autoscaler, pull requests merged in 2018-10, with the labels that each got.

#1290 Create OWNERS on 1.2 branch
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS

#1289 Update OWNERS
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS

#1286 AWS: Support selecting ASG by values - 1.2 Branch
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/node_group_discovery_options.go
  cluster-autoscaler/cloudprovider/node_group_discovery_options_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1283 Updater uses informers to fetch pod controllers.
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1288 Read AWS Region from EC2 Metadata
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1292 If possible use nodeInfo based on created node group
  cluster-autoscaler/core/scale_up.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1294 Recalculate clusterStateRegistry after adding multiple node groups
  cluster-autoscaler/core/scale_up.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1296 Grammar correction in printed error message
  cluster-autoscaler/simulator/drain.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1300 Small clarification in FAQ (how scale-down works)
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1302 Don't move min/max bucket on sub-epsilon samples
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1305 Fix typos issues
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1293 deletetaint: retry on conflicts
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1306 Ignore lo/fluentd-ds-ready when checking node similarity
  cluster-autoscaler/utils/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/utils/nodegroupset/compare_nodegroups_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1314 Add sigdescribe to VPA e2e tests.
  vertical-pod-autoscaler/e2e/common.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1315 VPA recommender/updater main loop fixed.
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1313 Beta API for VPA
  vertical-pod-autoscaler/deploy/vpa-beta-crd.yaml
  vertical-pod-autoscaler/hack/update-codegen.sh
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/doc.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/register.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/clientset.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/fake/clientset_generated.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/fake/register.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/scheme/register.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/doc.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/fake/doc.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/fake/fake_autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/fake/fake_verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/fake/fake_verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/generated_expansion.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/factory.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/generic.go
  vertical-pod-autoscaler/pkg/client/listers/autoscaling.k8s.io/v1beta1/expansion_generated.go
  vertical-pod-autoscaler/pkg/client/listers/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/listers/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1318 Open up common utility functions for VPA e2e tests
  vertical-pod-autoscaler/e2e/actuation.go
  vertical-pod-autoscaler/e2e/admission_controller.go
  vertical-pod-autoscaler/e2e/common.go
  vertical-pod-autoscaler/e2e/full_vpa.go
  vertical-pod-autoscaler/e2e/recommender.go
  vertical-pod-autoscaler/e2e/updater.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1323 Remove Kubemark cloud provider from default build
  cluster-autoscaler/cloudprovider/builder/builder_all.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#1324 Bump CA version to 1.3.4
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1327 Start using beta VPA API
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/e2e/actuation.go
  vertical-pod-autoscaler/e2e/admission_controller.go
  vertical-pod-autoscaler/e2e/common.go
  vertical-pod-autoscaler/e2e/full_vpa.go
  vertical-pod-autoscaler/e2e/recommender.go
  vertical-pod-autoscaler/e2e/updater.go
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/routines/vpa.go
  vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram_test.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_mock.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/priority/pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/test/test_recommendation.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/recommendation_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1326 Ignore lo/fluentd-ds-ready when checking node similarity
  cluster-autoscaler/utils/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/utils/nodegroupset/compare_nodegroups_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1328 Switch admission controller to v1beta1
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1330 Store single ScaleUpRequest per node group
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1282 Adding update_gofmt.sh
  hack/update-gofmt.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1333 Update FAQ: remove info on not existent flag --unregistered-node-removal-time
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1334 Update volume topological scheduling FAQ
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1335 VPA reducing memory pressure for inspecting pod updates
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1339 Fix Go tools on Cluster Autoscaler 1.2 branch
  .travis.yml
  hack/install-verify-tools.sh
  hack/verify-gofmt.sh
  hack/verify-golint.sh
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#1347 Add 2 missing CA flags to param docs
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1349 Add informational UncappedTarged field to VPA api.
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1352 Fix Fatalf format string
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1355 Update FAQ on overprovisioning to account for k8s 1.11
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1340 NodeGroup.Nodes() return Instance struct instead instance name
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/expander/waste/waste_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1341 Move nodegroup balancing to processor, add GKE-specific implementation
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor_test.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/nodegroup_set_processor.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
  cluster-autoscaler/utils/nodegroupset/node_group_set.go
  cluster-autoscaler/utils/nodegroupset/node_group_set_test.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XL

#1356 gce: increase test timeout in TestWaitForOp
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1357 Modify execution_latency_seconds buckets
  vertical-pod-autoscaler/pkg/utils/metrics/metrics.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1360 Fix broken link to VPA Admission Webhook readme
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#1361 Pass on-event oomInfo without creating a new goroutine.
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1364 Protect against negative totalWeight values
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1362 add alibaba cloud doc link
  cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1363 Use real-usage sample to estimate memory usage after OOM
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1365 hack/verify-all.sh: missing negation
  hack/verify-all.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS
