Repository kubernetes/autoscaler, pull requests merged in 2019-01, with the labels that each got.

#1516 fix calculation of max cluster size
  cluster-autoscaler/core/scale_up.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1553 Cluster Autoscaler 1.3.5
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1337 Cluster Autoscaler 1.2.4
  cluster-autoscaler/version.go
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1560 Add interface for OOM observer.
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1550 Pass nodeGroup->NodeInfo map to ClusterStateRegistry
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1567 Use model abstractions in OomInfo
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1568 OOM observer implements ResourceEventHandler
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
Labels: approved, cncf-cla: yes, lgtm, vertical-pod-autoscaler

#1552 Update FAQ.md
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1570 Add some contact details for Baiducloud cluster-autoscaler
  cluster-autoscaler/cloudprovider/baiducloud/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1490 Set AWS_REGION so tests don't wait for SDK timeout #1449
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1579 Cluster Autoscaler 1.12.2
  cluster-autoscaler/version.go
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1573 VPA: Use downward API to set namespace for webhook service reference
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1582 Replace the deprecated function calls of go-autorest
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1575 Fix some typos in comment
  cluster-autoscaler/cloudprovider/alicloud/README.md
  cluster-autoscaler/cloudprovider/aws/README.md
  vertical-pod-autoscaler/e2e/e2e.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1583 Azure: update docs to ensure aks/aks-engine autoscaler users provide the resource group name correctly
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1585 VPA - protection against malformed pod status in OomObserver
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1601 Update default priority cutoff value in FAQ.md
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1600 Cherry pick: More flexible VPA certificate configuration #1534
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1605 Cherry pick: Use downward API to set namespace for webhook service reference #1573
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1587 Tainting unneeded nodes as PreferNoSchedule
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/main.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1598 Tainting nodes - update first, refresh on conflict
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1599 Refactor tests of tainting
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1617 Remove identity from Azure VMSS scale request as it is not allowed to be set
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1596 Added better checks for filterSchedulablePods and added a tunable fla…
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/scheduler/scheduler.go
  cluster-autoscaler/utils/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1606 Add flag to configure the prometheus job name to be used when fetching the history data
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1609 Cherry-pick: VPA - protection against malformed pod status in OomObserver #1585
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1630 VPA release 0.3.1
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1621 add prometheus as history provider to FAQ
  vertical-pod-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1632 Update base Debian image for VPA
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1633 Update base Debian image for VPA
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1634 Cherrypick of #1293: deletetaint retry on conflicts 1.3
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1635 Cherry-pick of #1293: deletetaint: retry on conflicts
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L
