Repository kubernetes/autoscaler, pull requests merged in 2019-10, with the labels that each got.

#2405 CA: Invalidate node instances cache after deleting failed/unregistered nodes
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2406 VPA version 0.6.2
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2401 Add g4dn instance type for AWS
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2413 Rebase VPA to distroless
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S

#2412 Rebase VPA to distroless
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S

#2414 Rebase VPA to distroless
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S

#2415 VPA release 0.6.3
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2416 Move default VPA deployment to 0.6.3
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2397 CA 1.14 cherry-pick #2248
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/ec2.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2404 Update RBAC in examples to include csinodes permission
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2403 aws: examples: Delete trailing whitespace
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2408 backport of PR #2207 to 1.15
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2409 backport of PR #2207 to 1.14
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2410 backport of PR #2207 to 1.13
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2420 Bump go to 1.12.10 to mitigate security issues
  builder/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2421 Bump go to 1.12.10 to mitigate security issues
  builder/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2422 Bump go to 1.12.10 to mitigate security issues
  builder/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2424 Bump go to 1.11.13 to mitigate security issues
  builder/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2423 Bump go to 1.12.10 to mitigate security issues
  builder/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2428 AWS – use `session.NewSession` instead of `session.New` to
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2437 Remove e2e tests for v1beta1
  vertical-pod-autoscaler/e2e/v1beta1/actuation.go
  vertical-pod-autoscaler/e2e/v1beta1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1beta1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta1/common.go
  vertical-pod-autoscaler/e2e/v1beta1/e2e.go
  vertical-pod-autoscaler/e2e/v1beta1/e2e_test.go
  vertical-pod-autoscaler/e2e/v1beta1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta1/recommender.go
  vertical-pod-autoscaler/e2e/v1beta1/updater.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#2440 Cherry pick #2385 #2401 #2428 to 1.16
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2441 Cherry pick #2385 #2401 #2428 to 1.15
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2442 Cherry pick #2385 #2401 #2428 to 1.14
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2443 Cherry pick #2401 to 1.13
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2433 priority expander: Documentation updates
  cluster-autoscaler/expander/priority/readme.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2450 Rename GetCreatedNodesWithOutOfResourcesErrors to GetCreatedNodesWithErrors
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2249 Generate EC2 Instance Type list in runtime
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#2455 fix the webhook-address and webhook-port reference for vpa-admission-…
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2456 Less aggresive create errors reporting for GCE
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2459 Cluster Autoscaler 1.15.3
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2458 Cluster Autoscaler 1.16.2
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2460 Cluster Autoscaler 1.14.6
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2464 Cherry pick #2428 to 1.13
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2461 Update magnum example deployment with image built by magnum CI
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment-master.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#2468 Cluster Autoscaler 1.13.8
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2448 cluster-autoscaler: fix some typos in the code
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_manager.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/doc.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/doc.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/networking/v2/extensions/security/rules/results.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/pagination/pager.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/utils.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2426 doks: fix max size check, support increase to max
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2427 doks: use providerID for node.ID
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/.gitignore
  cluster-autoscaler/cloudprovider/digitalocean/godo/.travis.yml
  cluster-autoscaler/cloudprovider/digitalocean/godo/CHANGELOG.md
  cluster-autoscaler/cloudprovider/digitalocean/godo/VENDORED_VERSION
  cluster-autoscaler/cloudprovider/digitalocean/godo/databases.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/databases_test.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/firewalls_test.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/go.sum
  cluster-autoscaler/cloudprovider/digitalocean/godo/godo.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/kubernetes.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/kubernetes_test.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/load_balancers_test.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/util/droplet.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/util/droplet_test.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#2482 [aws] minor documentation fixes
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#2478 fix golint failures
  cluster-autoscaler/cloudprovider/digitalocean/godo/projects.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/blockstorage/extensions/volumeactions/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/blockstorage/v2/volumes/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/blockstorage/v3/volumes/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/results.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/containerinfra/v1/clusters/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/identity/v3/tokens/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/networking/v2/extensions/lbaas_v2/pools/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/orchestration/v1/stacks/requests.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2484 Update RBAC in Azure examples to include csinodes permission
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#2326 Add rate limiter to the Vertical Pod autoscaler updater component
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#2477 Fix ineffassign failures
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/gce_url_test.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2121 feat: enable min/max on Azure VMSS autodiscovery
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/node_group_discovery_options.go
  cluster-autoscaler/cloudprovider/node_group_discovery_options_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#2494 Fix config assignment issue
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2462 Add AWS ignore labels and increase max memory difference.
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/aws_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#2500 Cherry pick 2494 to 1.14: Fix config assignment issue
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2502 Cherry pick 2494 to 1.16: Fix config assignment issue
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2499 Cherry pick 2494 to 1.13: Fix config assignment issue
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2501 Cherry pick 2494 to 1.15: Fix config assignment issue
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2497 cherry-pick 2096 to 1.15 - Fix SEGV in updateReadinessStats
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
