Repository kubernetes/autoscaler, pull requests merged in 2019-04, with the labels that each got.

#1848 Fix default scale down delay after delete
  cluster-autoscaler/main.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1850 VPA deployment switched to 0.5.0
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1823 Add a note for 0.5.0 release.
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1851 Add steps to use AWS Credentials for on premise case
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#1857 Document behavior of min_nodes and max_nodes
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1589 Consider GPU utilization in scaling down
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1864 Upgrade CA version in aws example and fix autodiscover example
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1863 cloudprovider/azure: fix formatting directive
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1847 Only refresh instances cache for one mig on cache miss in GetMigForInstance
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1846 YAML linting Azure examples
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
Labels: approved, azure, cluster-autoscaler, cncf-cla: yes, lgtm, size/XXL

#1867 Yaml linting baiducloud examples
  cluster-autoscaler/cloudprovider/baiducloud/examples/cluster-autoscaler-one-asg.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#1865 Bug fix - #1837
  cluster-autoscaler/fix_gopath.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1871 Yaml linting magnum examples
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment-master.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-svcaccount.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1856 Adding Migration Doc.
  vertical-pod-autoscaler/MIGRATE.md
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#1875 Support GCP new GPU types - P4 and T4
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gpu.go
  cluster-autoscaler/cloudprovider/gce/gpu_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1874 Linting vertical-pod-autoscaler examples
  vertical-pod-autoscaler/examples/hamster-deprecated.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
  vertical-pod-autoscaler/examples/redis-deprecated.yaml
  vertical-pod-autoscaler/examples/redis.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1872 Separate mig-basename caching in GceCache
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1878 Fix garbage collection for empty aggregate container states.
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1879 Basic unit tests for VPA server
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1873 Fixes for CA Magnum cloud provider
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
  cluster-autoscaler/cloudprovider/magnum/magnum_manager.go
  cluster-autoscaler/cloudprovider/magnum/magnum_manager_heat.go
  cluster-autoscaler/cloudprovider/magnum/magnum_manager_heat_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1881 Add logging for errors on adding samples.
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1883 Yaml linting vertical-pod-autoscaler deploy files
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/deploy/vpa-beta-crd.yaml
  vertical-pod-autoscaler/deploy/vpa-beta2-crd.yaml
  vertical-pod-autoscaler/deploy/vpa-crd.yaml
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#1884 Enable race detection in CA test-in-docker make target
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1885 Update go to 1.12.1
  builder/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1880 Vpa server unit test
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1892 Enable race detection in unit tests (CA 1.12)
  cluster-autoscaler/Makefile
  hack/for-go-proj.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1893 Enable race detection in unit tests (CA 1.3)
  cluster-autoscaler/Makefile
  hack/for-go-proj.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1890 Enable race detection in unit tests (CA 1.13)
  cluster-autoscaler/Makefile
  hack/for-go-proj.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1891 Update go version to 1.12 in check script and travis config
  .travis.yml
  hack/check-go-version.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1889 Disable failing priority expander tests
  cluster-autoscaler/expander/priority/priority_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1887 Enable race detection in Travis tests
  hack/for-go-proj.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1894 Remove go version check
  hack/check-go-version.sh
  hack/install-verify-tools.sh
  hack/verify-all.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#1888 Enable race detection in unit tests (CA 1.14)
  cluster-autoscaler/Makefile
  hack/for-go-proj.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1897 change the available GPU types in alibaba cloud
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1882 Rebase addon-resizer to distroless
  addon-resizer/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S

#1896 Add notes about aks vmss to azure readme.
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1877 Migrate filter out schedulabe to PodListProcessor
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/filter_out_schedulable.go
  cluster-autoscaler/core/filter_out_schedulable_test.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test_utils.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/callbacks/processor_callbacks.go
  cluster-autoscaler/processors/pods/pod_list_processor.go
  cluster-autoscaler/processors/pods/pod_list_processor_test.go
  cluster-autoscaler/processors/processors.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1895 Keep track of VPAs with no recommendation.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1904 [Cherry pick] Fix garbage collection for empty aggregate container states.
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1903 [Cherry pick] Fix garbage collection for empty aggregate container states.
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1843 Priority expander relies now on listers instead of direct watch api
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/expander/factory/expander_factory.go
  cluster-autoscaler/expander/priority/configmap_handler.go
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
  cluster-autoscaler/utils/errors/errors.go
  cluster-autoscaler/utils/kubernetes/listers.go
  cluster-autoscaler/utils/kubernetes/testlisters.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1868 Added memory saver mode for VPA recommender
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1855 Update MIG target size cache via LIST api call
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_target_sizes_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1908 [Cherry-pick] Keep track of VPAs with no recommendation.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1909 [cherry-pick] Keep track of VPAs with no recommendation.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1912 [cherry-pick] Add logging for errors on adding samples.
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1913 [cherry-pick] Add logging for errors on adding samples.
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1917 Query target size of single MIG if listing migs fails + tests cleanup
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_target_sizes_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1915 Set appropriate conditions on VPAs with no active pods matched.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1919 [cherry-pick] Mark VPAs with no pods matched.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1918 [Cherry pick] Mark VPAs with no pods matched.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#1910 Validate that targetRef if set is a top level controller
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1921 Unset NoPodsMatched if pods match
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1922 [cherry-pick] Unset NoPodsMatched if pods match
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1923 [cherry-pick] Unset NoPodsMatched if pods match
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1924 VPA - add monitoring of VPA object with unsupported config condition.
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1925 [cherry-pick] VPA - addmonitoring of VPA object with unsupported config condition.
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1926 [cherry-pick] VPA - addmonitoring of VPA object with unsupported config condition.
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1927 Validate that targetRef if set is a top level controller
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1928 Validate that targetRef if set is a top level controller
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1929 Vertical Pod Autoscaler version 0.4.1
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1920 priority expander based on client-go for cluster autoscaler is missing permissions
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
  cluster-autoscaler/cloudprovider/baiducloud/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-svcaccount.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1931 Cherry-pick of #1841: Update aws RefreshInterval to 1 minute
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1932 Cherry-pick of #1841: Update aws RefreshInterval to 1 minute
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1933 Cherry-pick of #1841: Update aws RefreshInterval to 1 minute
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1934 Cherry-pick of #1841: Update aws RefreshInterval to 1 minute
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1938 Cluster autoscaler 1.12: cherry pick of #1777
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1939 Cluster autoscaler 1.3: cherry pick of #1777
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1937 Cluster autoscaler 1.13: cherry pick of #1777
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1861 Fix: failed forbidden Jobs
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1940 Add VPA FAQs anchor links
  vertical-pod-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1944 Add Jiaxin Shan(Jeffwan@) as reviewer
  cluster-autoscaler/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1942 CA FAQs - Clarify error situations support
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1941 Return read bytes while reading certs
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1886 Add support for AWS ASG mixed instances policy
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1935 Add cache to getInstanceTypeByLCName for avoid aws rate limit
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1951 Cluster Autoscaler 1.14.1
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1952 Cluster Autoscaler 1.13.3
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1953 Cluster Autoscaler 1.12.4
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1954 Cluster Autoscaler 1.3.9
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1950 Break getPatchesForPodResourceRequest into smaller functions
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1955 Update debian-base-amd64 to v1.0.0 in Makefile
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1956 Cherry pick of #1935 on cluster-autoscaler-release-1.14: Add cache to getInstanceTypeByLCName for avoid aws rate limit
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1957 Cherry pick of #1935 on cluster-autoscaler-release-1.13: Add cache to getInstanceTypeByLCName for avoid aws rate limit
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1958 Cherry pick of #1935 on cluster-autoscaler-release-1.12: Add cache to getInstanceTypeByLCName for avoid aws rate limit
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1959 Cluster Autoscaler 1.13.4
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1960 Cluster Autoscaler 1.14.2
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1961 Cluster Autoscaler 1.12.5
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1964 Bump VPA image in deployment files
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#1965 Vertical Pod Autoscaler version 0.5.1
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#1914 Note that `--provider-id` is required for self-managed kubelets
  cluster-autoscaler/cloudprovider/alicloud/README.md
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1968 Support VPA pre processor
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/vpa_pre_processor.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1969 Bump VPA version to 0.5.1
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1971 Code Cleanup
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1970 Add m5ad, r5ad and t3a instance families
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, aws, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1973 Export VpaPreProcessor interface
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/vpa_pre_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1978 Receive v1beta2 VPAs
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1947 Provide ScaleDownStatusProcessor with more info about scale-down results
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1967 Modify the info passed to ScaleDownStatusProcessor when empty nodes a…
  cluster-autoscaler/core/scale_down.go
Labels: approved, cncf-cla: yes, lgtm, size/M
