Repository kubernetes/autoscaler, pull requests merged in 2019-02, with the labels that each got.

#1637 Cherry-pick of #1474: Fix logged error in static autoscaler
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1636 Cherry-pick of #1474: Fix logged error in static autoscaler
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1641 Fix windows name parsing for Azure VMAS nodes
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#1644 Cluster Autoscaler 1.3.6
  cluster-autoscaler/version.go
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1638 Default VPA version 0.3.1
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1603 Remove kawych, piosz and x13n from Addon Resizer OWNERS
  addon-resizer/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1353 Remove vertical-pod-autoscaler dependencies on k/k
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#1626 Use klog instead of log
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud-sdk-go/util/util.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1655 Correct apiVersion in dynamic provisionning 1.11
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1662 Don't panic on unknown aws instance type
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1667 Allow passing EXCLUDE variable for verify-all.sh
  hack/verify-all.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1643 Capacity prediction based on physical memory
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
  cluster-autoscaler/cloudprovider/gke/gke_manager_test.go
  cluster-autoscaler/cloudprovider/gke/reserved.go
  cluster-autoscaler/cloudprovider/gke/reserved_test.go
  cluster-autoscaler/cloudprovider/gke/templates.go
  cluster-autoscaler/cloudprovider/gke/templates_test.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/estimator/basic_estimator_test.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/expander/price/preferred.go
  cluster-autoscaler/expander/price/price.go
  cluster-autoscaler/expander/price/price_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/units/units.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1663 Updated aws instance types actual for 2019.02.10
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, aws, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1656 Adding ability to override allocatable resources via ASG tags.
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, aws, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#1673 Cherry-pick of #1288: Read AWS Region from EC2 Metadata
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1671 Cherry-pick of #1288: Read AWS Region from EC2 Metadata
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1670 Update AWS documentation and CA version in examples
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1672 VPA v1beta2 API - selector removed, checkpoints included in v1beta2.
  vertical-pod-autoscaler/deploy/vpa-beta2-crd.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/fake/fake_autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/fake/fake_verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/generated_expansion.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/generic.go
  vertical-pod-autoscaler/pkg/client/listers/autoscaling.k8s.io/v1beta2/expansion_generated.go
  vertical-pod-autoscaler/pkg/client/listers/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1677 Cherry-pick of #1490: Set AWS_REGION so tests don't wait for SDK timeout #1449
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1678 Cherry-pick of #1490: Set AWS_REGION so tests don't wait for SDK timeout #1449
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1679 fix(expander): avoid panic when random expander
  cluster-autoscaler/expander/mostpods/mostpods_test.go
  cluster-autoscaler/expander/random/random.go
  cluster-autoscaler/expander/random/random_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1685 VPA - Introduce scale reader role
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1683 VPA: add YAML start of a document marks
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/deploy/vpa-beta-crd.yaml
  vertical-pod-autoscaler/deploy/vpa-beta2-crd.yaml
  vertical-pod-autoscaler/deploy/vpa-crd.yaml
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1686 Remove codelingo configs
  .codelingoignore
  codelingo.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1687 VPA - Introduce VpaTargetSelectorFetcher
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/target/mock/fetcher_mock.go
  vertical-pod-autoscaler/pkg/target/v1beta1_fetcher.go
  vertical-pod-autoscaler/pkg/target/v1beta1_fetcher_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1688 VPA beta2 CRD - version that supports v1beta1 too.
  vertical-pod-autoscaler/deploy/vpa-beta2-crd.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/register.go
Labels: approved, cncf-cla: yes, lgtm

#1682 Cherry-pick of #1643: Capacity prediction based on physical memory
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
  cluster-autoscaler/cloudprovider/gke/gke_manager_test.go
  cluster-autoscaler/cloudprovider/gke/reserved.go
  cluster-autoscaler/cloudprovider/gke/reserved_test.go
  cluster-autoscaler/cloudprovider/gke/templates.go
  cluster-autoscaler/cloudprovider/gke/templates_test.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/estimator_test.go
  cluster-autoscaler/expander/price/preferred.go
  cluster-autoscaler/expander/price/price.go
  cluster-autoscaler/expander/price/price_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/units/units.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1689 Cherry-pick of #1643: Capacity prediction based on physical memory
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/estimator_test.go
  cluster-autoscaler/expander/price/preferred.go
  cluster-autoscaler/expander/price/price.go
  cluster-autoscaler/expander/price/price_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/units/units.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1693 VPA - Implement obtaining selector from well known controllers
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/target/fetcher.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1695 Cherry-pick of #1643: Capacity prediction based on physical memory
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
  cluster-autoscaler/cloudprovider/gke/gke_manager_test.go
  cluster-autoscaler/cloudprovider/gke/reserved.go
  cluster-autoscaler/cloudprovider/gke/reserved_test.go
  cluster-autoscaler/cloudprovider/gke/templates.go
  cluster-autoscaler/cloudprovider/gke/templates_test.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/estimator/basic_estimator_test.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/expander/price/preferred.go
  cluster-autoscaler/expander/price/price.go
  cluster-autoscaler/expander/price/price_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/units/units.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1697 Cluster Autoscaler 1.3.7
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1696 VPA - Switch to v1beta2 api
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/hack/vpa-apply-upgrade.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/routines/vpa.go
  vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram_test.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_mock.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
  vertical-pod-autoscaler/pkg/target/composite_fetcher.go
  vertical-pod-autoscaler/pkg/target/v1beta1_fetcher_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/test/test_recommendation.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/recommendation_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1699 VPA - e2e tests for v1beta2 API
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/e2e/v1beta1/actuation.go
  vertical-pod-autoscaler/e2e/v1beta1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1beta1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta1/common.go
  vertical-pod-autoscaler/e2e/v1beta1/e2e.go
  vertical-pod-autoscaler/e2e/v1beta1/e2e_test.go
  vertical-pod-autoscaler/e2e/v1beta1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta1/recommender.go
  vertical-pod-autoscaler/e2e/v1beta1/updater.go
  vertical-pod-autoscaler/e2e/v1beta2/actuation.go
  vertical-pod-autoscaler/e2e/v1beta2/admission_controller.go
  vertical-pod-autoscaler/e2e/v1beta2/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e_test.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/updater.go
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
  vertical-pod-autoscaler/pkg/target/fetcher.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1651 Fix readme to reflect addon-resizer version 2.1.
  addon-resizer/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1700 VPA - fix names of files with junit test results
  vertical-pod-autoscaler/e2e/v1beta1/e2e.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1701 Vertical Pod Autoscaler version 0.4.0
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#1702 VPA - disable errexit in run e2e scripts
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
  vertical-pod-autoscaler/hack/run-e2e.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1704 Update VPA to beta in main README
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1706 Add version field to spec
  vertical-pod-autoscaler/deploy/vpa-beta2-crd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1705 VPA - check ConfigDeprecated condition for v1beta1 e2e tests
  vertical-pod-autoscaler/e2e/v1beta1/common.go
  vertical-pod-autoscaler/e2e/v1beta1/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1703 Fix error message for long-waiting operations
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1664 Add the ability to better pass additional arguments to containers
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#1692 VPA: Remove TLS client cert lookup logic
  vertical-pod-autoscaler/pkg/admission-controller/config.go
Labels: approved, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#1718 Add SECURITY_CONTACTS
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, size/S

#1713 Rename vpa-target-reader ClusterRoleBinding name
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1723 Add labels support for Alibaba Cloud Provider
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_manager.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1613 Some configurable parameters
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1727 VPA - add label api to vpa_objects_count metric
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1722 Control deprecation of v1beta1 api
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1725 Godeps update to pull in klog
  vertical-pod-autoscaler/Godeps/Godeps.json
  vertical-pod-autoscaler/vendor/k8s.io/klog/.travis.yml
  vertical-pod-autoscaler/vendor/k8s.io/klog/CONTRIBUTING.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/LICENSE
  vertical-pod-autoscaler/vendor/k8s.io/klog/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/klog/README.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/RELEASE.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/SECURITY_CONTACTS
  vertical-pod-autoscaler/vendor/k8s.io/klog/code-of-conduct.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/klog.go
  vertical-pod-autoscaler/vendor/k8s.io/klog/klog_file.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/api/testapi/BUILD
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/api/testapi/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/api/testapi/testapi.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/BUILD
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/install/BUILD
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/install/install.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/register.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/types.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/v1beta1/BUILD
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/v1beta1/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/v1beta1/register.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/v1beta1/zz_generated.conversion.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/v1beta1/zz_generated.defaults.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/admission/zz_generated.deepcopy.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/BUILD
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/install/BUILD
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/install/install.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/register.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/types.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/v1alpha1/BUILD
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/v1alpha1/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/v1alpha1/register.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/v1alpha1/zz_generated.conversion.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/v1alpha1/zz_generated.defaults.go
  vertical-pod-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/imagepolicy/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1721 Only soft taint nodes if there's no scale down to do
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1720 Use separate client for events
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/main.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#1733 VPA - Expose TargetRef in VPA model struct.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1625 Allow vpa-admission-controler to installl on specific path
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1680 Use k8s.io/klog instead of glog
  vertical-pod-autoscaler/e2e/v1beta1/e2e.go
  vertical-pod-autoscaler/e2e/v1beta1/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/metrics/metrics.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1736 Fix nil reference in admission controller registration.
  vertical-pod-autoscaler/pkg/admission-controller/config.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1737 Missing ginkgo import
  vertical-pod-autoscaler/e2e/v1beta1/e2e.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
