Repository kubernetes/autoscaler, pull requests merged in 2019-08, with the labels that each got.

#2226 Remove unused import
  vertical-pod-autoscaler/e2e/v1beta1/common.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2131 update images, they reference the wrong version
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2230 CA 1.13: cherry pick of #1970, #1864 and #1740
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#2234 Update README.md
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2238 Don't attempt to delete aggregation from VPA if it doesn't exist
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2229 CA 1.14: cherry pick of #1970, #1864 and #1861
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#2231 CA 1.12: cherry pick of #1970, #1864, #1740 and #1386
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#2256 Fix the script used by CI to run unit tests after go mod changes
  hack/for-go-proj.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#2258 cloudprovider/digitalocean: fix unit tests
  cluster-autoscaler/cloudprovider/digitalocean/godo/VENDORED_VERSION
  cluster-autoscaler/cloudprovider/digitalocean/godo/util/droplet.go
  cluster-autoscaler/cloudprovider/digitalocean/godo/util/droplet_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2254 Communicate the result of RemoveUnneededNodeGroups to ScaleDownStatus…
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/nodegroups/nodegroup_manager.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2255 Provide more info to ScaleUpStatusProcessor
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2261 Look at all versions of VPA objects.
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#2263 Look at all versions of VPA objects. [cherry-pick of #2261]
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#2264 Look at all versions of VPA objects. [cherry-pick of #2261]
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#2262 Look at all versions of VPA objects. [cherry-pick of #2261]
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#2247 Return error if aws fail to find nodegroup for node
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2216 CA 1.12: cherry pick of #1261
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, area/provider/aws, cherrypick, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#2233 Adding ScaleDownNodeProcessor
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/core/utils_test.go
  cluster-autoscaler/processors/nodes/pre_filtering_processor.go
  cluster-autoscaler/processors/nodes/pre_filtering_processor_test.go
  cluster-autoscaler/processors/nodes/types.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/utils/utils.go
  hack/verify-golint.sh
Labels: approved, cncf-cla: yes, lgtm, size/XL

#2265 Add magnum to list of supported cloud providers
  cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2244 fix: increase exponential backoff duration regardless of backoff status
  cluster-autoscaler/utils/backoff/exponential_backoff.go
  cluster-autoscaler/utils/backoff/exponential_backoff_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2259 Provide ScaleUpStatusProcessor with info about all rejected node groups
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2235 correctly handle lack of capacity of AWS spot ASGs
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/clusterstate/utils/node_instances_cache.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2266 VPA Recommender: Use WSS from Prometheus provider
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2241 Fix linker flags in CA Makefile
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S

#2267 Make VPA CRD specification OpenAPIV3 compliant
  vertical-pod-autoscaler/deploy/vpa-beta2-crd.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#2237 [CA][Azure] Ignore nodes that have no ProviderID. (kubernetes#2236)
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2269 Make sure selector field is validated
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#2271 Make sure selector field is validated
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#2272 Make sure selector field is validated
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#2248 Add MixedInstancesPolicy struct to better handle instance type
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/ec2.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2283 cluster-autoscaler/metrics: add a summary for function duration
  cluster-autoscaler/metrics/metrics.go
Labels: approved, cncf-cla: yes, lgtm, size/S
