Repository kubernetes/autoscaler, pull requests merged in 2019-03, with the labels that each got.

#1740 Regenerate the ec2 instance types using latest metadata
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1742 Add Index for VPA Docs
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/pkg/admission-controller/README.md
  vertical-pod-autoscaler/pkg/recommender/README.md
  vertical-pod-autoscaler/pkg/updater/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#1739 Add missing daemonsets to AWS example cluster role
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, aws, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1743 Correctly set condition when recommendation is not present
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1738 Cluster Autoscaler: add GetInstanceID() for cloudprovider interface
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/mocks/CloudProvider.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1735 Added target size cache to gceCache for GKEMig
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1746 Improve AWS "gotchas" list and discoverability of cloud-provider READMEs.
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1752 Update to debian-base-0.4.1
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1753 Cluster Autoscaler 1.2.5
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1757 Cluster Autoscaler 1.2 : cherry pick of #1738
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1756 Cluster Autoscaler 1.12 : cherry pick of #1738
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1758 Cluster Autoscaler 1.3 : cherry pick of #1738
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1755 Cluster Autoscaler 1.13 : cherry pick of #1738
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1759 Update debian-base image to 0.4.1
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1761 Update debian-base image to 0.4.1
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1762 Update debian-base image to 0.4.1
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1760 Update debian-base image to 0.4.1
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1763 Use docker in gofmt verification
  hack/verify-gofmt.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1764 Cluster Autoscaler 1.3.8
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1765 Cluster Autoscaler 1.12.3
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1766 Cluster Autoscaler 1.13.2
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1768 Fixing minor error handling bug in static autoscaler
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1770 Cluster Autoscaler 1.14.0-beta.1
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1771 UPSTREAM: <carry>: fix max cluster size calculation on scale up
  cluster-autoscaler/core/scale_up.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1769 Cluster Autoscaler: Cleanup GetInstanceID() interface
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/mocks/CloudProvider.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: approved, azure, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1773 Update embargo doc link in SECURITY_OWNERS and change PST to PSC
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1780 Soft taint when there are no candidates
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1777 Fix bulk removal issues of AKS scaling
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_container_service_pool.go
Labels: approved, azure, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1782 Call CloudProvider.Refresh before getNodeInfosForGroups
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1783 Delete support for v1beta1 API w/o deleting the API itself.
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1785 Forbid creating VPA objects without targetRef
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1745 Allow custom AWS region overrides #1707
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, aws, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#1789 Update cluster-autoscaler image to 1.13.2 in yaml files
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1792 don't log before parsing flags in nanny
  addon-resizer/nanny/main/pod_nanny.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1791 Notes about multiple AWS AZ and PV
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1794 Update scheduler initialization in predicates.go
  cluster-autoscaler/simulator/predicates.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/api/latest/latest.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/api/v1/doc.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/api/v1/register.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/api/v1/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/api/v1/zz_generated.deepcopy.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/eventhandlers.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1796 Cluster Autoscaler 1.14.0-beta.2
  cluster-autoscaler/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1781 Remove GKE Cloud provider
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_gce.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1.go
  cluster-autoscaler/cloudprovider/gke/autoscaling_gke_client_v1beta1_test.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider.go
  cluster-autoscaler/cloudprovider/gke/gke_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gke/gke_manager.go
  cluster-autoscaler/cloudprovider/gke/gke_manager_test.go
  cluster-autoscaler/cloudprovider/gke/gke_metrics.go
  cluster-autoscaler/cloudprovider/gke/gpu.go
  cluster-autoscaler/cloudprovider/gke/gpu_test.go
  cluster-autoscaler/cloudprovider/gke/reserved.go
  cluster-autoscaler/cloudprovider/gke/reserved_test.go
  cluster-autoscaler/cloudprovider/gke/templates.go
  cluster-autoscaler/cloudprovider/gke/templates_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/gke_compare_nodegroups_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1804 Cluster Autoscaler 1.14.0
  cluster-autoscaler/version.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#1805 Disable running beta1 e2e tests
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1806 Add information about node affinity to the FAQ
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1816 Adding steps to register VPA-Admission-Controller on specific path.
  vertical-pod-autoscaler/pkg/admission-controller/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1819 Fix Godeps.json
  cluster-autoscaler/Godeps/Godeps.json
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1815 Adding link to Sig-Autoscaling for better reference.
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1801 New expander: priority expander
  cluster-autoscaler/.gitignore
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-containerservice.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-master.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
  cluster-autoscaler/cloudprovider/baiducloud/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/expander/expander.go
  cluster-autoscaler/expander/factory/expander_factory.go
  cluster-autoscaler/expander/priority/configmap_handler.go
  cluster-autoscaler/expander/priority/priority-expander-configmap.yaml
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
  cluster-autoscaler/expander/priority/readme.md
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1822 Vertical Pod Autoscaler version 0.5.0
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1824 VPA recommender: use rate() to query CPU historical usage from promet…
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1818 Fixing YAML formatting issues for AWS examples
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#1584 Move GPULabel and GPUTypes to cloud provider
  .gitignore
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
  cluster-autoscaler/cloudprovider/mocks/CloudProvider.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/expander/factory/expander_factory.go
  cluster-autoscaler/expander/price/price.go
  cluster-autoscaler/expander/price/price_test.go
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/gpu/gpu_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1825 Use debian-base-amd64:v1.0.0
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1826 Update base debian images used by VPA to 1.0.0
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1827 Update base debian images used by VPA to 1.0.0
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: approved, cherrypick, cncf-cla: yes, lgtm, size/XS

#1830 Use debian-base-amd64:v1.0.0
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1832 Use debian-base-amd64:v1.0.0
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1829 Use debian-base-amd64:v1.0.0
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1831 Use debian-base-amd64:v1.0.0
  cluster-autoscaler/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1833 Correct VPA Readme anchor links
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1834 Correct base image tag.
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1835 Correct base image tag.
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1837 Cleaning up the fix_gopath.sh
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/fix_gopath.sh
Labels: approved, cncf-cla: yes, lgtm, size/M

#1841 Update aws RefreshInterval to 1 minute
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
