Repository kubernetes/autoscaler, pull requests merged in 2020-06, with the labels that each got.

#2925 Fix misspelled parenthesis
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3165 Remove docker -it flag from addon-resizer Makefile
  addon-resizer/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3084 backport #2171: ignore azure agentpool label when comparing nodegroups for similarity
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS

#3141 Avoid sending extra deletion calls for in-progress deletions
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3166 Add a metric for observing recommendation stability & changes.
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/quality/quality.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3171 [CA-1.18] #2940 cherry-pick CAPI: Stop panicking in newMachineController
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/M

#3176 Update FAQ on how to change min-replicas for updater
  vertical-pod-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#3181 Cherry-pick #3141: Avoid sending extra deletion calls for in-progress deletions
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/L

#3179 Cherry-pick #3141: Avoid sending extra deletion calls for in-progress deletions
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/L

#3180 Cherry-pick #3141: Avoid sending extra deletion calls for in-progress deletions
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/L

#3178 Cherry-pick #3141: Avoid sending extra deletion calls for in-progress deletions
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/L

#3177 Fix stale replicas issue with cluster-autoscaler CAPI provider
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machinedeployment.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_scalableresource.go
  cluster-autoscaler/cloudprovider/clusterapi/machinedeployment_types.go
  cluster-autoscaler/cloudprovider/clusterapi/machineset_types.go
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/L

#3172 [CA-1.18] #2983 cherry-pick: ClusterAPI Provider: Provide fake proivder IDs for failed Machines
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_converters.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/machine_types.go
  cluster-autoscaler/cloudprovider/clusterapi/zz_generated.deepcopy.go
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/L

#3184 Minor optimization to addon-resizer
  addon-resizer/nanny/kubernetes_client.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3192 return correct error type for GetScaleSetVms
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS

#3189 Fix bad cherry pick #3141 for 1.17
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/S

#3187 1.15: Fix bad cherry-pick from #3141
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/S

#3188 1.16: Fix bad cherry pick from #3141
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/S

#3190 1.18: fix bad cherry-pick for #3141
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS

#3175 [CA-1.18] #3057 cherry-pick: CAPI: Do not normalize Node IDs outside of CAPI provider
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/S

#3034 Improve delete node mechanisms for cluster-api autoscaler provider
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machinedeployment.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_scalableresource.go
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/M

#3186 Use golang1.14.4 to compile AddonResizer
  addon-resizer/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3193 Bump addon-resizer image to 1.8.10
  addon-resizer/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3191 fix gofmt and lint issues
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/cache_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/metrics.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3122 Add history resolution and use prometheus client
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/prometheus_client.go
  vertical-pod-autoscaler/pkg/recommender/input/history/prometheus_client_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/prometheus_util.go
  vertical-pod-autoscaler/pkg/recommender/input/history/prometheus_util_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/vendor/github.com/prometheus/client_golang/api/client.go
  vertical-pod-autoscaler/vendor/github.com/prometheus/client_golang/api/prometheus/v1/api.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3195 Azure: Replace fake storages with mock clients in unit tests.
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, size/XL

#3197 add CAPI prerequisites section to cluster-autoscaler README
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: approved, area/provider/cluster-api, cncf-cla: yes, kind/documentation, lgtm, size/XS

#3200 DigitalOcean: do not use provider ID for node ID
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#3207 Fix go fmt errors
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/simulator/cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3209 VPA e2e tests check for non-0 minimal recommendation
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3211 Fix use of log2 label value
  vertical-pod-autoscaler/pkg/utils/metrics/quality/quality.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3214 VPA min allowed test should not rely on artificial minimal recommendation
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3185 cluster-autoscaler: use generated instance types
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#3222 Fix AWS CA tests for InstanceType generation changes
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3221 switch scalesets to delete asynchronously without waiting on future
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#3232 Bring VPA readme up to date.
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#3228 Azure: Add test cases for azure_cache.go.
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, size/M

#3231 Azure: Delete containerServicesClient in provider azure.
  cluster-autoscaler/cloudprovider/azure/azure_client.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#3236 no need to invalidate scale-set caches on scale-down
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS

#3242 Disable increaseSize when the node group is under initialilzation.
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/S

#3244 Cherry-pick #3242: Disable increaseSize when the node group is under initialilzation.
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/XS

#3246 Cherry-pick #3242: Disable increaseSize when the node group is under initialilzation.
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/XS

#3247 Cherry-pick #3242: Disable increaseSize when the node group is under initialilzation.
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/XS

#3245 Cherry-pick #3242: Disable increaseSize when the node group is under initialilzation.
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/XS

#3198 AWS: Update documentation
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#3252 Remove losipiuk from OWNERS
  cluster-autoscaler/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3254 full vpa e2e - bumping up cpu request tolerance
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
