Repository kubernetes/autoscaler, pull requests merged in 2020-11, with the labels that each got.

#3657 [CA]Implementes get desire instance number of node group.
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3653 Include taints by condition when determining if a node is unready/still starting
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/utils/kubernetes/ready.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3654 [cluster-autoscaler] Backport fixes for packet provider to release-1.19
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/packet/OWNERS
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-svcaccount.yaml
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest_test.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group_test.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3655 [cluster-autoscaler] Backport fixes for packet provider to release-1.18
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/packet/OWNERS
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-svcaccount.yaml
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest_test.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group_test.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3658 [CA] implements node group increase size
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3660 Cluster Autoscaler 1.19.1
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3661 Cluster Autoscaler 1.18.3
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3662 [CA-1.17] cherry-pick: Improve Cluster API tests to work better with constrained resources
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3656 [cluster-autoscaler] Backport fixes for packet provider to release-1.17
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/packet/OWNERS
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-svcaccount.yaml
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest_test.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group_test.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3664 Cluster Autoscaler 1.17.4
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3665 Cluster Autoscaler 1.16.7
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3667 [CA] update sdk version to fix scaling policy cannot create issue
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/converter/converters.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/converter/types.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/def/field.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/def/http_request_def.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/def/http_response_def.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/hc_http_client.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/request/default_http_request.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/request/http_request.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/response/default_http_response.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/sdktime/sdk_time.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/services/as/v1/as_client.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/services/as/v1/as_meta.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/services/ecs/v2/ecs_client.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/services/ecs/v2/ecs_meta.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3652 refactor CAPI controller unit test to use PollImmediate
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/XS

#3671 implemented TemplateNodeInfo function
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3646 Update Cluster Autoscaler (CA) volume mount path to /etc/ssl/certs/ca-bundle.crt
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3672 charts/cluster-autoscaler-chart: fix typos
  charts/cluster-autoscaler-chart/Chart.yaml
  charts/cluster-autoscaler-chart/README.md
  charts/cluster-autoscaler-chart/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3676 fixed scaledown issue
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3682 [CA]delete nodes from cluster after scale down
  cluster-autoscaler/cloudprovider/huaweicloud/examples/cluster-autoscaler-svcaccount.yaml
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3678 CA-Chart - 1.1.1 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3629 Adding support for Apache CloudStack as a cloudprovider
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_cloudstack.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/OWNERS
  cluster-autoscaler/cloudprovider/cloudstack/README.md
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_manager.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_manager_test.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_node_group.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_node_group_test.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_option.go
  cluster-autoscaler/cloudprovider/cloudstack/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/cloudstack/service/cks.go
  cluster-autoscaler/cloudprovider/cloudstack/service/cks_test.go
  cluster-autoscaler/cloudprovider/cloudstack/service/client.go
  cluster-autoscaler/cloudprovider/cloudstack/service/client_test.go
  cluster-autoscaler/cloudprovider/cloudstack/testdata/invalid-config
  cluster-autoscaler/cloudprovider/cloudstack/testdata/valid-config
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3685 added cache for instances
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3689 [CA] cleanup unnneeded files
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_manager.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_manager_test.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_node_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_node_group_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3696 Fix pricing endpoint in AWS China Region
  cluster-autoscaler/cloudprovider/aws/aws_util.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3697 Fix pricing endpoint in AWS China Region
  cluster-autoscaler/cloudprovider/aws/aws_util.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3695 Fix pricing endpoint in AWS China Region
  cluster-autoscaler/cloudprovider/aws/aws_util.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3702 Fix an out-of-bound array access in simulator.TestClear()
  cluster-autoscaler/simulator/cluster_snapshot_benchmark_test.go
  cluster-autoscaler/simulator/cluster_snapshot_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3694 Fixes for update-vendor.sh on OSX and zsh
  cluster-autoscaler/hack/update-vendor.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#3707 update readme file
  cluster-autoscaler/cloudprovider/huaweicloud/README.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#3679 Return cluster-autoscaler-chart Chart name to cluster-autoscaler
  .github/workflows/release.yaml
  charts/cluster-autoscaler/.helmignore
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/NOTES.txt
  charts/cluster-autoscaler/templates/_helpers.tpl
  charts/cluster-autoscaler/templates/clusterrole.yaml
  charts/cluster-autoscaler/templates/clusterrolebinding.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/pdb.yaml
  charts/cluster-autoscaler/templates/podsecuritypolicy.yaml
  charts/cluster-autoscaler/templates/priority-expander-configmap.yaml
  charts/cluster-autoscaler/templates/role.yaml
  charts/cluster-autoscaler/templates/rolebinding.yaml
  charts/cluster-autoscaler/templates/secret.yaml
  charts/cluster-autoscaler/templates/service.yaml
  charts/cluster-autoscaler/templates/serviceaccount.yaml
  charts/cluster-autoscaler/templates/servicemonitor.yaml
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3691 Add `extraEnvConfigMaps` and document some values
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3716 CA-Chart - 9.0.0 & 9.1.0 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3677 Update vertical-pod-autoscaler containerPorts to reflect default ports
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3589 Cache controllers
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_cache_storage.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_cache_storage_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3722 update generic labels for GCE
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3321 Gce pricing fixes
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3729 Cache controllers 09
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_cache_storage.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_cache_storage_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3723 Improve error message: Not all error are due to "it wouldn't fit if a new node is added"
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3701 add daemonset eviction for non-empty nodes
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL
