Repository kubernetes/autoscaler, pull requests merged in 2020-01, with the labels that each got.

#2699 dont return error for nodes without providerId
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/S

#2703 Cherry pick #2699 to 1.17: dont return error for nodes without providerId
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/S

#2701 Cherry pick #2699 to 1.15: dont return error for nodes without providerId
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/S

#2702 Cherry pick #2699 to 1.16: dont return error for nodes without providerId
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/S

#2700 Cherry pick #2699 to 1.14: dont return error for nodes without providerId
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/S

#2705 Update golang in builder to 1.13.5
  builder/Dockerfile
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2706 Add GPU taint toleration for test pods requiring GPUs
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2707 Remove extra slice copy
  cluster-autoscaler/utils/kubernetes/listers.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2708 Remove piosz and add vivekbagade to cluster-autoscaler OWNERS
  cluster-autoscaler/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2710 Disable go.mod integration in Makefile (remainder)
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2692 Generate azure instance types.
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  hack/boilerplate/boilerplate.py
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/XXL

#2714 Fix azure autodiscovery when max tags aren't specified
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/L

#2711 Ensure that the label selector in the scale subresource is not empty
  vertical-pod-autoscaler/pkg/target/fetcher.go
Labels: approved, cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#2716 Addon resizer release 1.8.8
  addon-resizer/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2275 VPA: find topmost well-known or scalable controller
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/scale/fake/client.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L, vertical-pod-autoscaler

#2718 Cherry pick #2714 to 1.17: Fix panic when the vmss doesn't exist
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2717 Add logging taints on template node on PodToleratesNodeTaints failure
  cluster-autoscaler/simulator/predicates.go
  cluster-autoscaler/simulator/predicates_test.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#2719 Lazy debug info message evaluation
  cluster-autoscaler/simulator/predicates.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/S

#2720 Support Azure user assigned identity
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, size/S

#2722 Provider/Azure: Remove ACS support.
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, size/L

#2712 Only evict quick oomed pods when resource will change
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M, vertical-pod-autoscaler

#2723 CA: Add Simulator related flags to FAQ
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2724 Add helm deployment support in doc.
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS

#2728 Use correct key/value separator in kubectl PDB create command
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2727 Adding vpa blessing annotation
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2731 Vpa - Observed containers admission controller annotation
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2733 Remove taints with specific prefix from template node
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/core/utils/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2734 VPA - Handling empty vpa observed containers annotation
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2735 Remove OldBinpackingEstimator
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/estimator/old_binpacking_estimator.go
  cluster-autoscaler/estimator/old_binpacking_estimator_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2736 VPA - Vpa observed containers annotation handling in updater
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2732 Decrease the number of calls to VMSS API
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2741 Cherry pick #2732 to 1.14: Decrease the number of calls to VMSS API
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2744 Fix a bug in GCE scale-from-0 template construction
  cluster-autoscaler/cloudprovider/gce/templates.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2743 VPA - vendor update
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/vendor/k8s.io/utils/pointer/pointer.go
  vertical-pod-autoscaler/vendor/k8s.io/utils/pointer/pointer_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2746 Handle kube-env missing from GCE instance template
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2754 Cherry pick #2732 to 1.17: Decrease the number of calls to VMSS API
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2752 Cherry pick #2732 to 1.15: Decrease the number of calls to VMSS API
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2753 Cherry pick #2732 to 1.16: Decrease the number of calls to VMSS API
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2748 VPA - Quick OOM for all containers
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2432 Simplify building equivalence groups in scale up
  cluster-autoscaler/core/equivalence_groups.go
  cluster-autoscaler/core/equivalence_groups_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/utils/pod_schedulable.go
  cluster-autoscaler/core/utils/pod_schedulable_test.go
  cluster-autoscaler/core/utils/utils.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XL

#2737 Change the regex to match the providerID used by Fargate on EKS.
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2742 Vpa - Component status
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
  vertical-pod-autoscaler/pkg/utils/status/status_object_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2765 Add DigitalOcean as supported cloudprovider
  cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2767 add marwanad to the list of azure owners
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2764 VAP - Adding holder identity to status object update
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2763 VPA - Adding status to Admission Controller
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/admission-controller/logic/status_updater.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2770 VPA - Vendor missing changes
  vertical-pod-autoscaler/vendor/k8s.io/utils/pointer/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/utils/pointer/pointer_test.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/M

#2771 VPA - Updater timer ObserveTotal cleanup
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2773 Do not compare StartTime for unschedulable pods
  cluster-autoscaler/core/filter_out_schedulable.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2776 Add /debug/pprof http handler
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2774 VPA - Optional RenewTime fix
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
  vertical-pod-autoscaler/pkg/utils/status/status_object_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2780 Add krzysied@ to VPA reviewers
  vertical-pod-autoscaler/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2779 VPA - Merging updater and actuation e2e tests
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/e2e/v1beta2/actuation.go
  vertical-pod-autoscaler/e2e/v1beta2/updater.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#2782 Return error from NewScaleTestAutoscalingContext
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2778 Tweaks to update-vendor.sh
  cluster-autoscaler/hack/update-vendor.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#2740 Remove filterOutSchedulableSimple
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/filter_out_schedulable.go
  cluster-autoscaler/core/filter_out_schedulable_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2785 VPA - Exporting admission controller status consts to common
  vertical-pod-autoscaler/pkg/admission-controller/logic/status_updater.go
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2788 VPA - Adding status object validator
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
  vertical-pod-autoscaler/pkg/utils/status/status_object_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M
