Repository kubernetes/autoscaler, pull requests merged in 2020-10, with the labels that each got.

#3570 Remove ScaleDownNodeDeleted status since we no longer delete nodes synchronously
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3550 [CA-1.19] CAPI backports for autoscaling workload clusters
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_converters.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machinedeployment.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_scalableresource.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
  cluster-autoscaler/cloudprovider/clusterapi/machine_types.go
  cluster-autoscaler/cloudprovider/clusterapi/machinedeployment_types.go
  cluster-autoscaler/cloudprovider/clusterapi/machineset_types.go
  cluster-autoscaler/cloudprovider/clusterapi/zz_generated.deepcopy.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/cached/memory/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/cached/memory/memcache.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/category_expansion.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/discovery.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/shortcut.go
  cluster-autoscaler/vendor/k8s.io/client-go/scale/fake/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/scale/fake/client.go
  cluster-autoscaler/vendor/modules.txt
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/XXL

#3551 [CA-1.18] CAPI backports for autoscaling workload clusters
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_converters.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machinedeployment.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_scalableresource.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
  cluster-autoscaler/cloudprovider/clusterapi/machine_types.go
  cluster-autoscaler/cloudprovider/clusterapi/machinedeployment_types.go
  cluster-autoscaler/cloudprovider/clusterapi/machineset_types.go
  cluster-autoscaler/cloudprovider/clusterapi/zz_generated.deepcopy.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/cached/memory/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/cached/memory/memcache.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/category_expansion.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/discovery.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/shortcut.go
  cluster-autoscaler/vendor/k8s.io/client-go/scale/fake/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/scale/fake/client.go
  cluster-autoscaler/vendor/modules.txt
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/XXL

#3549 Allow custom timeout value for webhook calls
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3572 added a new NodeGroupDoesNotExistError in errors.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/mig_target_sizes_provider.go
  cluster-autoscaler/utils/errors/errors.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3552 [CA-1.17] CAPI backports for autoscaling workload clusters
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_converters.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machinedeployment.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_scalableresource.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
  cluster-autoscaler/cloudprovider/clusterapi/machine_types.go
  cluster-autoscaler/cloudprovider/clusterapi/machinedeployment_types.go
  cluster-autoscaler/cloudprovider/clusterapi/machineset_types.go
  cluster-autoscaler/cloudprovider/clusterapi/zz_generated.deepcopy.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/cached/memory/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/cached/memory/memcache.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/category_expansion.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/discovery.go
  cluster-autoscaler/vendor/k8s.io/client-go/restmapper/shortcut.go
  cluster-autoscaler/vendor/k8s.io/client-go/scale/fake/BUILD
  cluster-autoscaler/vendor/k8s.io/client-go/scale/fake/client.go
  cluster-autoscaler/vendor/modules.txt
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/XXL

#3575 [Helm Chart] Add support to configure custom service labels
  charts/cluster-autoscaler-chart/Chart.yaml
  charts/cluster-autoscaler-chart/README.md
  charts/cluster-autoscaler-chart/templates/service.yaml
  charts/cluster-autoscaler-chart/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3576 CA-Chart - 1.0.4 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3577 [Autoscaler Helm Chart] Fix wrong URL for the chart release 1.0.4
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3579 Cherry pick #3308 onto 1.16 -Fix priority expander falling back to random although higher priority matches #3308
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3580 Cherry pick #3308 onto 1.17 - Fix priority expander falling back to random although higher priority matches
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3581 Cherry pick 3308 onto 1.18 - Fix priority expander falling back to random although higher priority matches
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3585 Add openssl version requirement
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, documentation, lgtm, size/XS, vertical-pod-autoscaler

#3578 Cherry pick #3308 onto 1.15 - Fix priority expander falling back to random although higher priority matches
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3588 Only release one arch for tests
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S, vertical-pod-autoscaler

#3590 Vertical Pod Autoscaler release 0.9.0
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS, vertical-pod-autoscaler

#3587 [Helm chart] Update helm-docs version and add PR action to ensure docs are updated
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  charts/README.md
  charts/cluster-autoscaler-chart/Chart.yaml
  charts/cluster-autoscaler-chart/README.md
  charts/cluster-autoscaler-chart/README.md.gotmpl
Labels: approved, cncf-cla: yes, lgtm, size/M

#3573 simplify DeleteNode logic by removing an extra Mutex
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_node_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_node_group_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3603 GCE: base pricing of custom instances on their instance family type
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3595 add volume mount label option to cluster-autoscaler makefile
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3604 Ignore topology.gke.io/zone when comparing groups
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/gce_nodegroups.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3607 Fix VerticalPodAutoscaler version of hamster-vpa sample
  vertical-pod-autoscaler/examples/hamster.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3596 Add documentation for balancing-ignore-label flag
  cluster-autoscaler/FAQ.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3610 add Packet provider links to the root README.md
  cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3594 Change VPA default version to 0.9.0
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3599 Merge pull request #3570 from towca/jtuznik/scale-down-after-delete-fix
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3600 Merge pull request #3570 from towca/jtuznik/scale-down-after-delete-fix
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3586 vpa/hack/vpa-process-yamls.sh add print action
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Labels: approved, cncf-cla: yes, lgtm, size/M

#3424 Add magnum support in cluster autoscaler helm chart
  charts/cluster-autoscaler-chart/Chart.yaml
  charts/cluster-autoscaler-chart/README.md
  charts/cluster-autoscaler-chart/README.md.gotmpl
  charts/cluster-autoscaler-chart/templates/deployment.yaml
  charts/cluster-autoscaler-chart/values.yaml
  cluster-autoscaler/cloudprovider/magnum/README.md
  cluster-autoscaler/cloudprovider/magnum/examples/values-autodiscovery.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-example.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-minimal.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#3612 Merge pull request #3441 from detiber/fixCAPITests
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3613 Merge pull request #3441 from detiber/fixCAPITests
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3617 CA-Chart - 1.1.0 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3597 Merge pull request #3570 from towca/jtuznik/scale-down-after-delete-fix
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3598 Merge pull request #3570 from towca/jtuznik/scale-down-after-delete-fix
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3618 Remove obsolete comments
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3622 Ensure CA simulator takes existing nodes into account
  cluster-autoscaler/simulator/cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3094 Provider/Packet: Allow empty nodepool, Add support for multiple nodepools, Add price support
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-svcaccount.yaml
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest_test.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group_test.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model.go
  cluster-autoscaler/cloudprovider/packet/packet_price_model_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3624 proactively set instance status to deleting on deletions
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#3625 Cherry-pick #3532 onto 1.18: Azure: support allocatable resources overrides via VMSS tags
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#3626 Cherry-pick #3532 onto 1.17: Azure: support allocatable resources overrides via VMSS tags
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#3627 Cherry-pick #3532 onto 1.19: Azure: support allocatable resources overrides via VMSS tags
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#3628 Cherry-pick #3532 onto 1.16: Azure: support allocatable resources overrides via VMSS tags
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#3621 CA huaweicloud: implements node group by AS
  cluster-autoscaler/cloudprovider/huaweicloud/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_config.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3632 Add minimum k8s version for VPA 0.9.0
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, documentation, kind/documentation, lgtm, vertical-pod-autoscaler

#3635 Remove redundant log lines and reduce severity around parsing kubeEnv
  cluster-autoscaler/cloudprovider/gce/templates.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3636 Revert base price changes from PR #3603
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3152 Exclude the virtual node from nodes not created by auto scaling group
  cluster-autoscaler/core/utils/utils.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3642 Reduce logging in scale calculation
  cluster-autoscaler/core/scale_down.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3637 Configurable --network and --rm flags for docker
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S

#3641 change how DaemonSet utilization is calculated
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S
