Repository kubernetes/autoscaler, pull requests merged in 2020-02, with the labels that each got.

#2791 Uniformize node shuffling when finding nodes to remove
  cluster-autoscaler/simulator/cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2772 VPA - Checking Admission Controller status
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2790 Compute expansion options for additional created groups
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2792 VPA - Removing updater e2e test from scripts
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
  vertical-pod-autoscaler/hack/run-e2e.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2800 VPA - Moving status updater to utils
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/utils/status/status_updater.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2813 VPA - Reducing copy-pasted code in updater tests
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2808 VPA - Status e2e test
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/e2e/v1beta2/updater.go
  vertical-pod-autoscaler/e2e/vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/utils/status/status_object.go
  vertical-pod-autoscaler/e2e/vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/utils/status/status_updater.go
  vertical-pod-autoscaler/e2e/vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#2814 Revert "VPA - Removing updater e2e test from scripts"
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
  vertical-pod-autoscaler/hack/run-e2e.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2815 Clarify Nodes() expectation
  cluster-autoscaler/cloudprovider/cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2816 VPA - Recommender e2e test cleanup
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2820 VPA - Adding min and max resource allowed e2e tests
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2822 add VPA cli flag for specifying the name of the webhook service
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2824 VPA - Removing string pointer
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2801 Provide ScaleDownStatusProcessor with info about unremovable nodes
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2828 Cherry-pick #2638, #2717, and #2719 to 1.15: Log taint preventing scale-up
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/simulator/predicates.go
  cluster-autoscaler/simulator/predicates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2827 Cherry-pick #2638, #2717, and #2719 to 1.16: Log taint preventing scale-up
  cluster-autoscaler/core/utils.go
  cluster-autoscaler/simulator/predicates.go
  cluster-autoscaler/simulator/predicates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2826 Cherry-pick #2638, #2717, and #2719 to 1.17: Log taint preventing scale-up
  cluster-autoscaler/core/utils/taint_key_set.go
  cluster-autoscaler/simulator/predicates.go
  cluster-autoscaler/simulator/predicates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2831 Cluster Autoscaler 1.15.5
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2830 Cluster Autoscaler 1.16.4
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2832 Cluster Autoscaler 1.17.1
  cluster-autoscaler/version/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2799 Add delta snapshot implementation
  cluster-autoscaler/core/filter_out_schedulable.go
  cluster-autoscaler/core/filter_out_schedulable_test.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/simulator/basic_cluster_snapshot.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_snapshot.go
  cluster-autoscaler/simulator/cluster_snapshot_benchmark_test.go
  cluster-autoscaler/simulator/cluster_snapshot_test.go
  cluster-autoscaler/simulator/delta_cluster_snapshot.go
  cluster-autoscaler/simulator/scheduler_based_predicates_checker.go
  cluster-autoscaler/simulator/test_utils.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#2837 VPA - failing e2e run when test fails
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#2838 Update referenced CAS image in aws YAML example
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-master.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2839 CA - Resolve AWS TestGetRegion failure post 1.18 vendoring
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2842 Make VMSS info cache TTL configurable
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#2843 fix case that became flaky after scale set refresh interval change
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2841 Remove unused asg cache TTL
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#2846 Cherry pick #2842 to 1.16: Make VMSS info cache TTL configurable
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#2844 Cherry pick #2842 to 1.14: Make VMSS info cache TTL configurable
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#2845 Cherry pick #2842 to 1.15: Make VMSS info cache TTL configurable
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#2848 Add topology.kubernetes.io labels to be ignored when comparing similar node groups.
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2847 Cherry pick #2842 to 1.17: Make VMSS info cache TTL configurable
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#2849 Add eks.amazonaws.com/nodegroup label to awsIgnoredLabels
  cluster-autoscaler/processors/nodegroupset/aws_nodegroups.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2850 VPA - Fixing vpaObservedContainers annotation
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2852 Snapshot cleanup
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/simulator/basic_cluster_snapshot.go
  cluster-autoscaler/simulator/cluster_snapshot.go
  cluster-autoscaler/simulator/delta_cluster_snapshot.go
  cluster-autoscaler/simulator/deprecated_scheduler_snapshot.go
  cluster-autoscaler/simulator/scheduler_based_predicates_checker.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/L

#2853 Cleanup ifs in static autoscaler
  cluster-autoscaler/core/static_autoscaler.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/XS

#2855 Forget FakeNodeInfoForNodeName ever existed
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/predicates_checker_interface.go
  cluster-autoscaler/simulator/scheduler_based_predicates_checker.go
  cluster-autoscaler/simulator/scheduler_based_predicates_checker_test.go
  cluster-autoscaler/utils/daemonset/daemonset.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#2758 cluster-autoscaler/taints: ignore taints on existing nodes
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils/taint_key_set.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/core/utils/utils_test.go
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/kubernetes/ready.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, core-autoscaler, lgtm, size/XL

#2851 Backporting AWS ignored labels and capacity memory changes to 1.16
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/aws_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
Labels: approved, cncf-cla: yes, lgtm, size/M
