Repository kubernetes/autoscaler, pull requests merged in 2020-04, with the labels that each got.

#2952 Add oom test
  vertical-pod-autoscaler/e2e/utils/ooming_resource_consumer/Dockerfile
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/L, test, vertical-pod-autoscaler

#3012 Enable tests for pods under VPA
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3016 Rollback OOM tests
  vertical-pod-autoscaler/e2e/utils/ooming_resource_consumer/Dockerfile
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3020 Enable and deflake oom test
  vertical-pod-autoscaler/e2e/utils/ooming_resource_consumer/Dockerfile
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3019 Correct cloudprovider/azure's GPULabel to "accelerator"
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/XS

#3023 Ensure VMSS is not under updating before scaling out
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3024 Caches should be updated after async PUT succeeds
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/XS

#3025 CA 1.18: Ensure VMSS is not under updating before scaling out
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3032 Add ControlledResources to VPA v1 API
  vertical-pod-autoscaler/deploy/vpa-v1-crd.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
  vertical-pod-autoscaler/hack/boilerplate.go.txt
  vertical-pod-autoscaler/hack/update-codegen.sh
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3037 Remove checking for VMSS provisioningState before scaling
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3038 CA 1.18: Remove checking for VMSS provisioningState before scaling
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3036 Proactively decrement scale set count during deletion operations
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3045 Cherry-pick #3036: Proactively decrement scale set count during deletion operations
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3047 Cherry-pick #3036: Proactively decrement scale set count during deletion operations
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3048 Cherry-pick #3036: Proactively decrement scale set count during deletion operations
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3046 Cherry-pick #3036: Proactively decrement scale set count during deletion operations
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, size/M

#3039 Implement ControlledResources
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender_test.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2983 ClusterAPI Provider: Provide fake proivder IDs for failed Machines
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_converters.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/machine_types.go
  cluster-autoscaler/cloudprovider/clusterapi/zz_generated.deepcopy.go
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/L

#3053 Cherry-pick #3019: Correct cloudprovider/azure's GPULabel to "accelerator"
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3054 Cherry-pick #3019: Correct cloudprovider/azure's GPULabel to "accelerator"
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3055 Cherry-pick #3019: Correct cloudprovider/azure's GPULabel to "accelerator"
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3056 Cherry-pick #3019: Correct cloudprovider/azure's GPULabel to "accelerator"
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3051 Fix eventRecorder throttling to include log lines
  cluster-autoscaler/utils/kubernetes/event_sink_logging_wrapper.go
  cluster-autoscaler/utils/kubernetes/factory.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3052 Update aws readme for IAM roles & sts regional endpoints
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3009 Fix Prometheus CPU query
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3061 Export symbols related to VPA ControlledResources
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3059 VPA - Fixing container state merge
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3064 Vertical Pod Autoscaler version 0.8.0
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3050 Scalability: Switch to deltaClusterSnapshot
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3070 Switch VPA default deployment to 0.8.0
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#3075 [cherry-pick] Switch VPA default deployment to 0.8.0
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#3073 digitalocean: fix min size bug
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3079 VPA - Always process OOM samples
  vertical-pod-autoscaler/pkg/recommender/model/container.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3063 Allow max size to be zero when fetching from VMSS tags
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3087 Fix comment typo
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3088 [Cherry-pick] Always processing OOM samples
  vertical-pod-autoscaler/pkg/recommender/model/container.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3089 VPA - Always processing OOM samples
  vertical-pod-autoscaler/pkg/recommender/model/container.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3080 Add api-approved label to the Vertical Pod Autoscaler API
  vertical-pod-autoscaler/deploy/vpa-v1-crd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2990 add readme file for cluster-api provider
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: approved, area/provider/cluster-api, cncf-cla: yes, lgtm, size/M

#3102 add EphemeralStorage in group template
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud-sdk-go/cce/cluster.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_manager.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/M

#3096 Update readme with ASG considerations and MixedInstancesPolicy notes
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S
