Repository kubernetes/autoscaler, pull requests merged in 2021-12, with the labels that each got.

#4487 Update cluster-autoscaler FAQ to define correct resource-lock options
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4493 Cluster Autoscaler: GCE: update pricing for Spot N2D and Tesla K80
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4495 add a100 gpu type
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XS, approved

#4497 add more azure instance types
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, approved

#4500 Issue#4340 -- Update klog version to v2 --part3
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#4468 Use DescribeInstanceTypes API to get EC2 instance type details
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/L, approved

#4509 Cherry-pick #4497 onto 1.22 - add more azure instance types
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4511 Move gce reserved to interface
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_reserved.go
  cluster-autoscaler/cloudprovider/gce/gce_reserved_test.go
  cluster-autoscaler/cloudprovider/gce/os_reserved.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4483 Cluster-Autoscaler update AWS EC2 instance types with g5, m6 and r6 - 1.20 release branch
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, approved

#4485 Cluster-Autoscaler update AWS EC2 instance types with g5, m6 and r6 - 1.22 release branch
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, approved

#4481 Cluster-Autoscaler update AWS EC2 instance types with g5, m6 and r6 - master branch
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, approved

#4482 Cluster-Autoscaler update AWS EC2 instance types with g5, m6 and r6 - 1.19 release branch
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, approved

#4484 Cluster-Autoscaler update AWS EC2 instance types with g5, m6 and r6 - 1.21 release branch
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, approved

#4513 Re-add default expander
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4321 [HELM] Fix missing yaml conversion for expander priorities
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/priority-expander-configmap.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4443 [clusterapi] Rely on replica count found in unstructuredScalableResource
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#4525 Cherry-pick #4497 onto 1.21 - add more azure instance types
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4526 Cherry-pick #4497 onto 1.20 - add more azure instance types
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4510 fix answer about troubleshooting that why cluster not scale down
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4523 CA - AWS Instance List Update - 13/12/21 - 1.22
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4528 Add version to gceMig and BuildCapacity()
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4521 CA - AWS Instance List Update - 13/12/21 - 1.20
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4533 cluster-autoscaler: Update READMe.md
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4536 Issue 4340 -- Update the klog version to v2 in e2e --last part
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/e2e/v1/e2e.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
  vertical-pod-autoscaler/e2e/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved

#4531 Cluster Autoscaler 1.21.2
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4532 Cluster Autoscaler 1.20.2
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4530 Cluster Autoscaler 1.22.2
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4512 Refresh instances to mig cache in MigInfoProvider
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/cache_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#4534 Add PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#4542 Use node version in gce os reserved
  cluster-autoscaler/cloudprovider/gce/templates.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4538 Send UID too in AdmissionReview response
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#4537 Switch AdmissionReview from v1beta1 to v1
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/delete-webhook.sh
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/vendor/k8s.io/api/admission/v1/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/api/admission/v1/generated.pb.go
  vertical-pod-autoscaler/vendor/k8s.io/api/admission/v1/generated.proto
  vertical-pod-autoscaler/vendor/k8s.io/api/admission/v1/register.go
  vertical-pod-autoscaler/vendor/k8s.io/api/admission/v1/types.go
  vertical-pod-autoscaler/vendor/k8s.io/api/admission/v1/types_swagger_doc_generated.go
  vertical-pod-autoscaler/vendor/k8s.io/api/admission/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved

#4539 Add `--feature-gates` flag to support scale up on volume limits (CSI migration enabled)
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, sig/storage, sig/autoscaling, approved, kind/bug

#4541 improve logging for scale set size changes
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4543 Cache Mig instances in GceCache
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#4544 Add MigLister interface with default no-op implementation
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
  cluster-autoscaler/cloudprovider/gce/mig_lister.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4548 fix scale set log formatter
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XS, approved

#4554 [release-1.21] Automated cherry pick of #4539: Add `--feature-gates` flag to support scale up on volume
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#4553 [release-1.22] Automated cherry pick of #4539: Add `--feature-gates` flag to support scale up on volume
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#4555 [release-1.20] Automated cherry pick of #4539: Add `--feature-gates` flag to support scale up on volume
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4520 CA - AWS - Update Static Instance List
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#4524 Charts - CA - Default to system-cluster-critical priority class
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4345 Increase server create timeout
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4556 Switch VPA OOM E2E tests from custom image to upstream image
  vertical-pod-autoscaler/e2e/utils/ooming_resource_consumer/Dockerfile
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta2/autoscaling_utils.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved

#4488 Change the behaviour of Garbage Collector of AggregateCollectionStates
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved

#4561 Fix admission controller
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug

#4559 fix: avoid double wrapping scale up error
  cluster-autoscaler/core/scale_up.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4550 ignore azure csi topology label for similarity checks and populate it for scale from zero
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/XS, approved

#4441 fix pod equivalency checks for pods with projected volumes
  cluster-autoscaler/core/equivalence_groups.go
  cluster-autoscaler/core/equivalence_groups_test.go
  cluster-autoscaler/core/utils/pod_schedulable.go
  cluster-autoscaler/core/utils/pod_schedulable_test.go
  cluster-autoscaler/utils/test/test_utils.go
  cluster-autoscaler/utils/utils.go
  cluster-autoscaler/utils/utils_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#4565 chore: remove a time consuming unit test in provider azure
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, kind/cleanup

#4568 Cluster Autoscaler 1.23.0
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4552 Adding support for Debugging Snapshot
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/filter_out_schedulable.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshot.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshot_test.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshotter.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshotter_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved
