Repository kubernetes/autoscaler, pull requests merged in 2021-10, with the labels that each got.

#4370 Fix 1.19 after cherry-picking Azure change
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4371 Fix 1.20 build after Azure cherry-picks
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4372 Cherry-pick #4130 onto 1.21: dont proactively decrement azure cache for unregistered nodes
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4364 Cluster Autoscaler 1.21.1
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4374 Cluster Autoscaler 1.19.2
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4373 Cluster Autoscaler 1.20.1
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4363 Cluster Autoscaler 1.22.1
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4375 Cluster Autoscaler: backport #3768 to 1.20
  cluster-autoscaler/.gitignore
  cluster-autoscaler/Makefile
Labels: cncf-cla: yes, lgtm, size/S, approved

#4376 Cluster Autoscaler: backport #3768 to 1.19
  cluster-autoscaler/.gitignore
  cluster-autoscaler/Makefile
Labels: cncf-cla: yes, lgtm, size/S, approved

#4329 Adjust KEP for customized recommender
  vertical-pod-autoscaler/enhancements/3919-customized-recommender-vpa/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved

#4304 [AWS EKS - Scale-to-0] Add check for the AWS EKS tags on the ASG
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4387 [AWS EKS - Scale-to-0] Update README to include warning about eks:nodegroup-name tag
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4390 Add descriptive log for pre_filtering_processor
  cluster-autoscaler/processors/nodes/pre_filtering_processor.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4392 Extend ScaleUpStatus with node groups that failed scale up.
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4391 Introduce Empty Cluster Processor
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/actionablecluster/actionable_cluster_processor.go
  cluster-autoscaler/processors/callbacks/processor_callbacks.go
  cluster-autoscaler/processors/callbacks/test_utils.go
  cluster-autoscaler/processors/processors.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4361 #4340-Migrate vertical-pod-autoscaler to k8s.io/klog/v2-Part1
  vertical-pod-autoscaler/common/kubeconfig.go
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/vendor/github.com/go-logr/logr/LICENSE
  vertical-pod-autoscaler/vendor/github.com/go-logr/logr/README.md
  vertical-pod-autoscaler/vendor/github.com/go-logr/logr/discard.go
  vertical-pod-autoscaler/vendor/github.com/go-logr/logr/go.mod
  vertical-pod-autoscaler/vendor/github.com/go-logr/logr/logr.go
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/.gitignore
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/CONTRIBUTING.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/LICENSE
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/README.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/RELEASE.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/SECURITY.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/SECURITY_CONTACTS
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/code-of-conduct.md
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/go.mod
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/go.sum
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/klog.go
  vertical-pod-autoscaler/vendor/k8s.io/klog/v2/klog_file.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XXL, approved

#4380 CA - AWS - Instance List Update 03-10-21 - 1.20 release branch
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#4318 GCE ephemeral storage on local SSDs
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, ok-to-test

#4405 exported const LocalSSDDiskSizeInGiB should have comment
  cluster-autoscaler/cloudprovider/gce/templates.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4386 Use path/filepath instead of path
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud-sdk-go/util/util.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4352 addon-resizer: Restrict example RBAC to minimum
  addon-resizer/deploy/example.yaml
Labels: cncf-cla: yes, lgtm, addon-resizer, size/M, approved

#4409 Add jbartosik to addon-resizer OWNERS
  addon-resizer/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved
