Repository kubernetes/autoscaler, pull requests merged in 2021-03, with the labels that each got.

#3921 add arch specific cluster-autoscaler targets to gitignore
  cluster-autoscaler/.gitignore
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3920 add cluster-api to provider list on cluster-autoscaler readme
  cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3918 Support additional-print-columns for VPA CR
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3922 add a metric for unregistered nodes removed by cluster autoscaler
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/proposals/metrics.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#3912 Allow for specifying automountServiceAccountToken on cluster-autoscaler service account
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/serviceaccount.yaml
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3893 Add Fetch Error Output to Warning Log
  cluster-autoscaler/cloudprovider/aws/aws_util.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#3925 CA-Chart - 9.7.0 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3929 Fixing Kernel Memory Usage estimation for GCE cloud provider
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3932 CA-Chart Readme Updates & Fix Chart Lint and Test Actions
  .github/workflows/pr.yaml
  charts/README.md
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3758 Bugfix: Expander Priority warns misleading log.
  cluster-autoscaler/expander/priority/priority.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3888 Allow name of cluster-autoscaler status ConfigMap to be specificed
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/clusterstate/utils/status.go
  cluster-autoscaler/clusterstate/utils/status_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3872 Support AWS new GPU type - T4
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3866 feat(ovhcloud): add node group autoscaling options
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/nodepool.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3863 remove extra build command from cluster-autoscaler
  cluster-autoscaler/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/S

#3838 Cloudprovider hetzner
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_hetzner.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/examples/cloud-init.txt
  cluster-autoscaler/cloudprovider/hetzner/examples/cluster-autoscaler-run-on-master.yaml
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/action.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/certificate.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/datacenter.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/floating_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/hcloud.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/helper.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/image.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/location.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/network.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/action.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/certificate.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/datacenter.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/floating_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/image.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/load_balancer_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/location.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/meta.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/network.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/ssh_key.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/volume.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/ssh_key.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/volume.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  hack/boilerplate/boilerplate.py
  hack/verify-gofmt.sh
  hack/verify-golint.sh
  hack/verify-spelling.sh
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3924 Fix bug where a node that becomes ready after 2
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/utils/kubernetes/ready_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3926 Allow generic labels to be overwritten by tags coming from the ASG
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3903 Do not set limits when recommendation is 0
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3944 Update Addon Resizer version to 1.8.12.
  addon-resizer/Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3907 Fix GCE where no cloud-config-path is required
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3942 CA-Chart - 9.8.0 and 9.9.0 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3950 Support for reporting authorization errors during scale up
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/utils/errors/errors.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3951 Update description of CA in main README
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3952 Update VPA README with current default version
  vertical-pod-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3954 adds status-config-map-name to values.yaml of helm chart
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3969 Log failed scale up metric based on string value of AutoscalerErrorType.
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/utils/errors/errors.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3960 Fix typo in values.yaml example for extraVolumeMounts
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3974 Add A2 machine family pricing for GCE
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3973 CA-Chart - 9.9.1 and 9.9.2 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3972 fix: add missing call to fetch autodiscovered nodegroups
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS

#3962 Allow users to change thresholds for evicting pods in VPA
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Labels: approved, cncf-cla: yes, lgtm, size/S
