Repository kubernetes/autoscaler, pull requests merged in 2021-08, with the labels that each got.

#4053 Also set new (non-beta/non-deprecated) labels in buildGenericLabels
  cluster-autoscaler/cloudprovider/alicloud/alicloud_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
  cluster-autoscaler/core/utils/utils.go
Labels: approved, cluster-autoscaler, cncf-cla: yes, lgtm, size/M

#4235 cluster-autoscaler: fix unit tests
  cluster-autoscaler/cloudprovider/alicloud/alicloud_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#4239 Move UpdateDeprecatedTemplateLabels function
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/utils/labels/labels.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#4241 GCE: add pricing info for new N2 instance types
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#4046 Improve misleading log
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4050 Add example to AWS readme if taint has value
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XS, approved, kind/documentation

#4222 allow adding annotations for priority-expander configmap
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/priority-expander-configmap.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#4179 Metrics for AWS API calls
  cluster-autoscaler/cloudprovider/aws/auto_scaling.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_metrics.go
  cluster-autoscaler/cloudprovider/aws/ec2.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4245 Update Cluster Autoscaler version with vendor
  cluster-autoscaler/hack/update-vendor.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4257 Make CA version on HEAD match k8s version in go.mod
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4243 Add NAMESPACE as an environment variable to the updater deployment config
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3999 aws: Set maxAsgNamesPerDescribe to the new maximum value
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#4246 Fix: Adding additional storage APIs discovered but unable to be watched on EKS
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4199 Optimise generate ec2
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#4261 Use highest available magnum microversion
  cluster-autoscaler/cloudprovider/magnum/README.md
  cluster-autoscaler/cloudprovider/magnum/magnum_manager.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4259 cherry pick #3649 - Adding functionality to cordon the node before destroying it.
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4260 cherry pick #3649 - Adding functionality to cordon the node before destroying it.
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4250 Fill in the LastUpdateTime Field of VpaCheckpoint Status with Correct Time.
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4210 fixed flag usages
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#4268 Automated cherry pick of #3999 #4199 upstream cluster autoscaler release 1.22
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4265 Automated cherry pick of #3999 #4127 #4199 upstream cluster autoscaler release 1.19
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4266 Automated cherry pick of #3999 #4127 #4199 upstream cluster autoscaler release 1.20
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4267 Automated cherry pick of #3999 #4127 #4199 upstream cluster autoscaler release 1.21
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4234 Fix markdown code not showing correctly
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4274 Cloud provider[Packet] fixes
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4278 presources → resources
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4236 implement GetOptions for GCE
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/config/const.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4277 fix 4256 autoscaler permit
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4237 implement GetOptions for Azure
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4283 Cherry pick #4261 (magnum microversion) to cluster-autoscaler-release-1.22
  cluster-autoscaler/cloudprovider/magnum/README.md
  cluster-autoscaler/cloudprovider/magnum/magnum_manager.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4102 add init container when vpa recommender init from history provider
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved
