Repository kubernetes/autoscaler, pull requests merged in 2021-04, with the labels that each got.

#3971 Separate and refactor custom resources logic
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/customresources/custom_resources_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/gpu/gpu_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3989 Set cluster autoscaler-specific user agent.
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/linode/linodego/linode_api_client_rest_test.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest_test.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3968 Proposal to circumvent 50 tag ASG limit for EKS ManagedNodegroups
  cluster-autoscaler/proposals/circumvent-tag-limit-aws.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#4012 CAPI Management cluster informer to watch single namespce
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#4015 cloudprovider: ClusterAPIProviderName spelling
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_clusterapi.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#4003 Make addon-resizer example deployment use k8s.gcr.io
  addon-resizer/deploy/example.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#4018 Fix CAPI example
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3914 Add enhancement proposal for feature request #3913
  vertical-pod-autoscaler/enhancements/3919-customized-recommender-vpa/README.md
  vertical-pod-autoscaler/enhancements/3919-customized-recommender-vpa/images/deployment.png
Labels: approved, cncf-cla: yes, lgtm, size/L

#4028 additional memory reservation for gce cloud provider for low memory m...
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#4047 Cluster Autoscaler GCE: change the format of MIG id
  cluster-autoscaler/cloudprovider/gce/gce_url.go
  cluster-autoscaler/cloudprovider/gce/gce_url_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S
