Repository kubernetes/autoscaler, pull requests merged in 2021-01, with the labels that each got.

#3794 Regenerate Azure instances list
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3805 Fix cluster-autoscaler clusterapi sample manifest
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3808 Wait with jitter between attempts to start watching pod evictions
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3807 Wait with jitter between attempts to start watching pod evictions
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3812 Backport of #3805: Fix cluster-autoscaler clusterapi sample manifest
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3811 Backport of #3805: Fix cluster-autoscaler clusterapi sample manifest
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3809 Revert 3744
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3806 Revert 3744
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3815 added additional os-distributions
  cluster-autoscaler/cloudprovider/gce/reserved.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3649 Adding functionality to cordon the node before destroying it.
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3801 Define clusterapi in cloudprovider layer
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_clusterapi.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3821 Vertical Pod Autoscaler release 0.9.2
  vertical-pod-autoscaler/common/version.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3820 Switch from v1beta1 to v1 for rbac
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3704 gcp: faster startup and refreshes with many MIGs
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/cache_test.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_instance_templates_provider.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3793 Update pr.yaml
  .github/workflows/pr.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3777 Update values.yaml defaults to match real default values
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#3827 Change VPA default version to 0.9.2
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3829 Change VPA default version to 0.9.2
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3826 CA Chart Releases - 9.3.1 and 9.3.2
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3833 Addon Resizer - Handling decoding error
  addon-resizer/nanny/kubernetes_client.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3746 Add new aws instance types: r5b, m5zn, d3, d3en
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3817 Implement round-robin for SchedulerBasedPredicateChecker
  cluster-autoscaler/simulator/scheduler_based_predicates_checker.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3824 add DaemonSet eviction option for empty nodes
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#3837 Minor fixes. DaemonSet eviction for empty nodes
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3803 Follow WG Naming Recommendations on Master -> Control Plane
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-control-plane.yaml
  cluster-autoscaler/cloudprovider/exoscale/README.md
  cluster-autoscaler/cloudprovider/exoscale/examples/cluster-autoscaler-run-on-control-plane.yaml
  cluster-autoscaler/cloudprovider/huaweicloud/README.md
  cluster-autoscaler/cloudprovider/magnum/README.md
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment-control-plane.yaml
  cluster-autoscaler/cloudprovider/packet/README.md
  vertical-pod-autoscaler/pkg/admission-controller/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#3810 Change VPA storage version from v1beta2 to v1
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3842 Add services into role of example file
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3725 Fix cluster-autoscaler chart to match with the examples
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/role.yaml
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3844 CA-Chart - 9.4.0 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3789 Per nodegroup scale-down config
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_node_group.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_node_group.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/magnum/magnum_nodegroup.go
  cluster-autoscaler/cloudprovider/mocks/NodeGroup.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/packet/packet_node_group.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/expander/waste/waste_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor_test.go
  cluster-autoscaler/processors/processors.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3140 doc: proposal custom cloud provider over gRPC
  cluster-autoscaler/proposals/images/external-provider-grpc.jpg
  cluster-autoscaler/proposals/plugable-provider-grpc.md
Labels: approved, cncf-cla: yes, lgtm, size/XL

#3790 cloudprovider: linode cloud provider
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_linode.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/linode/README.md
  cluster-autoscaler/cloudprovider/linode/examples/cluster-autoscale-pdb.yaml
  cluster-autoscaler/cloudprovider/linode/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/linode/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/linode/linode_api_client.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_config.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_config_test.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_provider.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/linode/linode_manager.go
  cluster-autoscaler/cloudprovider/linode/linode_manager_test.go
  cluster-autoscaler/cloudprovider/linode/linode_node_group.go
  cluster-autoscaler/cloudprovider/linode/linode_node_group_test.go
  cluster-autoscaler/cloudprovider/linode/linode_utils_test.go
  cluster-autoscaler/cloudprovider/linode/linodego/README.md
  cluster-autoscaler/cloudprovider/linode/linodego/linode_api_client_rest.go
  cluster-autoscaler/cloudprovider/linode/linodego/linode_api_client_rest_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3850 implement new GetOptions method for linode provider
  cluster-autoscaler/cloudprovider/linode/linode_node_group.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3630 Allow for the leader election resourcelock to have a configurable name
  cluster-autoscaler/main.go
Labels: approved, cncf-cla: yes, lgtm, lifecycle/stale, size/XS

#3855 bump clusterapi sample suggested version from 1.18.1 to 1.20.0
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS
