Repository kubernetes/autoscaler, pull requests merged in 2021-02, with the labels that each got.

#3864 Azure: Cleanup test
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3859 [DOC] Add clusterapi into frontpage
  cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3860 Test and verify using Git Actions
  .github/workflows/ci.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3878 Remove .travis.yml
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3882 Minor fix for timeout test
  cluster-autoscaler/core/scale_down_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3719 CA-Chart - Mark Cluster-Autoscaler-Chart as Deprecated
  charts/cluster-autoscaler-chart/.helmignore
  charts/cluster-autoscaler-chart/Chart.yaml
  charts/cluster-autoscaler-chart/README.md
  charts/cluster-autoscaler-chart/README.md.gotmpl
  charts/cluster-autoscaler-chart/templates/NOTES.txt
  charts/cluster-autoscaler-chart/templates/_helpers.tpl
  charts/cluster-autoscaler-chart/templates/clusterrole.yaml
  charts/cluster-autoscaler-chart/templates/clusterrolebinding.yaml
  charts/cluster-autoscaler-chart/templates/deployment.yaml
  charts/cluster-autoscaler-chart/templates/pdb.yaml
  charts/cluster-autoscaler-chart/templates/podsecuritypolicy.yaml
  charts/cluster-autoscaler-chart/templates/priority-expander-configmap.yaml
  charts/cluster-autoscaler-chart/templates/role.yaml
  charts/cluster-autoscaler-chart/templates/rolebinding.yaml
  charts/cluster-autoscaler-chart/templates/secret.yaml
  charts/cluster-autoscaler-chart/templates/service.yaml
  charts/cluster-autoscaler-chart/templates/serviceaccount.yaml
  charts/cluster-autoscaler-chart/templates/servicemonitor.yaml
  charts/cluster-autoscaler-chart/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3884 CA-Chart - Update index with final ca-chart chart release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3885 Final removal of ca-chart chart post deprecation
  charts/cluster-autoscaler-chart/.helmignore
  charts/cluster-autoscaler-chart/Chart.yaml
  charts/cluster-autoscaler-chart/README.md
  charts/cluster-autoscaler-chart/README.md.gotmpl
  charts/cluster-autoscaler-chart/templates/NOTES.txt
  charts/cluster-autoscaler-chart/templates/_helpers.tpl
  charts/cluster-autoscaler-chart/templates/clusterrole.yaml
  charts/cluster-autoscaler-chart/templates/clusterrolebinding.yaml
  charts/cluster-autoscaler-chart/templates/deployment.yaml
  charts/cluster-autoscaler-chart/templates/pdb.yaml
  charts/cluster-autoscaler-chart/templates/podsecuritypolicy.yaml
  charts/cluster-autoscaler-chart/templates/priority-expander-configmap.yaml
  charts/cluster-autoscaler-chart/templates/role.yaml
  charts/cluster-autoscaler-chart/templates/rolebinding.yaml
  charts/cluster-autoscaler-chart/templates/secret.yaml
  charts/cluster-autoscaler-chart/templates/service.yaml
  charts/cluster-autoscaler-chart/templates/serviceaccount.yaml
  charts/cluster-autoscaler-chart/templates/servicemonitor.yaml
  charts/cluster-autoscaler-chart/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3883 Set different hostname label for upcoming nodes
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/utils/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3690 Add unremovable_nodes_count metric
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/metrics/metrics.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#3751 Add comment for exported type InstanceType in gen template
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3757 Reduce logging when creating placeholder instances
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#3769 Allow out-of-cluster operation of VPA
  vertical-pod-autoscaler/common/kubeconfig.go
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/.gitignore
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/.travis.yml
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/CODE_OF_CONDUCT.md
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/LICENSE
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/README.md
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/doc.go
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/map.go
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/merge.go
  vertical-pod-autoscaler/vendor/github.com/imdario/mergo/mergo.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/auth/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/auth/clientauth.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/api/latest/latest.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/api/v1/conversion.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/api/v1/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/api/v1/register.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.conversion.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/auth_loaders.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/client_config.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/config.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/flag.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/helpers.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/loader.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/merged_client_builder.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/overrides.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/validation.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/util/homedir/homedir.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#3896 Add gjtempleton to CA AWS cloud provider OWNERS approvers
  cluster-autoscaler/cloudprovider/aws/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3895 Enhancements directory for VPA
  vertical-pod-autoscaler/enhancements/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3880 Helm Chart Image Update (v1.18.1 → v1.20.0)
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3898 Add e2-highcpu-32 price info
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3897 CA-Chart - 9.5.0 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3904 distinguishing another 404 error in autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3900 feat: add prometheus rule support
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/prometheusrule.yaml
  charts/cluster-autoscaler/values.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3906 CA-Chart - 9.6.0 Release
  index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S
