Repository kubernetes/autoscaler, pull requests merged in 2022-06, with the labels that each got.

#4931 CA: fix a data race in actuation.TestStartDeletion
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4932 CA: make legacy SD wrapper always return nodeDeleteResults
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4873 Fix fallback for aws cloudprovider
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#4911 Add ephemeral storage pricing to GCE expander
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/annotation_node_info_provider.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#4943 CA - AWS Cloud Provider - 1.21 - fix instance type fallback
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#4944 CA - AWS Cloud Provider - 1.22 - fix instance type fallback
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#4945 CA - AWS Cloud Provider - 1.23 - fix instance type fallback
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#4914 [cluster-autoscaler][chart]fix chart for cluster-autoscaler priority-expander-configmap
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/priority-expander-configmap.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, helm-charts

#4940 CA - AWS Cloud Provider - 1.19 Static Instance List Update 02-06-2022
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#4935 CA - AWS Cloud Provider - 1.23 Static Instance List Update 02-06-2022
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#4938 CA - AWS Cloud Provider - 1.20 Static Instance List Update 02-06-2022
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#4936 CA - AWS Cloud Provider - 1.22 Static Instance List Update 02-06-2022
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#4921 add a flag to allow event duplication
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
  cluster-autoscaler/utils/kubernetes/factory.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#4929 Increase default VPA version to 0.11.0
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#4916 Backport #4162 and #4172 [cluster-autoscaler] "Add a flag to control DaemonSet eviction on non-empty nodes and Allow DaemonSet pods to opt in/out from eviction" into 1.21
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/daemonset/daemonset.go
  cluster-autoscaler/utils/daemonset/daemonset_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#4948 CA: fix flakiness in actuation.TestStartDeletion
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4952 Fixed Typo in aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#4965 Cluster Autoscaler - 1.23.1 release
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#4962 Cluster Autoscaler - 1.20.3 release
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#4964 Cluster Autoscaler - 1.22.3 release
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#4959 Correct invalid GCE instances pricing
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/bug

#4960 Adapt links to original design-proposal in README
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#4955 Add support for passing os partition size when creating nodes
  cluster-autoscaler/cloudprovider/cherryservers/README.md
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_types.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#4973 Handle gracefully empty arch in kube env.
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#4953 Add level-guard to Recommender selector log statement
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#4970 Binpacking can exit without packing all the pods
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/estimator/threshold_based_limiter.go
  cluster-autoscaler/estimator/threshold_based_limiter_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#4971 CA - Push Image script - Support newer docker versions
  cluster-autoscaler/push_image.sh
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#4982 CA: GCE: Return UnknownArch from ToSystemArchitecture for invalid architectures
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4941 CA Chart - Cleanup Chart Maintainers
  charts/cluster-autoscaler/Chart.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup, helm-charts

#4987 Correct the Hyperlink of VPA design-proposal in README.
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, documentation, vertical-pod-autoscaler, size/XS, approved, kind/bug

#4985 Update documentation for cluster-autoscaler supported cloud providers
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#4990 switched policy for PodDisruptionBudget from v1beta1 to v1 in time for 1.25
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
  cluster-autoscaler/utils/kubernetes/listers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/bug

#4993 GCE: move fetching MachineType to MigInfoProvider
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/cache_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/machine_types.go
  cluster-autoscaler/cloudprovider/gce/machine_types_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved, kind/cleanup
