Repository kubernetes/autoscaler, pull requests merged in 2022-10, with the labels that each got.

#5226 Update the example spec of civo cloudprovider
  cluster-autoscaler/cloudprovider/civo/examples/cluster-autoscaler-standard.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5209 Support for DirectX Devices
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5205 Updated the golang version for the GitHub workflows.
  .github/workflows/ci.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5233 Remove units for default boot disk size
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#5231 add example for multiple recommenders
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, kind/documentation

#5232 E2e test admission pod recommendation mismatch
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/bug

#5213 [gce]: skip instances on validation error
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5196 fix typo
  cluster-autoscaler/cloudprovider/externalgrpc/README.md
  cluster-autoscaler/cloudprovider/linode/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5193 CA - AWS - Instance List Update 2022-09-16
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5210 magnum: add an option to create insecure TLS connections
  cluster-autoscaler/cloudprovider/magnum/magnum_openstack_clients.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5234 Add HTTP health-check to Addon Resizer 1.8
  addon-resizer/healthcheck/healthcheck.go
  addon-resizer/nanny/main/pod_nanny.go
  addon-resizer/nanny/nanny_lib.go
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, approved

#5241 Fixed gofmt error.
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/service/auditmanager/api.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/service/chimesdkmessaging/api.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/service/clouddirectory/api.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/service/kms/api.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5246 Don't break scale up with priority expander config
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#4978 added replicas count for daemonsets to prevent massive pod eviction
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/feature, approved

#4956 Add podScaleUpDelay annotation support
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5228 Clean up stale OWNERS
  OWNERS
  addon-resizer/OWNERS
  builder/OWNERS
  cluster-autoscaler/OWNERS
  hack/OWNERS
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/cleanup

#5202 Update VPA compatibility for 0.12 release
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/documentation

#5203 Update VPA compatibility for 0.12 release (release branch)
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/documentation

#5220 Fix accessing index out of bonds
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XL, approved, kind/bug

#5181 update owners list for cluster autoscaler azure
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5211 Balancer KEP
  balancer/proposals/balancer.md
Labels: cncf-cla: yes, lgtm, size/L, approved, kind/documentation

#5248 Make expander factory logic more pluggable
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/expander/factory/expander_factory.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5249 remove unsupported functionality from cluster-api provider
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/cleanup

#5235 Add option to wait for a period of time after node tainting/cordoning
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
  cluster-autoscaler/utils/kubernetes/testlisters.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved, kind/bug

#5147 Extract criteria for removing unneded nodes to a separate package
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/simulator/tracker.go
  cluster-autoscaler/simulator/tracker_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved, kind/cleanup

#5252 huawei-cloudprovider: enable retrieve scaling group instances by pages
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#5161 Extract scheduling hints to a dedicated object
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/filteroutschedulable/filter_out_schedulable.go
  cluster-autoscaler/core/filteroutschedulable/filter_out_schedulable_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/core/utils/pod_schedulable.go
  cluster-autoscaler/core/utils/pod_schedulable_test.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/clustersnapshot/basic.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot_benchmark_test.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot_test.go
  cluster-autoscaler/simulator/clustersnapshot/delta.go
  cluster-autoscaler/simulator/clustersnapshot/test_utils.go
  cluster-autoscaler/simulator/predicatechecker/delegating_shared_lister.go
  cluster-autoscaler/simulator/predicatechecker/error.go
  cluster-autoscaler/simulator/predicatechecker/interface.go
  cluster-autoscaler/simulator/predicatechecker/schedulerbased.go
  cluster-autoscaler/simulator/predicatechecker/schedulerbased_test.go
  cluster-autoscaler/simulator/predicatechecker/testchecker.go
  cluster-autoscaler/simulator/scheduling/hinting_simulator.go
  cluster-autoscaler/simulator/scheduling/hinting_simulator_test.go
  cluster-autoscaler/simulator/scheduling/hints.go
  cluster-autoscaler/simulator/scheduling/hints_test.go
  cluster-autoscaler/utils/daemonset/daemonset.go
  cluster-autoscaler/utils/daemonset/daemonset_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, approved, kind/cleanup

#5229 Remove dead code for handling simulation errors
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5247 Add support for extended resource definition in GCE MIG template
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5230 Base parallel scale down implementation
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/utils/errors/errors.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#5274 [CA] Register recently evicted pods in NodeDeletionTracker.
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#5260 cluster autoscaler: kamatera cloud provider - change uuid dependency
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_utils_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5261 Magnum provider: switch UUID dependency from satori to gofrs
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/magnum/magnum_manager_impl.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug
