Repository kubernetes/autoscaler, pull requests merged in 2022-04, with the labels that each got.

#4787 remove check for returning in-memory size when VMSS is in updating state
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XS, approved

#4794 Cherry-pick #4685, #47874 - Azure vmss cache improvements
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/M, approved

#4795 Cherry-pick #4421, #4550 - Azure scale from zero improvements
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups_test.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/M, approved

#4800 fix autoscaling due to VMSS tag prefix issue - Cherry Pick into release 1.22
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4783 Update owners for cluster-autoscaler Equnix Metal provider
  cluster-autoscaler/cloudprovider/packet/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#4810 Continue CA loop when unregistered nodes were removed
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#4807 Introduce extraction of System Architecture from AutoscalerVars
  cluster-autoscaler/cloudprovider/gce/gce_reserved.go
  cluster-autoscaler/cloudprovider/gce/gce_reserved_test.go
  cluster-autoscaler/cloudprovider/gce/os_reserved.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#4791 feat: add support for deployment annotations to helm chart
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#4491 [AWS EKS - Scale-to-0] Add Managed Nodegroup Cache
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XXL, approved

#4812 Remove newline indentation from CA deployment
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, helm-charts

#4802 Minor bugfix to update-vendor script
  cluster-autoscaler/hack/update-vendor.sh
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#4819 Fix indentation
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#4821 Work around VPA e2e test failures
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, kind/failing-test, approved, kind/bug

#4818 update azure instance types
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/L, approved

#4824 Fix updater main
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug, kind/regression

#4766 Design proposal for parallel drain
  cluster-autoscaler/proposals/parallel_drain.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#4808 [CA][Helm]Add .Release.Namespace to each template
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/pdb.yaml
  charts/cluster-autoscaler/templates/priority-expander-configmap.yaml
  charts/cluster-autoscaler/templates/role.yaml
  charts/cluster-autoscaler/templates/rolebinding.yaml
  charts/cluster-autoscaler/templates/secret.yaml
  charts/cluster-autoscaler/templates/service.yaml
  charts/cluster-autoscaler/templates/serviceaccount.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved, helm-charts

#4798 Add resource validation
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/bug

#4814 fix: log level
  cluster-autoscaler/core/scale_down.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#4738 Fix CI script to use GO111MODULE auto as default
  hack/for-go-proj.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4827 Addon resizer 1.18.5
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#4823 Fix a typo in scale_down.go
  cluster-autoscaler/core/scale_down.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#4806 Put ScaleDown logic behind an interface
  cluster-autoscaler/core/filteroutschedulable/filter_out_schedulable.go
  cluster-autoscaler/core/filteroutschedulable/filter_out_schedulable_test.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/scaledown/actuation/softtaint.go
  cluster-autoscaler/core/scaledown/actuation/softtaint_test.go
  cluster-autoscaler/core/scaledown/deletiontracker/nodedeletiontracker.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/utilization/info.go
  cluster-autoscaler/simulator/utilization/info_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, approved, kind/cleanup

#4828 Make NodeDeletionTracker implement ActuationStatus interface
  cluster-autoscaler/core/scaledown/deletiontracker/nodedeletiontracker.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
  cluster-autoscaler/utils/expiring/list.go
  cluster-autoscaler/utils/expiring/list_test.go
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, approved
