Repository kubernetes/autoscaler, pull requests merged in 2022-03, with the labels that each got.

#4674 Expose nodes with unready GPU in CA status
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/utils/kubernetes/ready.go
  cluster-autoscaler/utils/taints/taints.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#4489 Early abort if AWS node group has no capacity
  cluster-autoscaler/cloudprovider/aws/CA_with_AWS_IAM_OIDC.md
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/instance_type_cache.go
  cluster-autoscaler/cloudprovider/aws/instance_type_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/L, approved

#4721 [CA Helm] fix RBAC for namespaced mode
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/role.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#4723 Fix lint issues in vertical pod autoscaller
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_cache_storage_test.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram_test.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/admission/admission.go
  vertical-pod-autoscaler/pkg/utils/metrics/healthcheck.go
  vertical-pod-autoscaler/pkg/utils/metrics/metrics.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/cleanup

#4734 Migrate CA off python2 to python3
  cluster-autoscaler/update_toc.py
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/scripts/break_mig.py
  hack/scripts/ca_metrics_parser.py
Labels: cncf-cla: yes, lgtm, size/S, approved

#4735 Limit caching pods per owner reference
  cluster-autoscaler/core/equivalence_groups.go
  cluster-autoscaler/core/equivalence_groups_test.go
  cluster-autoscaler/core/filter_out_schedulable.go
  cluster-autoscaler/core/utils/pod_schedulable.go
  cluster-autoscaler/core/utils/pod_schedulable_test.go
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, size/L, approved, kind/bug

#4742 Skip pod hostname when comparing PodSpecs
  cluster-autoscaler/utils/utils.go
  cluster-autoscaler/utils/utils_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/bug

#4740 Add skuFamily field in InstanceType
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, size/XL, kind/feature, approved, kind/cleanup, kind/api-change

#4701 Charts - CA - Remove AWS IAM Docs - Replace With Link
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/documentation

#4747 [ca]: Upgrade PriorityClass api version in FAQ.md
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#4753 cluster-autoscaler/cloudstack: Identify node by name and id
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_manager_test.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_node_group.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_node_group_test.go
  cluster-autoscaler/cloudprovider/cloudstack/service/cks.go
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, approved
