Repository kubernetes/autoscaler, pull requests merged in 2022-07, with the labels that each got.

#4896 Adding support for identifying nodes that have been deleted from cloud provider that are still registered within Kubernetes
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#5004 GCE: Always add boot disk annotations to templates
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4728 feat: use non-root user for base-image
  cluster-autoscaler/Dockerfile.amd64
  cluster-autoscaler/Dockerfile.arm64
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved, lifecycle/stale

#4134 CA expander plugin proposal
  cluster-autoscaler/proposals/expander-plugin-grpc.md
  cluster-autoscaler/proposals/images/external-expander-plugin-grpc.jpg
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#5005 Deduplicate Migration Doc from README.
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, kind/documentation

#5023 Revert "Adding support for identifying nodes that have been deleted from cloud provider that are still registered within Kubernetes"
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5024 CA: GCE: implement GetMachineFamily, fix IsCustomMachine
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/machine_types.go
  cluster-autoscaler/cloudprovider/gce/machine_types_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5003 Fix/examples documentation
  cluster-autoscaler/cloudprovider/cherryservers/README.md
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest_test.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_node_group_test.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_types.go
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-secret.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/documentation, kind/api-change

#5027 Fixed the Hyperlinks of HPA.
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#5025 Get capi targetsize from cache
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug, kind/cleanup, area/provider/cluster-api

#5037 Update Azure instance-types
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5039 Bump VPA builder Go version
  vertical-pod-autoscaler/builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#5053 Add ClusterClass usage instructions to ClusterAPI docs
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/documentation

#5057 Add a new error code to GCE autoscaling client
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved
