Repository kubernetes/autoscaler, pull requests merged in 2022-12, with the labels that each got.

#5329 chore(cluster-autoscaler/hetzner): add myself to OWNERS file
  cluster-autoscaler/cloudprovider/hetzner/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5348 Automatically label cluster-autoscaler PRs
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#5346 Fix for 'Link for cloud-controller-manager is not working'
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5345 Deprecate v1beta1 2
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/documentation, kind/cleanup, kind/api-change, kind/deprecation

#5322 fix(cluster-autoscaler/hetzner): pre-existing volumes break scheduling
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5328 Add note regarding GPU label for the CAPI provider
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation

#5344 Break node categorization in scale down planner on timeout.
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#5353 Create a Planner object if --parallel-drain=true
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#5359 Fix int formatting in threshold_based_limiter logs
  cluster-autoscaler/estimator/threshold_based_limiter.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, kind/cleanup

#5120 aws cloudprovider - unify and consolidate aws session creation
  cluster-autoscaler/Makefile
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_sdk_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_sdk_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XL, approved

#5285 aws: add nodegroup name to default labels
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/S, approved

#5358 Export execution_latency_seconds metric from VPA admission controller
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/utils/metrics/admission/admission.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved

#5349 Add missing dot
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5354 Add pods from node undergoing scale-down to unschedulable pods
  cluster-autoscaler/core/podlistprocessor/currently_drained_nodes.go
  cluster-autoscaler/core/podlistprocessor/currently_drained_nodes_test.go
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable.go
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable_test.go
  cluster-autoscaler/core/podlistprocessor/pod_list_processor.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/pod/pod.go
  cluster-autoscaler/utils/pod/pod_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#5357 Support policy/v1 for PodSecurityPolicy for v1.21+
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/_helpers.tpl
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5361 rancher-cloudprovider: Improve node group discovery
  cluster-autoscaler/cloudprovider/rancher/rancher_clusterapi.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup_test.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#5363 CA - AWS - Update Hardcoded Instance Details List to 11-12-2022
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/L, approved, kind/cleanup

#5335 oci provider: fail fast, recover fast, when instance-pool/node-group is out of capacity
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/get_work_request_request_response.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/list_work_request_errors_request_response.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/list_work_request_logs_request_response.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/list_work_requests_request_response.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/work_request.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/work_request_error.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/work_request_log_entry.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/work_request_resource.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/work_request_summary.go
  cluster-autoscaler/cloudprovider/oci/oci-go-sdk/v43/workrequests/workrequests_workrequest_client.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_manager_test.go
  cluster-autoscaler/cloudprovider/oci/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/oci_shape.go
  cluster-autoscaler/cloudprovider/oci/oci_shape_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#5198 Introduce a formal policy for maintaining cloudproviders
  cluster-autoscaler/cloudprovider/POLICY.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/documentation

#5356 Auto Label Helm Chart PRs
  charts/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#5367 Add x13n to cluster autoscaler approvers
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5350 Introduce Cloudprovider Maintenance Request policy
  cluster-autoscaler/cloudprovider/POLICY.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#5276 Stop applying the beta.kubernetes.io/os and arch
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/oci_shape_test.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/proposals/min_at_zero_gcp.md
  cluster-autoscaler/utils/labels/labels.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5054 Identifying cloud provider deleted nodes
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/bizflycloud/bizflycloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_cloud_provider.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_cloud_provider.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_provider.go
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
  cluster-autoscaler/cloudprovider/mocks/CloudProvider.go
  cluster-autoscaler/cloudprovider/oci/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/cloudprovider/vultr/vultr_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#5362 set cluster_autoscaler_max_nodes_count dynamically
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#5317 cluster-autoscaler: refactor BalanceScaleUpBetweenGroups
  cluster-autoscaler/processors/nodegroupset/balancing_processor.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/cleanup

#4831 Add KEP: Control VPA eviction behavior based on scaling direction and resource
  vertical-pod-autoscaler/enhancements/4831-control-eviction-behavior/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/feature, approved, kind/api-change

#5373 CA - AWS - Update Docs all actions IAM policy
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation

#5376 Cluster Autoscaler: update vendor to k8s v1.26.0
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/golang.org/x/net/http2/headermap.go
  cluster-autoscaler/vendor/golang.org/x/net/http2/hpack/encode.go
  cluster-autoscaler/vendor/golang.org/x/net/http2/server.go
  cluster-autoscaler/vendor/golang.org/x/net/http2/transport.go
  cluster-autoscaler/vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  cluster-autoscaler/vendor/golang.org/x/sys/unix/syscall_linux.go
  cluster-autoscaler/vendor/golang.org/x/sys/windows/syscall_windows.go
  cluster-autoscaler/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  cluster-autoscaler/vendor/golang.org/x/term/terminal.go
  cluster-autoscaler/vendor/golang.org/x/text/unicode/bidi/trieval.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#5385 uncomment myself in Oracle Cloud OWNERS file (after joining Kubernetes org)
  cluster-autoscaler/cloudprovider/oci/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5388 Move PredicateChecker initialization before processors initialization
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5270 aws: allow setting max retries from AWS_MAX_ATTEMPTS env var
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/aws_sdk_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/S, kind/feature, approved

#5223 cluster-autoscaler: allow setting kuberentes client burst and qps to avoid rate limiting
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved
