Repository kubernetes/autoscaler, pull requests merged in 2022-01, with the labels that each got.

#4507 Shorten Hetzners node names with hex repr
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4566 Enhancement proposal to add minReplicas per VPA Object (see #4560)
  vertical-pod-autoscaler/enhancements/4566-min-replicas/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, kind/feature, approved, kind/documentation, kind/api-change

#4600 Fix Azure IMDS Url in InstanceMetadataService initialization
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#4581 Create a multi-architecture manifest when pushing image to registry
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, addon-resizer, size/S, approved

#4508 Cluster Autoscaler: GCE: check the result of the operation
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4579 Cluster API OWNERS: Remove randomvariable
  cluster-autoscaler/cloudprovider/clusterapi/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#4519 Introduce the scale down processor that picks the final scale down candidates
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_test_common.go
  cluster-autoscaler/processors/nodes/post_filtering_processor.go
  cluster-autoscaler/processors/nodes/types.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#4580 Rename packet to equinix metal
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-secret.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/documentation

#4620 azure: change a flacky test
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4587 Update Cluster Autoscaler to go 1.17
  .github/workflows/ci.yaml
  builder/Dockerfile
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/builder/builder_alicloud.go
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_aws.go
  cluster-autoscaler/cloudprovider/builder/builder_azure.go
  cluster-autoscaler/cloudprovider/builder/builder_baiducloud.go
  cluster-autoscaler/cloudprovider/builder/builder_bizflycloud.go
  cluster-autoscaler/cloudprovider/builder/builder_brightbox.go
  cluster-autoscaler/cloudprovider/builder/builder_cloudstack.go
  cluster-autoscaler/cloudprovider/builder/builder_clusterapi.go
  cluster-autoscaler/cloudprovider/builder/builder_digitalocean.go
  cluster-autoscaler/cloudprovider/builder/builder_exoscale.go
  cluster-autoscaler/cloudprovider/builder/builder_gce.go
  cluster-autoscaler/cloudprovider/builder/builder_hetzner.go
  cluster-autoscaler/cloudprovider/builder/builder_huaweicloud.go
  cluster-autoscaler/cloudprovider/builder/builder_ionoscloud.go
  cluster-autoscaler/cloudprovider/builder/builder_kubemark.go
  cluster-autoscaler/cloudprovider/builder/builder_linode.go
  cluster-autoscaler/cloudprovider/builder/builder_magnum.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
  cluster-autoscaler/cloudprovider/builder/builder_packet.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  hack/boilerplate/boilerplate.py
  hack/verify-gofmt.sh
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4617 Add AutoscalingContext to the scale-down post-processor
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/processors/nodes/post_filtering_processor.go
  cluster-autoscaler/processors/nodes/types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#4603 Introduce gce image types and remove *_containerd gce os distributions
  cluster-autoscaler/cloudprovider/gce/gce_reserved.go
  cluster-autoscaler/cloudprovider/gce/gce_reserved_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup, kind/deprecation

#4626 Remove TestDeleteBlob UT
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4631 [Cherry pick 1.21] Remove TestDeleteBlob UT
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4632 Remove variables not used in azure_util_test
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4630 [Cherry pick1.23] Remove TestDeleteBlob UT
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4642 VPA release 0.10.0
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#4636 Allow colon in AWS ASG autodiscovery tag keys
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/S, kind/feature, approved

#4648 update azure instances and template with np-series SKU
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4641 Don't cache NodeInfo for recently Ready nodes
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
  cluster-autoscaler/processors/nodeinfosprovider/node_info_provider_processor.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#4633 CA: Debugging snapshot adding a new field for TemplateNode.
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshot.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshot_test.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshotter.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshotter_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#4651 CA: Debugging snapshotter locking optimisation for better transactions
  cluster-autoscaler/debuggingsnapshot/debugging_snapshotter.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#4564 Enables AZURE_CLUSTER_NAME even if .Values.azureUseManagedIdentityExtension is "true".
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug, kind/documentation, helm-charts
