Repository kubernetes/autoscaler, pull requests merged in 2022-11, with the labels that each got.

#5268 VPA: Fix typo, move service accounts to RBAC
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/hack/generate-crd-yaml.sh
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/cleanup

#5287 Update aws OWNERS
  cluster-autoscaler/cloudprovider/aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#5265 Add scaledown.Actuator to AutoscalingContext
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/deletiontracker/nodedeletiontracker.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/scaledown/status/status.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5195 Support scaling up node groups to the configured min size if needed
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/scaledown/resource/limits.go
  cluster-autoscaler/core/scaleup/resource_manager.go
  cluster-autoscaler/core/scaleup/resource_manager_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#5282 Update the hyperlinks of api-conventions.md file in comments
  balancer/proposals/balancer.md
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/types.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/documentation

#5299 Fix VPA deployment
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, kind/failing-test, approved, kind/bug

#5272 Update README.md
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/documentation

#5303 Addon Resizer version 1.8.16
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, addon-resizer, size/XS, approved

#5306 Add missing cloud providers to readme and sort alphabetically
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/documentation

#5290 Allow forking snapshot more than 1 time
  cluster-autoscaler/core/filteroutschedulable/filter_out_schedulable_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/clustersnapshot/basic.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot_benchmark_test.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot_test.go
  cluster-autoscaler/simulator/clustersnapshot/delta.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5301 huawei-cloudprovider: enable taints resolve for as, modify the example yaml to accelerate node scale-down
  cluster-autoscaler/cloudprovider/huaweicloud/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_service_manager_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5292 Fix: add missing RBAC permissions to magnum examples
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-svcaccount.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5310 add logging information to FAQ
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/documentation

#5259 Use scheduling package in filterOutSchedulable processor
  cluster-autoscaler/core/filteroutschedulable/filter_out_schedulable.go
  cluster-autoscaler/core/filteroutschedulable/filter_out_schedulable_test.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaleup/resource_manager_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/scheduling/hinting_simulator.go
  cluster-autoscaler/simulator/scheduling/hinting_simulator_test.go
  cluster-autoscaler/simulator/scheduling/similar_pods.go
  cluster-autoscaler/simulator/scheduling/similar_pods_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved, kind/cleanup

#5325 Log node group min and current size when skipping scale down
  cluster-autoscaler/processors/nodes/pre_filtering_processor.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#5284 Check owner reference in scale down planner to avoid double-counting
  cluster-autoscaler/core/scaledown/planner/controller.go
  cluster-autoscaler/core/scaledown/planner/controller_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#5330 Use ScaleDownSetProcessor.GetNodesToRemove in scale down planner to filter NodesToDelete.
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved
