Repository kubernetes/autoscaler, pull requests merged in 2022-05, with the labels that each got.

#4846 add cluster-autoscaler missing flags in documentation
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#4654 External gRPC Cloud Provider
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_externalgrpc.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/OWNERS
  cluster-autoscaler/cloudprovider/externalgrpc/README.md
  cluster-autoscaler/cloudprovider/externalgrpc/examples/certmanager-manifests/ca-issuer.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/certmanager-manifests/ca.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/certmanager-manifests/clusterAutoscalerCert.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/certmanager-manifests/clusterAutoscalerProviderCert.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/certmanager-manifests/selfsigned-issuer.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/cluster-autoscaler-manifests/cluster-autoscaler-cm.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/cluster-autoscaler-manifests/cluster-autoscaler.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service-manifests/external-grpc-provider-service.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service-manifests/external-grpc-provider.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/.gitignore
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/Dockerfile.amd64
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/Dockerfile.arm64
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/Makefile
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/main.go
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/wrapper/wrapper.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_utils_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.pb.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.proto
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc_grpc.pb.go
  hack/verify-gofmt.sh
  hack/verify-golint.sh
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#4842 cluster-autoscaler: Add --max-pod-eviction-time flag to configure MaxPodEvictionTime
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#4839 Move the condition for ScaleDownInProgress to legacy scaledown code
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/cleanup

#4857 Refactoring gce_price_model.go to separate pricing info from model ca…
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4856 cluster-autoscaler/cloudprovider/clusterapi/README.md - simple typo fix
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#4843 add cherryservers cloud provider
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_cherry.go
  cluster-autoscaler/cloudprovider/cherryservers/OWNERS
  cluster-autoscaler/cloudprovider/cherryservers/README.md
  cluster-autoscaler/cloudprovider/cherryservers/cherry_cloud_provider.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest_test.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_node_group.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_node_group_test.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_types.go
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-rbac.yaml
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-svcaccount.yaml
  cluster-autoscaler/cloudprovider/cloud_provider.go
Labels: cncf-cla: yes, lgtm, size/XXL, kind/feature, approved

#4863 Update golang to go1.18
  builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#4867 Cherry support ssh keys
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-secret.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#4864 Allow checking specific nodes removal in simulator
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#4865 use the PreFilterResult in SchedulerBasedPredicateChecker
  cluster-autoscaler/simulator/predicate_error.go
  cluster-autoscaler/simulator/scheduler_based_predicates_checker.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#4870 Parameterize GcePriceInfo into GcePriceModel for capability to expand…
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved

#4882 Move GetMatchingPods into block guarded by klog.V(4)
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/cleanup

#4881 VPA release 0.11.0
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#4885 Document how to use templates in userdata and use in example
  cluster-autoscaler/cloudprovider/cherryservers/README.md
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-secret.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/documentation, kind/cleanup

#4874 Various fixes to the OVHcloud provider
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/consumer_key.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/flavor.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/mock.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/nodepool.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/ovh.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, approved, kind/bug

#4860 OCI cloud provider : Optional Feature - Skip time-consuming findInstanceByDetails API call by adding non_pool_member annotation to the node
  cluster-autoscaler/cloudprovider/oci/README.md
  cluster-autoscaler/cloudprovider/oci/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_manager_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4868 properly name secret
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-secret.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#3853 Expose backoff time parameters
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#4895 Switch to using policy v1 API
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1beta2/actuation.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/failing-test, approved, kind/bug

#4890 Update the README to show correct number of modes
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#4888 [Helm] Support policy/v1 for PodDisruptionBudget for v1.21+
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/_helpers.tpl
  charts/cluster-autoscaler/templates/pdb.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved

#4905 Upgrade CA images to v1.22.2 in aws example.
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#4899 Offset Reserved memory and ephemeral storage for ARM arch in GCE
  cluster-autoscaler/cloudprovider/gce/gce_reserved.go
  cluster-autoscaler/cloudprovider/gce/gce_reserved_test.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#4906 Setting Arch Label in GCE node
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#4920 Add new AWS GPU type NVIDIA A10g
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/XS, kind/feature, approved

#4917 CA - AWS - Instance List Update 2022-05-25
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/L, kind/feature, approved

#4908 Extract actuation-related logic out of legacy scale-down to Actuator
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delay.go
  cluster-autoscaler/core/scaledown/actuation/delay_test.go
  cluster-autoscaler/core/scaledown/actuation/delete.go
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/status/scale_down_status_processor.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4925 CA - AWS - Instance List Update 2022-05-30
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/L, kind/feature, approved

#4926 Don't deref nil nodegroup in deleteCreatedNodesWithErrors
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/bug, kind/regression

#4912 Minor updates and improvements to the OCI (Instance-Pool) cloud provider
  cluster-autoscaler/cloudprovider/oci/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/oci_ref.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, kind/cleanup

#4907 Add cordon-node-before-terminating to FAQ
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#4928 Drop deprecated CAPI annotations
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/cluster-api

#4837 [CA][Helm] Allow skipping service creation
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/service.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#4930 Increase default VPA version to 0.11.0
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved
