Repository kubernetes/autoscaler, pull requests merged in 2022-08, with the labels that each got.

#5058 fix FAQ entry for cores-total flag
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation, kind/cleanup

#4980 CA - AWS - Move Jeffwan to emeritus approvers
  cluster-autoscaler/cloudprovider/aws/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#5050 Corrected the VPA Compatibility.
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug

#5070 CA: GCE: add pricing for new A2 shapes and GPUs
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5068 Bump openstackmagnum/cluster-autoscaler image version.
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment-control-plane.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-autodiscovery.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-example.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#5074 delete minor unreachable code caused by log.Fatal
  cluster-autoscaler/expander/grpcplugin/example/fake_grpc_server.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#5064 Added Hyperlink for node-group-auto-discovery flag.
  cluster-autoscaler/cloudprovider/magnum/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, kind/documentation

#5071 fix: cluster-autoscaler alicloud provider example format error
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-standard.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5059 add metric for skipped scaling events
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/proposals/metrics.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#4852 Integrate Civo as a cloud provider
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_civo.go
  cluster-autoscaler/cloudprovider/civo/OWNERS
  cluster-autoscaler/cloudprovider/civo/README.md
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/client.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/disk_image.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/errors.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/instance.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/kubernetes.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/network.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/pool.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/utils/random.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/civo/civo_manager.go
  cluster-autoscaler/cloudprovider/civo/civo_manager_test.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group_test.go
  cluster-autoscaler/cloudprovider/civo/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#4424 feat(aws): reduce auto-discovery API calls
  cluster-autoscaler/cloudprovider/aws/CA_with_AWS_IAM_OIDC.md
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_metrics.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/instance_type_cache_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/L, approved, lifecycle/stale

#4999 Add note in Azure autoscaler documentation about adding accelerator node label on VMSS when GPU nodes are involved.
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5076 Main VPA README update. Fix grammar and add versions compatibility
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/documentation

#5062 add: Scaleway Cloud Provider for k8s CA
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_scaleway.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/scaleway/OWNERS
  cluster-autoscaler/cloudprovider/scaleway/README.md
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group_test.go
  cluster-autoscaler/cloudprovider/scaleway/scalewaygo/README.md
  cluster-autoscaler/cloudprovider/scaleway/scalewaygo/scaleway_kapsule_api.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#5077 Hetzner Cloud Provider: Add Owners file
  cluster-autoscaler/cloudprovider/hetzner/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5049 Metrics for Hetzner API calls
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_metrics.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#5055 Cache requests to Hetzner Cloud API
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_server_type_cache.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_server_type_cache_test.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#4951 fix: Wrong image path in Docs
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
  cluster-autoscaler/cloudprovider/oci/README.md
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-config.yaml
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-principals.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/documentation

#5036 use strings.Join to build list of names
  cluster-autoscaler/cloudprovider/resource_limiter.go
  cluster-autoscaler/core/scale_up.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#5078 CA: Iterate through existed node groups in AnnotationNodeInfoProvider
  cluster-autoscaler/processors/nodeinfosprovider/annotation_node_info_provider.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#4979 Sort the list of container resource recommendations in VPA status
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_test.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/bug

#4975 Add cloud provider for Rancher with RKE2
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_rancher.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/rancher/OWNERS
  cluster-autoscaler/cloudprovider/rancher/README.md
  cluster-autoscaler/cloudprovider/rancher/examples/config.yaml
  cluster-autoscaler/cloudprovider/rancher/provisioning.cattle.io/v1/rke.go
  cluster-autoscaler/cloudprovider/rancher/rancher_clusterapi.go
  cluster-autoscaler/cloudprovider/rancher/rancher_config.go
  cluster-autoscaler/cloudprovider/rancher/rancher_config_test.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup_test.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#4588 Support attribute-based instance selection for AWS
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XL, kind/feature, approved

#5047 Azure: effectively cache instance-types SKUs
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/L, approved

#5051 Add support for azure autodiscovery with autoscaler helm chart.
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#4967 chore: Set permissions for GitHub actions
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#5095 Fix error logging when waiting for GCE operation
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5099 feat: add support for service monitor annotations to helm chart
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/servicemonitor.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#5100 Export metric about result of queried VPA makes to metrics server
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, kind/feature, approved

#5097 Improve overprovisioning pause pod termination time in FAQ
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#4840 clusterapi scale from zero support
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#5103 CA: GCE: fix custom machine type parsing
  cluster-autoscaler/cloudprovider/gce/machine_types.go
  cluster-autoscaler/cloudprovider/gce/machine_types_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5102 Register VPA metrics client metrics
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug, kind/cleanup

#5098 Update cluster-proportional-autoscaler version in FAQ
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5091 [release-1.22] Automated cherry pick of #4810: Continue CA loop when unregistered nodes were removed
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5092 [release-1.23] Automated cherry pick of #4810: Continue CA loop when unregistered nodes were removed
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5090 [release-1.21] Automated cherry pick of #4810: Continue CA loop when unregistered nodes were removed
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5084 cluster-autoscaler: avoid goto in filterNodeGroupsByPods
  cluster-autoscaler/core/scale_up.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/cleanup

#5112 Export validateVPA to use in other places
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#5110 update clusterapi nodegroups processor
  cluster-autoscaler/processors/nodegroupset/clusterapi_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/clusterapi_nodegroups_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#5088 test: use `T.Setenv` to set env vars in tests
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_manager_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved, kind/cleanup

#5108 cluster-autoscaler aws: remove duplicated permissions
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#5111 Export metric_server_response like other VPA recommender metrics
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/bug

#5105 helm chart - Allow cloud config path for AWS provider
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/examples/configmap-cloudconfig-example.yaml
  cluster-autoscaler/cloudprovider/aws/examples/values-cloudconfig-example.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#5127 Update go version to 1.18.5
  vertical-pod-autoscaler/builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#5126 VPA release 0.12.0
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#5123 update clusterapi readme
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation, kind/cleanup

#5137 cluster-autoscaler: fix non-deterministic kamatera cloudprovider unit test
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
Labels: cncf-cla: yes, lgtm, size/S, kind/failing-test, approved, kind/bug

#5141 helm chart - remove obsolete GCE cloudConfigPath usage
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/podsecuritypolicy.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#5135 Add x13n to cluster autoscaler reviewers
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4902 [VPA] KEP-4902: Delete OOM Pods
  vertical-pod-autoscaler/enhancements/4902-delete-oom-pods/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/documentation, kind/api-change
