Repository kubernetes/autoscaler, pull requests merged in 2023-02, with the labels that each got.

#5453 Add instructions for VPA release
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/documentation

#5390 Added support for azure workload identity
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/L, kind/feature, approved, helm-charts

#5462 Bump default VPA version to 0.13.0
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#5418 clusterapi: track upcoming unprovisioned machines with a temporary providerID to enable detection of exhausted nodegroups
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5416 clusterapi: Add ephemeral disk capacity annotation for scale from zero
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5460 Bump default VPA version to 0.13.0
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/documentation

#5475 Update default versions in recommender high and low deployments
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#5470 Balancer placement policies
  balancer/go.mod
  balancer/go.sum
  balancer/pkg/pods/summary.go
  balancer/pkg/pods/summary_test.go
  balancer/pkg/policy/policy.go
  balancer/pkg/policy/priority.go
  balancer/pkg/policy/priority_test.go
  balancer/pkg/policy/proportional.go
  balancer/pkg/policy/proportional_test.go
  balancer/pkg/policy/utils.go
Labels: cncf-cla: yes, lgtm, size/XXL, kind/feature, approved

#5444 Add force Daemon Sets option
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/scaleup/resource_manager_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/annotation_node_info_provider.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
  cluster-autoscaler/processors/nodeinfosprovider/node_info_provider_processor.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/simulator/nodes.go
  cluster-autoscaler/simulator/nodes_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5476 Update vpa release docs
  .github/ISSUE_TEMPLATE/vpa_release.md
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/documentation, kind/cleanup

#5464 update cluster-autoscaler version compatibility
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation

#5479 Replace deprecated command with environment file
  .github/workflows/pr.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#5412 AWS: don't cache empty instance-types from stale LC names
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5407 cluster-autoscaler: support additional Brightbox server groups
  cluster-autoscaler/cloudprovider/brightbox/OWNERS
  cluster-autoscaler/cloudprovider/brightbox/README.md
  cluster-autoscaler/cloudprovider/brightbox/brightbox_cloud_provider.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5214 Fix/asg resource tags
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/asg_tag_resource_node_info_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/M, approved, kind/bug

#5485 fix
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/asg_tag_resource_node_info_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5484 Update go used to build VPA to 1.19.5
  vertical-pod-autoscaler/builder/Dockerfile
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#5496 Fix MEMBER_ALREADY_EXISTS errors in GCE cloudprovider
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5488 Stop scale-down from considering registered upcoming nodes as candidates
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/simulator/clustersnapshot/basic.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot.go
  cluster-autoscaler/simulator/clustersnapshot/delta.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#5500 Fixes template for PSPs api version.
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/_helpers.tpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, helm-charts

#5498 Automatically apply `balancer` label to balancer PRs
  balancer/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation, kind/cleanup, balancer

#5480 fix: issue with apiVersion not being set for psp
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/_helpers.tpl
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, helm-charts

#5494 Update image references from k8s.gcr.io to registry.k8s.io
  addon-resizer/deploy/example.yaml
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/civo/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/exoscale/examples/cluster-autoscaler-run-on-control-plane.yaml
  cluster-autoscaler/cloudprovider/exoscale/examples/cluster-autoscaler.yaml
  cluster-autoscaler/cloudprovider/externalgrpc/examples/cluster-autoscaler-manifests/cluster-autoscaler.yaml
  cluster-autoscaler/cloudprovider/hetzner/examples/cluster-autoscaler-run-on-master.yaml
  cluster-autoscaler/cloudprovider/huaweicloud/README.md
  cluster-autoscaler/cloudprovider/ionoscloud/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/kamatera/examples/deployment.yaml
  cluster-autoscaler/cloudprovider/linode/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/oci/README.md
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-config.yaml
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-principals.yaml
  cluster-autoscaler/cloudprovider/packet/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/vultr/examples/cluster-autoscaler-deployment.yaml
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1beta2/actuation.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/examples/hamster-deprecated.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
  vertical-pod-autoscaler/examples/redis-deprecated.yaml
  vertical-pod-autoscaler/examples/redis.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, vertical-pod-autoscaler, addon-resizer, size/M, approved, kind/cleanup, helm-charts

#5492 Add BigDarkClown to cluster-autoscaler Reviewers
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5502 Check min size of node group and resource limits for set of nodes
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#5459 Add GpuConfig to cloud provider. Use GpuConfig in utilization calculations.
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/bizflycloud/bizflycloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_cloud_provider.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_cloud_provider.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_provider.go
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
  cluster-autoscaler/cloudprovider/mocks/CloudProvider.go
  cluster-autoscaler/cloudprovider/oci/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/cloudprovider/vultr/vultr_cloud_provider.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/simulator/utilization/info.go
  cluster-autoscaler/simulator/utilization/info_test.go
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved, helm-charts

#5508 regenerate the ec2 instance types using latest metadata to fetch m7g/r7g instances
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5514 Fix RemovableAt()
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5519 remove dead code in clusterapi provider tests
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#5517 Bump CA chart to 1.24
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved, helm-charts

#5482 Update VPA dependency github.com/emicklei/go-restful/v3
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/README.md
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/constants.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/filter_adapter.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/parameter.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/request.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/response.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/route.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/route_builder.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/web_service.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/cleanup

#5522 update FAQ.md to add version in the pause container image due the latest that is not valid
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation, kind/cleanup

#5525 Cherry pick #5482 and #5484 to VPA release 0.13 branch
  vertical-pod-autoscaler/builder/Dockerfile
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/README.md
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/constants.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/filter_adapter.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/parameter.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/request.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/response.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/route.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/route_builder.go
  vertical-pod-autoscaler/vendor/github.com/emicklei/go-restful/v3/web_service.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/bug

#5523 Fix a minor typo
  cluster-autoscaler/expander/mostpods/mostpods.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#5518 Add "resource_name" to scaled_up_gpu_nodes_total and scaled_down_gpu_nodes_total metrics
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5382 Use annotations to set labels and taints for clusterapi nodegroups
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5477 Merge taint utils into one package, make taint modifying methods public
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch_test.go
  cluster-autoscaler/core/scaledown/actuation/softtaint.go
  cluster-autoscaler/core/scaledown/actuation/softtaint_test.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/resource/limits_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, approved, kind/cleanup

#5497 Track PDBRemainingDisruptions in AutoscalingContext
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/pdb/basic.go
  cluster-autoscaler/core/scaledown/pdb/basic_test.go
  cluster-autoscaler/core/scaledown/pdb/pdb.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/simulator/drain.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5521 fix(*): refresh node instance cache when nodegroup not found in deleteCreatedNodesWithErrors
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5512 Added RBAC Permission to cherryservers.
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-rbac.yaml
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-svcaccount.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5472 Fix scaledown:nodedeletion metric calculation
  cluster-autoscaler/core/podlistprocessor/currently_drained_nodes_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug
