Repository kubernetes/autoscaler, pull requests merged in 2023-07, with the labels that each got.

#5909 Backport #5776 [cluster-autoscaler] "Change magnum to use control-plane role" into CA1.26
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5813 feat(metrics): add metrics to observe where time is consumed in scale up
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#5864 Record all vpa api versions in recommender metrics
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/cleanup

#5911 Add subresource status for vpa
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/failing-test, approved, kind/bug, kind/api-change

#5910 Backport #5776 [cluster-autoscaler] "Change magnum to use control-plane role" into CA1.27
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5907 Backport #5776 [cluster-autoscaler] "Change magnum to use control-plane role" into CA1.24
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5908 Backport #5776 [cluster-autoscaler] "Change magnum to use control-plane role" into CA1.25
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5901 Remove unneeded node groups regardless of scale down being in cooldown.
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#5917 Implement configurable thresholds for threshold based estimator
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/cluster_capacity_threshold.go
  cluster-autoscaler/estimator/cluster_capacity_threshold_test.go
  cluster-autoscaler/estimator/estimation_context.go
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/estimator/sng_capacity_threshold.go
  cluster-autoscaler/estimator/sng_capacity_threshold_test.go
  cluster-autoscaler/estimator/static_threshold.go
  cluster-autoscaler/estimator/threshold.go
  cluster-autoscaler/estimator/threshold_based_limiter.go
  cluster-autoscaler/estimator/threshold_based_limiter_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#5905 Add ClusterStateRegistry to the AutoscalingContext
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/clusterstate/providers/max_node_provision_time_provider.go
  cluster-autoscaler/clusterstate/testutils.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5767 Azure: Bugfix: Check PowerState before setting OutOfResources on instance
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/L, approved, kind/bug

#5887 fix: CA on fargate causing log flood
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/M, approved, kind/bug

#5672 feat: set `IgnoreDaemonSetsUtilization` per nodegroup for AWS
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/const.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XL, kind/feature, approved

#5890 fix: setting maxEmptyBulkDelete, and maxScaleDownParallelism to be the same value
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5945 Re-introduce asynchronous node deletion and clean node deletion logic.
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaledown/budgets/budgets.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#5954 Use fixed version of golang image
  builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5956 Fix TestBinpackingLimiter flake
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/flake

#5955 Use fixed version of golang image
  builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5939 Fix: Do not inject fakeNode for instance which has errors on create
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/utils/node_instances_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#5838 fix: don't clean `CriticalAddonsOnly` taint from template nodes
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5965 cherry-pick: Merge pull request #5890 from Bryce-Soghigian/bsoghigian/respecting-bulk-delete
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5966 cherry-pick: Merge pull request #5890 from Bryce-Soghigian/bsoghigian/respecting-bulk-delete
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#5967 Merge pull request #5890 from Bryce-Soghigian/bsoghigian/respecting-bulk-delete
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#5944 Adapt limitations for Pods without controller
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/documentation

#5708 feat: support custom scheduler config (without extenders)
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/const.go
  cluster-autoscaler/config/test/config.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/predicatechecker/schedulerbased.go
  cluster-autoscaler/simulator/predicatechecker/schedulerbased_test.go
  cluster-autoscaler/simulator/predicatechecker/testchecker.go
  cluster-autoscaler/utils/scheduler/scheduler.go
  cluster-autoscaler/utils/scheduler/scheduler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#5971 CA - AWS Cloudprovider OWNERS Update
  cluster-autoscaler/cloudprovider/aws/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XS, approved

#5976 Enable parallel drain by default.
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved, kind/cleanup, kind/deprecation

#5978 Add BigDarkClown to patch releases schedule
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#5943 Update the `go:build` tag for missing cloud providers.
  cluster-autoscaler/cloudprovider/builder/builder_all.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5941 Fixed `go:build` tags for ovhcloud
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5974 Add PostPackingFunc to be run at the end of the estimation logic
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/estimator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#5983 Cluster Autoscaler 1.27.3 - Update k/k vendor to 1.27.4
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/github.com/google/cadvisor/container/crio/handler.go
  cluster-autoscaler/vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  cluster-autoscaler/vendor/k8s.io/apimachinery/pkg/util/wait/loop.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/server/options/etcd.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/storage/etcd3/healthcheck.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
  cluster-autoscaler/vendor/k8s.io/client-go/util/cert/cert.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server_others.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/apis/core/validation/validation.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/controller/daemon/daemon_controller.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/controller/daemon/update.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/nodestatus/setters.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/preemption/preemption.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/proxy/node.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/proxy/winkernel/hns.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/schedule_one.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/test/utils/pki_helpers.go
  cluster-autoscaler/vendor/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  cluster-autoscaler/vendor/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#5981 Remove ChangeRequirements with `OrEqual` from EvictionControl enhancement proposal
  vertical-pod-autoscaler/enhancements/4831-control-eviction-behavior/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#5970 Add a metric to observe nodes pending deletion after a finished scale-down phase
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#5989 Clarify Eviction Control for Pods with multiple Containers
  vertical-pod-autoscaler/enhancements/4831-control-eviction-behavior/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/documentation
