Repository kubernetes/autoscaler, pull requests merged in 2023-11, with the labels that each got.

#6237 Backport #5596 [CA] AWS - Add support for tags on AWS managed nodegroups to indicate resources into CA 1.26
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/L, kind/feature, approved

#6241 Backport #5596 [CA] AWS - Add support for tags on AWS managed nodegroups to indicate resources into CA 1.27
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/L, kind/feature, approved

#6238 Backport #5285 & #5596 [CA] AWS - add nodegroup name to default labels & Add support for tags on AWS managed nodegroups to indicate resources into CA 1.25
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/L, kind/feature, approved

#6233 cloudprovider/exoscale: update limits/quotas URL
  cluster-autoscaler/cloudprovider/exoscale/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#6239 Backport #5285 & #5596 [CA] AWS - add nodegroup name to default labels & Add support for tags on AWS managed nodegroups to indicate resources into CA 1.24
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/L, kind/feature, approved

#6255 Fix klog formating directives in cluster-autoscaler package.
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/oci/common/oci_cloud_config.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_service.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/debuggingsnapshot/debugging_snapshot.go
  cluster-autoscaler/estimator/sng_capacity_threshold.go
  cluster-autoscaler/expander/grpcplugin/grpc_client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup, area/provider/cluster-api, area/provider/hetzner, area/provider/gce

#6253 Remove deprecated dependency: gogo/protobuf
  cluster-autoscaler/core/scaledown/planner/controller_test.go
  cluster-autoscaler/go.mod
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#6098 add note for CRD and RBAC handling for VPA (>=1.0.0)
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/documentation

#6242 update addon-resizer non-root running
  addon-resizer/Dockerfile
Labels: cncf-cla: yes, lgtm, addon-resizer, size/XS, approved, ok-to-test

#6223 Disambiguate the resource usage node removal eligibility messages
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#6254 Cleanup: Remove deprecated github.com/golang/protobuf usage
  cluster-autoscaler/cloudprovider/externalgrpc/README.md
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.pb.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc_grpc.pb.go
  cluster-autoscaler/go.mod
  hack/boilerplate/boilerplate.py
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup, area/provider/externalgrpc

#6274 Cleanup: Remove separate client for k8s events
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/cleanup

#6249 feat(helm): add support for exoscale provider
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, helm-charts

#6012 Add the AppVersion to labels as app.kubernetes.io/version
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/_helpers.tpl
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved, helm-charts

#6283 Add EC2 instance type p5.48xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XS, kind/feature, approved

#6250 Add TOC link in README for EvictionRequirement example
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/documentation

#6194 Update README.md: Link to Cluster-API
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation, helm-charts

#6285 Add EC2 instance type p5.48xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#6286 Add EC2 instance type p5.48xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#6287 Add EC2 instance type p5.48xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#6288 azure: add owner-jackfrancis
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/XS, approved

#6192 Removed node drainer, kept node termination handler
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XS, approved

#6266 ScaleUp is only ever called when there are unscheduled pods
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#6189 Template the autoDiscovery.clusterName variable in the Helm chart
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/_helpers.tpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/secret.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved, helm-charts

#6292 fix: Add revisionHistoryLimit override to cluster-autoscaler
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved, helm-charts

#6265 allow users to avoid aws instance not found spam
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/S, approved, kind/bug

#6297 Update README.md
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#6298 fix: handle error when listing machines
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6304 Backport #6298 fix: handle error when listing machines into 1.27
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, area/provider/rancher

#6303 Backport #6298 fix: handle error when listing machines into 1.26
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6305 Backport #6298 fix: handle error when listing machines into 1.28
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, area/provider/rancher

#6275 Remove gce-expander-ephemeral-storage-support flag
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup, area/provider/gce

#6284 Allow overriding domain suffix in GCE cloud provider.
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_url.go
  cluster-autoscaler/cloudprovider/gce/gce_url_test.go
  cluster-autoscaler/config/autoscaling_options.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved, area/provider/gce

#6251 Fix '.spec.updatePolicy.evictionRequirements.resources' to be plural in yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/enhancements/4831-control-eviction-behavior/README.md
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/bug

#6317 Set Go versions to the same settings kubernetes/kubernetes uses
  builder/Dockerfile
  cluster-autoscaler/go.mod
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#6299 Implement ProvisioningRequest service
  cluster-autoscaler/provisioningrequest/provreqwrapper/wrapper.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/wrapper_test.go
  cluster-autoscaler/provisioningrequest/service/service.go
  cluster-autoscaler/provisioningrequest/service/v1beta1client/client.go
  cluster-autoscaler/provisioningrequest/service/v1beta1client/client_test.go
  cluster-autoscaler/provisioningrequest/service/v1beta1client/testutils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#5820 feat: implement `kwok` cloud provider
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/clusterrole.yaml
  charts/cluster-autoscaler/templates/configmap.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_kwok.go
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/main.go
  cluster-autoscaler/cloudprovider/kwok/OWNERS
  cluster-autoscaler/cloudprovider/kwok/README.md
  cluster-autoscaler/cloudprovider/kwok/docs/images/kwok-as-dry-run-1.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/kwok-as-dry-run-2.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/kwok-provider-grafana.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/kwok-provider-hostname-label.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/kwok-provider-in-action.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/large-number-of-nodes-1.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/large-number-of-nodes-2.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/prom-match-labels.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/run-kwok-locally-1.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/run-kwok-locally-2.png
  cluster-autoscaler/cloudprovider/kwok/docs/images/run-kwok-locally-3.png
  cluster-autoscaler/cloudprovider/kwok/docs/motivation.md
  cluster-autoscaler/cloudprovider/kwok/kwok_config.go
  cluster-autoscaler/cloudprovider/kwok/kwok_config_test.go
  cluster-autoscaler/cloudprovider/kwok/kwok_constants.go
  cluster-autoscaler/cloudprovider/kwok/kwok_helpers.go
  cluster-autoscaler/cloudprovider/kwok/kwok_helpers_test.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups_test.go
  cluster-autoscaler/cloudprovider/kwok/kwok_provider.go
  cluster-autoscaler/cloudprovider/kwok/kwok_provider_test.go
  cluster-autoscaler/cloudprovider/kwok/kwok_types.go
  cluster-autoscaler/cloudprovider/kwok/samples/dynamic_nodegroups_config.yaml
  cluster-autoscaler/cloudprovider/kwok/samples/static_nodegroups_config.yaml
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/main.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved, helm-charts, area/provider/externalgrpc

#6320 Update OWNERS file in addon-resizer-release-1.8 branch
  addon-resizer/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/cleanup

#6308 chore(deps): update vendored hcloud-go to 2.4.0
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/action.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/certificate.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/datacenter.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/firewall.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/floating_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/hcloud.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/image.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/internal/instrumentation/metrics.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/location.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/metadata/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/network.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/placement_group.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/primary_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/volume.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug, area/provider/hetzner

#6322 Implement TemplateNodeInfo for civo cloudprovider
  cluster-autoscaler/cloudprovider/civo/README.md
  cluster-autoscaler/cloudprovider/civo/civo_manager.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group_test.go
  cluster-autoscaler/cloudprovider/civo/examples/cluster-autoscaler-node-pool.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#6294 refactor(*): move getKubeClient to utils/kubernetes
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/kubernetes/client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup, area/provider/cluster-api

#6296 fix: alicloud the function NodeGroupForNode return nil
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#6324 [civo] Calculate real value for template using node group
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/kubernetes.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/pool.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/size.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/civo/civo_manager.go
  cluster-autoscaler/cloudprovider/civo/civo_manager_test.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug
