Repository kubernetes/autoscaler, pull requests merged in 2023-12, with the labels that each got.

#6332 Backport of #6115 fix: add elect-leader flag to the pflag into 1.26
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6331 Backport of #6115 fix: add elect-leader flag to the pflag into 1.27
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6186 Azure: Remove AKS vmType
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/secret.yaml
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/XXL, approved, kind/documentation, kind/cleanup, kind/deprecation, helm-charts

#6343 [1.28] Update version.go
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#6347 Update AWS instance list - Dec 2023
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/L, kind/feature, approved

#6340 Helm: update cluster-autoscaler to 1.28
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved, helm-charts

#6338 Switch to multistage build Dockerfiles for VPA
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/cleanup

#6364 fix(hetzner): insufficient nodes when boot fails
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug, area/provider/hetzner

#6365 [v1.28] fix(hetzner): insufficient nodes when boot fails
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug, area/provider/hetzner

#6366 [v1.27] fix(hetzner): insufficient nodes when boot fails
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#6367 [v1.26] fix(hetzner): insufficient nodes when boot fails
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#6355 [cluster-autoscaler-1.28] update golang to the latest release available for 1.20 in the builder dockerfile
  builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#6353 [cluster-autoscaler-1.26] update golang to the latest release available for 1.19 in the builder dockerfile
  builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#6301 fix: update node annotation used to limit log spam with valid key
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/XS, approved, kind/bug

#6371 fix: updated readme for hetzner cloud provider
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation, area/provider/hetzner

#6327 Add error details to autoscaling backoff.
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/utils/backoff/backoff.go
  cluster-autoscaler/utils/backoff/exponential_backoff.go
  cluster-autoscaler/utils/backoff/exponential_backoff_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#6374 Make backoff.Status.ErrorInfo non-pointer.
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/utils/backoff/backoff.go
  cluster-autoscaler/utils/backoff/exponential_backoff.go
  cluster-autoscaler/utils/backoff/exponential_backoff_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/cleanup

#6246 Deprecate unused node-autoprovisioning-enabled and max-autoprovisioned-node-group-count flags
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug, kind/deprecation

#6376 [GCE] Support paginated instance listing
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved, area/provider/gce

#6373 allow specifing grpc timeout rather than hardcoded 5 seconds
  cluster-autoscaler/cloudprovider/externalgrpc/README.md
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved, area/provider/externalgrpc

#6370 Remove vpa builder Dockerfile and switch dependabot to component Dockerfiles
  .github/dependabot.yml
  vertical-pod-autoscaler/builder/Dockerfile
  vertical-pod-autoscaler/builder/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/cleanup

#6384 azure: fix chart bugs after AKS vmType deprecation
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, helm-charts

#6369 Add VSCode workspace files to .gitignore
  .gitignore
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#6139 Implement priority based evictor
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler_test.go
  cluster-autoscaler/core/scaledown/actuation/priority.go
  cluster-autoscaler/core/scaledown/actuation/priority_test.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved, kind/bug

#6394 Update VPA release README to reference 1.X VPA versions.
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/documentation

#6271 [cluster-autoscaler] chore: Rename Cluster Autoscaler Provider package from Packet to EquinixMetal
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_packet.go
  cluster-autoscaler/cloudprovider/equinixmetal/OWNERS
  cluster-autoscaler/cloudprovider/equinixmetal/README.md
  cluster-autoscaler/cloudprovider/equinixmetal/cloud_provider.go
  cluster-autoscaler/cloudprovider/equinixmetal/examples/cloud-init-template.sh
  cluster-autoscaler/cloudprovider/equinixmetal/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/equinixmetal/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/equinixmetal/examples/cluster-autoscaler-svcaccount.yaml
  cluster-autoscaler/cloudprovider/equinixmetal/manager.go
  cluster-autoscaler/cloudprovider/equinixmetal/manager_rest.go
  cluster-autoscaler/cloudprovider/equinixmetal/manager_rest_test.go
  cluster-autoscaler/cloudprovider/equinixmetal/node_group.go
  cluster-autoscaler/cloudprovider/equinixmetal/node_group_test.go
  cluster-autoscaler/cloudprovider/equinixmetal/price_model.go
  cluster-autoscaler/cloudprovider/equinixmetal/price_model_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup, kind/deprecation

#6399 Fix:Adding missing RBAC + Update Deployment tolerations
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, area/provider/cluster-api

#6390 [civo] Add Gpu count to node template
  cluster-autoscaler/cloudprovider/civo/civo_manager.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#6393 Update dependabot.yml to include addon-resizer
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#6404 Backport of #6390
  cluster-autoscaler/cloudprovider/civo/civo_manager.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#6403 [civo] Add Gpu count to node template
  cluster-autoscaler/cloudprovider/civo/civo_manager.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#6346 Regenerate patch release schedule
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation, tide/merge-method-squash

#6405 Restore flags for setting QPS limit in CA
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/kubernetes/client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#6375 Convert status in cluster-autoscaler-status to yaml and add error info for scale-up backoff
  cluster-autoscaler/clusterstate/api/types.go
  cluster-autoscaler/clusterstate/api/utils.go
  cluster-autoscaler/clusterstate/api/utils_test.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/clusterstate/utils/status.go
  cluster-autoscaler/clusterstate/utils/status_test.go
  cluster-autoscaler/clusterstate/utils/status_test.yaml
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/actionablecluster/actionable_cluster_processor.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved

#6409 Restore flags for setting QPS limit in CA
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/kubernetes/client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#6411 Fix typo
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup
