Repository kubernetes/autoscaler, pull requests merged in 2023-05, with the labels that each got.

#5673 Missing support for AWS inf2 instance types
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved

#5719 Cluster Autoscaler: GCE: add pricing info for G2
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#5685 Added support for AWS inf2 instance types
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5709 refactored vultr node delete
  cluster-autoscaler/cloudprovider/vultr/OWNERS
  cluster-autoscaler/cloudprovider/vultr/vultr_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5690 feat: upgrade latest version cluster-autoscaler on cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5721 Added support for AWS inf2 instance types
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#5676 [vpa] [recommender] use factories for recommender and clusterStateFeeder
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/cleanup

#5703 fix ca deploy spec
  cluster-autoscaler/cloudprovider/alicloud/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5648 fix: update x/http and x/net packages for VPA
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/bug

#5722 Fix/asg resource tags for 1.26.x
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/asg_tag_resource_node_info_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#5596 Add support for tags on AWS managed nodegroups to indicate resources
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5733 Added support for the AWS Trainium instance types
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved

#5732 Added support for the AWS Trainium instance types
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved

#5738 Revert "Add subresource status for vpa"
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/failing-test, approved, kind/bug

#5737 Fix/asg resource tags for 1.24.x
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/asg_tag_resource_node_info_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#5740 CA: Add pod namespace when logging why scaleup wasn't possible
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5731 Feature: parallel scale up
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/executor_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved, kind/cleanup

#5753 Refactor taints.go to support taint values
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5750 Fix scale-up similar node group computation
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/expander/expander.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#5746 Switch to docker buildx for cross-platform builds
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Makefile
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug

#5747 tests for asg resource tags fix 1.24
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#5748 tests for asg resource tags fix 1.26
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5736 Fix/asg resource tags for 1.25.x
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodeinfosprovider/asg_tag_resource_node_info_provider.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/bug

#5760 Fix similar node group calculation for non-existing node groups
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5411 Track lifecycle and skip terminating already terminating instances
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#5770 Add preview EC2 instance type p4de.24xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#5773 Add preview EC2 instance type p4de.24xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#5771 Add preview EC2 instance type p4de.24xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#5772 Add preview EC2 instance type p4de.24xlarge
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5752 fix: empty status configmap leads to nil ptr error
  cluster-autoscaler/clusterstate/utils/status.go
  cluster-autoscaler/clusterstate/utils/status_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5778 Bump golang version & release tag
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5787 [cherry-pick to 1.26]: implement function to identify if node is present in aws
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5788 [cherry-pick to 1.25]: add annotation to ignore local storage volume during scale down
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, approved

#5791 Update ACK help doc link in README.md
  cluster-autoscaler/cloudprovider/alicloud/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5784 [cherry-pick to 1.24]: add annotation to ignore local storage volume during scale down
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, approved

#5786 [cherry-pick to 1.25]: implement function to identify if node is present in aws
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug

#5789 [cherry-pick to 1.26]: add annotation to ignore local storage volume during scale down
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5785 [cherry-pick to 1.24]: implement function to identify if node is present in aws
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved

#5777 Snapshot actuation status before refreshing cache
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5780 Cluster autoscaler release 1.24 - Support RRSA auth in AliCloud
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/credentials/oidc_credential.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signer.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signers/signer_oidc.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client_test.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ecs/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ess/client.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types_test.go
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-rrsa-standard.yaml
Labels: cncf-cla: yes, lgtm, size/XL, kind/feature, approved

#5781 Cluster autoscaler release 1.25 - Support RRSA auth in AliCloud
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/credentials/oidc_credential.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signer.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signers/signer_oidc.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client_test.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ecs/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ess/client.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types_test.go
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-rrsa-standard.yaml
Labels: cncf-cla: yes, lgtm, size/XL, kind/feature, approved

#5782 Cluster autoscaler release 1.26 - Support RRSA auth in AliCloud
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/credentials/oidc_credential.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signer.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signers/signer_oidc.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client_test.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ecs/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ess/client.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types_test.go
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-rrsa-standard.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#5783 Cluster autoscaler release 1.27 - Support RRSA auth in AliCloud
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/credentials/oidc_credential.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signer.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signers/signer_oidc.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client_test.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ecs/client.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/services/ess/client.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_config_test.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types.go
  cluster-autoscaler/cloudprovider/alicloud/alicloud_instance_types_test.go
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-rrsa-standard.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#5768 helm: enable Cluster API machinepool support
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/clusterrole.yaml
  charts/cluster-autoscaler/templates/role.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved, helm-charts

#5798 Update version compatibility for CA.
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5799 docs(ca/faq): Include examples of local volumes and volumes not considered local
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5776 [Cluster-Autoscaler] Change magnum to use control-plane role
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5745 CA - Label Cloudprovider implementation PRs
  cluster-autoscaler/cloudprovider/alicloud/OWNERS
  cluster-autoscaler/cloudprovider/aws/OWNERS
  cluster-autoscaler/cloudprovider/azure/OWNERS
  cluster-autoscaler/cloudprovider/baiducloud/OWNERS
  cluster-autoscaler/cloudprovider/bizflycloud/OWNERS
  cluster-autoscaler/cloudprovider/brightbox/OWNERS
  cluster-autoscaler/cloudprovider/cherryservers/OWNERS
  cluster-autoscaler/cloudprovider/civo/OWNERS
  cluster-autoscaler/cloudprovider/cloudstack/OWNERS
  cluster-autoscaler/cloudprovider/clusterapi/OWNERS
  cluster-autoscaler/cloudprovider/digitalocean/OWNERS
  cluster-autoscaler/cloudprovider/exoscale/OWNERS
  cluster-autoscaler/cloudprovider/externalgrpc/OWNERS
  cluster-autoscaler/cloudprovider/gce/OWNERS
  cluster-autoscaler/cloudprovider/hetzner/OWNERS
  cluster-autoscaler/cloudprovider/huaweicloud/OWNERS
  cluster-autoscaler/cloudprovider/ionoscloud/OWNERS
  cluster-autoscaler/cloudprovider/kamatera/OWNERS
  cluster-autoscaler/cloudprovider/kubemark/OWNERS
  cluster-autoscaler/cloudprovider/linode/OWNERS
  cluster-autoscaler/cloudprovider/magnum/OWNERS
  cluster-autoscaler/cloudprovider/oci/OWNERS
  cluster-autoscaler/cloudprovider/ovhcloud/OWNERS
  cluster-autoscaler/cloudprovider/packet/OWNERS
  cluster-autoscaler/cloudprovider/rancher/OWNERS
  cluster-autoscaler/cloudprovider/scaleway/OWNERS
  cluster-autoscaler/cloudprovider/tencentcloud/OWNERS
  cluster-autoscaler/cloudprovider/vultr/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/documentation

#5811 Fix typo at balancer.md
  balancer/proposals/balancer.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation, balancer

#5812 Export `CalculateUtilizationOfResource` for cloudprovider usage.
  cluster-autoscaler/simulator/utilization/info.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#5342 Added AEP for multi-dimensional pod autoscaler
  multidimensional-pod-autoscaler/AEP.md
  multidimensional-pod-autoscaler/kep-imgs/mpa-action-actuation.png
  multidimensional-pod-autoscaler/kep-imgs/mpa-design.png
Labels: cncf-cla: yes, lgtm, size/XL, kind/feature, approved

#5804 [cherry-pick to 1.24] Don't deref nil nodegroup in deleteCreatedNodesWithErrors
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/bug, kind/regression

#5743 [civo] Support pool wise config
  cluster-autoscaler/cloudprovider/civo/civo_manager.go
  cluster-autoscaler/cloudprovider/civo/civo_manager_test.go
  cluster-autoscaler/cloudprovider/civo/examples/cluster-autoscaler-node-pool.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5818 CA - Correct Cloudprovider PR labelling to area/provider/<provider name>
  cluster-autoscaler/cloudprovider/alicloud/OWNERS
  cluster-autoscaler/cloudprovider/aws/OWNERS
  cluster-autoscaler/cloudprovider/azure/OWNERS
  cluster-autoscaler/cloudprovider/baiducloud/OWNERS
  cluster-autoscaler/cloudprovider/bizflycloud/OWNERS
  cluster-autoscaler/cloudprovider/brightbox/OWNERS
  cluster-autoscaler/cloudprovider/cherryservers/OWNERS
  cluster-autoscaler/cloudprovider/civo/OWNERS
  cluster-autoscaler/cloudprovider/cloudstack/OWNERS
  cluster-autoscaler/cloudprovider/clusterapi/OWNERS
  cluster-autoscaler/cloudprovider/digitalocean/OWNERS
  cluster-autoscaler/cloudprovider/exoscale/OWNERS
  cluster-autoscaler/cloudprovider/externalgrpc/OWNERS
  cluster-autoscaler/cloudprovider/gce/OWNERS
  cluster-autoscaler/cloudprovider/hetzner/OWNERS
  cluster-autoscaler/cloudprovider/huaweicloud/OWNERS
  cluster-autoscaler/cloudprovider/ionoscloud/OWNERS
  cluster-autoscaler/cloudprovider/kamatera/OWNERS
  cluster-autoscaler/cloudprovider/kubemark/OWNERS
  cluster-autoscaler/cloudprovider/linode/OWNERS
  cluster-autoscaler/cloudprovider/magnum/OWNERS
  cluster-autoscaler/cloudprovider/oci/OWNERS
  cluster-autoscaler/cloudprovider/ovhcloud/OWNERS
  cluster-autoscaler/cloudprovider/packet/OWNERS
  cluster-autoscaler/cloudprovider/rancher/OWNERS
  cluster-autoscaler/cloudprovider/scaleway/OWNERS
  cluster-autoscaler/cloudprovider/tencentcloud/OWNERS
  cluster-autoscaler/cloudprovider/volcengine/OWNERS
  cluster-autoscaler/cloudprovider/vultr/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#5816 Added the RBAC Permission to Linode.
  cluster-autoscaler/cloudprovider/linode/examples/cluster-autoscaler-autodiscover.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, area/provider/linode

#5819 [volcengine] fix(volcengine): don't build all providers when volcengine tag exists
  cluster-autoscaler/cloudprovider/builder/builder_all.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#5823 Fixed Typo and Trailing-whitespace
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug

#5805 [cherry-pick to 1.25] fix(*): refresh node instance cache when nodegroup not found in deleteCreatedNodesWithErrors
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5547 KEP for allowing Addon Resizer 1.8 to scale based on container count
  addon-resizer/enhancements/5546-scaling-based-on-container-count/README.md
Labels: cncf-cla: yes, lgtm, addon-resizer, size/L, kind/feature, approved, kind/documentation

#5824 Skip healthiness check for non-existing similar node groups
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug
