Repository kubernetes/autoscaler, pull requests merged in 2023-08, with the labels that each got.

#5995 Backport #5941 and #5943[CA]`Fixed go:build tags for ovhcloud` and `Update the go:build tag for missing cloud providers` into CA1.25
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5996 Backport #5941 and #5943[CA]`Fixed go:build tags for ovhcloud` and `Update the go:build tag for missing cloud providers` into CA1.26
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5997 Backport #5941 and #5943[CA]`Fixed go:build tags for ovhcloud` and `Update the go:build tag for missing cloud providers` into CA1.27
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6006 Add error code for invalid reservations to GCE client
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved, area/provider/gce

#6002 Support ZeroOrMaxNodeScaling node groups when cleaning up unregistered nodes
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#6013 Don't pass nil nodes to GetGpuInfoForMetrics
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#6003 Fix nil pointer exception for case when node is nil while processing …
  cluster-autoscaler/utils/gpu/gpu.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug, kind/regression

#5964 fix: balancer RBAC permission to update balancer status
  balancer/deploy/controller.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, balancer

#5994 Backport #5941 and #5943[CA]`Fixed go:build tags for ovhcloud` and `Update the go:build tag for missing cloud providers` into CA1.24
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5961 chore(deps): update vendored hcloud-go to 2.0.0
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/hack/update-vendor.sh
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/LICENSE
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/action.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/architecture.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/certificate.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/datacenter.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/deprecation.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/firewall.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/floating_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/hcloud.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/helper.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/image.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/internal/instrumentation/metrics.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/labels.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/location.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/metadata/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/network.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/placement_group.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/primary_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/rdns.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/resource.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/action.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/certificate.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/datacenter.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/deprecation.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/firewall.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/floating_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/image.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/load_balancer_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/location.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/meta.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/network.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/placement_group.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/primary_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/ssh_key.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/volume.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/ssh_key.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/testing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/volume.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved, area/provider/hetzner

#5979 Add requirement for Custom Resources to VPA FAQ
  vertical-pod-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/documentation

#5987 Fix broken hyperlink
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5176 API for KEP-4831: Control VPA eviction behavior based on scaling direction and resource
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/feature, approved, kind/api-change

#6011 Clean up the NodeGroupConfigProcessor interface and remove the MaxNodeProvisioningTimeProvider interface.
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/clusterstate/providers/max_node_provision_time_provider.go
  cluster-autoscaler/clusterstate/testutils.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch_test.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor_test.go
  cluster-autoscaler/processors/processors.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#6026 VPA: Update ResourcePolicy description and limit control README
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/documentation

#6022 Fixed the hyperlink for Node group auto discovery.
  cluster-autoscaler/cloudprovider/magnum/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6020 Added s390x support
  cluster-autoscaler/Dockerfile.s390x
  cluster-autoscaler/Makefile
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#6034 Set batch size to target size for atomically scaled groups
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/budgets/budgets.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#6005 [VPA] feat: add prometheus basic auth in the VPA recommender
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/feature, approved

#6038 fix: scale down broken for providers not implementing NodeGroup.GetOptions()
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler.go
  cluster-autoscaler/core/scaledown/budgets/budgets.go
  cluster-autoscaler/processors/nodes/post_filtering_processor.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, kind/regression

#6051 Add fetch reservations in specific project
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved, kind/api-change, area/provider/gce

#6044 Add details to consider section to VPA in-place updates AEP
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved

#6042 cherry pick #6020- Adding support to s390x arch
  cluster-autoscaler/Dockerfile.s390x
  cluster-autoscaler/Makefile
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#6047 Fix Doc with External gRPC
  cluster-autoscaler/cloudprovider/externalgrpc/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#6016 Allow using an externally created secret instead of using the one the Helm chart creates
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved, helm-charts

#6036 fix: Broken links to testgrid dashboard
  cluster-autoscaler/FAQ.md
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, vertical-pod-autoscaler, size/XS, approved, kind/documentation

#6039 feat(hetzner): use less requests while waiting for server create
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved, area/provider/hetzner

#6015 [addon-resizer] docs: add KEP to add nanny configuration automatic reload.
  addon-resizer/enhancements/5700-nanny-configuration-reload/README.md
Labels: cncf-cla: yes, lgtm, addon-resizer, size/M, kind/feature, approved, kind/documentation

#6059 CA - Git ignore s390x arch binaries
  cluster-autoscaler/.gitignore
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#6056 Add support to filter out pods being deleted.
  cluster-autoscaler/utils/kubernetes/listers.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6035 Add support for json logging format
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/main.go
  cluster-autoscaler/vendor/github.com/go-logr/zapr/.gitignore
  cluster-autoscaler/vendor/github.com/go-logr/zapr/LICENSE
  cluster-autoscaler/vendor/github.com/go-logr/zapr/README.md
  cluster-autoscaler/vendor/github.com/go-logr/zapr/zapr.go
  cluster-autoscaler/vendor/k8s.io/component-base/logs/json/json.go
  cluster-autoscaler/vendor/k8s.io/component-base/logs/json/register/register.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#6063 CA - Gitignore s390x binary
  cluster-autoscaler/.gitignore
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#6069 fix(chart): cloudProvider name reference for OCI
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, kind/documentation, helm-charts

#6071 Added the RBAC Permission to Cloudstack
  cluster-autoscaler/cloudprovider/cloudstack/examples/cluster-autoscaler-standard.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6055 Add additional test cases to scale down budget tests.
  cluster-autoscaler/core/scaledown/budgets/budgets_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#6072 Backport #6035 feat: json logging support into 1.28
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/main.go
  cluster-autoscaler/vendor/github.com/go-logr/zapr/.gitignore
  cluster-autoscaler/vendor/github.com/go-logr/zapr/LICENSE
  cluster-autoscaler/vendor/github.com/go-logr/zapr/README.md
  cluster-autoscaler/vendor/github.com/go-logr/zapr/zapr.go
  cluster-autoscaler/vendor/k8s.io/component-base/logs/json/json.go
  cluster-autoscaler/vendor/k8s.io/component-base/logs/json/register/register.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#6073 Backport #6035 feat: json logging support into 1.27
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/main.go
  cluster-autoscaler/vendor/github.com/go-logr/zapr/.gitignore
  cluster-autoscaler/vendor/github.com/go-logr/zapr/LICENSE
  cluster-autoscaler/vendor/github.com/go-logr/zapr/README.md
  cluster-autoscaler/vendor/github.com/go-logr/zapr/zapr.go
  cluster-autoscaler/vendor/k8s.io/component-base/logs/json/json.go
  cluster-autoscaler/vendor/k8s.io/component-base/logs/json/register/register.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved

#6062 David.benque/prevent empty resource propagation upstream 2
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_recommendation.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, approved, kind/bug

#6033 Fix index out of range when fail to get instance types
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/M, approved, kind/bug
