Repository kubernetes/autoscaler, pull requests merged in 2023-01, with the labels that each got.

#5392 Stop asking PR creators to name modified components
  .github/PULL_REQUEST_TEMPLATE.md
  addon-resizer/OWNERS
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved

#5383 fix typo in FAQ
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5391 State expectations around cloudprovider OWNERS
  cluster-autoscaler/cloudprovider/POLICY.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation

#5396 Automated cherry pick of #5388: Move PredicateChecker initialization before processors
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#5398 Cluster Autoscaler 1.26.1
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#5313 recommendation post processor for integer CPU
  vertical-pod-autoscaler/FAQ.md
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/cpu_integer_post_processor.go
  vertical-pod-autoscaler/pkg/recommender/routines/cpu_integer_post_processor_test.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, kind/feature, approved

#5402 adding configurable difference ratios
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/aws_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/aws_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor_test.go
  cluster-autoscaler/processors/nodegroupset/clusterapi_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/clusterapi_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/gce_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/nodegroup_set_processor.go
  cluster-autoscaler/processors/processors.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#5410 Update addon-resizer README regerding estimator flag.
  addon-resizer/README.md
Labels: cncf-cla: yes, lgtm, addon-resizer, size/S, approved

#5409 Mark VPA KEP 4902 as deprecated in favor of using PDB feature
  vertical-pod-autoscaler/enhancements/4902-delete-oom-pods/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, kind/feature, approved, kind/documentation, kind/cleanup, kind/deprecation

#5408 fix: alicloud provider example yaml
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-standard.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5414 Added the RBAC Permission to alicloud.
  cluster-autoscaler/cloudprovider/alicloud/examples/cluster-autoscaler-standard.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5375 Remove nodegroupset processor from clusterapi
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/clusterapi_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/clusterapi_nodegroups_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5425 Added link for RFC3986 in host.go code.
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/protocol/host.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#5422 gRPC expander: allow realistic server responses, and log errors
  cluster-autoscaler/expander/grpcplugin/grpc_client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5428 add an extra note to clusterapi readme about gpus
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation, kind/cleanup

#5430 Rephrase error messages specific for GPUs.
  cluster-autoscaler/core/scaledown/resource/limits.go
  cluster-autoscaler/core/scaleup/resource_manager.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup

#5439 GCE: Add os parameters to MigOsInfo interface
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_reserved.go
  cluster-autoscaler/cloudprovider/gce/gce_reserved_test.go
  cluster-autoscaler/cloudprovider/gce/os_reserved.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5441 Clean up DS utils: remove unused cluster snapshot and predicate checker
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/utils/daemonset/daemonset.go
  cluster-autoscaler/utils/daemonset/daemonset_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5435 OCI OKE autoscaller requires Updated Set of permissions.
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-config.yaml
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-principals.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/documentation

#5442 Add filtering out DS pods from scale-up, refactor default pod list processor
  cluster-autoscaler/core/podlistprocessor/filter_out_daemon_sets.go
  cluster-autoscaler/core/podlistprocessor/filter_out_daemon_sets_test.go
  cluster-autoscaler/core/podlistprocessor/pod_list_processor.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5445 update vendor to v1.26.1 due to #5372
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/github.com/google/cel-go/cel/program.go
  cluster-autoscaler/vendor/k8s.io/api/core/v1/generated.proto
  cluster-autoscaler/vendor/k8s.io/api/core/v1/types.go
  cluster-autoscaler/vendor/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  cluster-autoscaler/vendor/k8s.io/client-go/applyconfigurations/internal/internal.go
  cluster-autoscaler/vendor/k8s.io/client-go/discovery/discovery_client.go
  cluster-autoscaler/vendor/k8s.io/client-go/rest/request.go
  cluster-autoscaler/vendor/k8s.io/client-go/rest/with_retry.go
  cluster-autoscaler/vendor/k8s.io/component-base/metrics/registry.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/controller/daemon/daemon_controller.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/proxy/winkernel/hns.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/proxy/winkernel/proxier.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/preemption/preemption.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/runtime/framework.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  cluster-autoscaler/vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  cluster-autoscaler/vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/metrics/metrics.go
  cluster-autoscaler/vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/common/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, approved, kind/bug, kind/regression

#5395 Balancer API
  balancer/OWNERS
  balancer/pkg/apis/balancer.x-k8s.io/v1alpha1/doc.go
  balancer/pkg/apis/balancer.x-k8s.io/v1alpha1/register.go
  balancer/pkg/apis/balancer.x-k8s.io/v1alpha1/types.go
  balancer/pkg/apis/balancer.x-k8s.io/v1alpha1/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, size/XL, kind/feature, approved

#5275 VPA: make parameters oomBumpUpRatio and oomMinBumpUp configurable
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregations_config.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/M, kind/feature, approved

#5326 Stop filtering aggregatedContainerStates without samples
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/vpa.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/bug

#5406 VPA release 0.13.0
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved

#5440 Helm chart OCI-OKE support
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, helm-charts
