Repository kubernetes/autoscaler, pull requests merged in 2023-03, with the labels that each got.

#5539 Fix multiple recommenders example: deployment name
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/documentation

#5552 Fix RemovalSimulation for parallel scale down
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unremovable/nodes.go
  cluster-autoscaler/core/scaledown/unremovable/nodes_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#5556 Limit the rate of adding new uneeded nodes
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#5562 Use snapshot of NodeDeletionTracker for ActuationStatus
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/deletiontracker/nodedeletiontracker.go
  cluster-autoscaler/core/scaledown/scaledown.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#5559 Update Ionos Cloud README and deploy example
  cluster-autoscaler/cloudprovider/ionoscloud/README.md
  cluster-autoscaler/cloudprovider/ionoscloud/example-values.yaml
  cluster-autoscaler/cloudprovider/ionoscloud/examples/cluster-autoscaler-standard.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/documentation

#4478 [CA] [AWS examples] Add container securityContext
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/aws, size/M, approved

#5549 cluster-autoscaler: add missing import to kubermark_other.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/failing-test, approved, kind/bug

#5545 Create enhancements directory for Addon Resizer
  addon-resizer/enhancements/README.md
Labels: cncf-cla: yes, lgtm, addon-resizer, size/XS, approved, kind/documentation

#5572 Cluster Autoscaler: GCE: add pricing info for C3
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5463 Re-sort on root level, add `hostNetwork` parameter
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/podsecuritypolicy.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, approved, helm-charts

#5537 cluster-autoscaler: Add option to disable scale down of unready nodes
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/cluster.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5529 Added support for AWS inf2 instance types
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, vertical-pod-autoscaler, size/S, kind/feature, approved

#5575 Cleanup recommender model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/cleanup

#5578 Add empty nodes sorting for scale down candidates
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/scaledowncandidates/emptycandidates/empty_candidates_sorting.go
  cluster-autoscaler/processors/scaledowncandidates/emptycandidates/empty_candidates_sorting_test.go
  cluster-autoscaler/processors/scaledowncandidates/previouscandidates/previous_candidates_sorting.go
  cluster-autoscaler/processors/scaledowncandidates/previouscandidates/previous_candidates_sorting_test.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_sorting_processor.go
  cluster-autoscaler/processors/scaledowncandidates/sorting_processor.go
  cluster-autoscaler/processors/scaledowncandidates/sorting_processor_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5581 CA - Document Debugging Snapshotter flag
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5557 Simplify the GCE client FetchMigInstances function.
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5589 Introduce a regular patch release schedule for CA
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved

#5593 docs: fix faq around expendable-pods-priority-cutoff
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation

#5585 ovhcloud: Fix panic on concurrent map read/write
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#5584 ovhcloud: Fix deletion of multiple nodes at the same time
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5583 ovhcloud: For any call to api.ovh.com returning a 500 error, retry call on ca.api.ovh.com
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/error.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/ovh.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/bug

#5586 ovhcloud: Add support for nodepool templating
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/nodepool.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5600 Fix controller-gen version in automatic download
  vertical-pod-autoscaler/hack/generate-crd-yaml.sh
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug

#5603 baseURI for skuClient based on cloud
  cluster-autoscaler/cloudprovider/azure/azure_client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/XS, approved, kind/bug

#5582 fix(ca/hetzner): specify application name & version
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/cleanup, area/provider/hetzner

#5604 baseURI for skuClient based on cloud cherry-pick #5603
  cluster-autoscaler/cloudprovider/azure/azure_client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5606 baseURI for skuClient based on cloud cherry-pick #5603
  cluster-autoscaler/cloudprovider/azure/azure_client.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#5553 [cluster-api] Handle ignored errors
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5597 Put ScaleUp logic behind an interface
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scale_up.go
  cluster-autoscaler/core/scaleup/equivalence/groups.go
  cluster-autoscaler/core/scaleup/equivalence/groups_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons_test.go
  cluster-autoscaler/core/scaleup/resource/manager.go
  cluster-autoscaler/core/scaleup/resource/manager_test.go
  cluster-autoscaler/core/scaleup/scaleup.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, approved, kind/cleanup

#5610 GCE: Fallback f1 and g1 machine families to n1
  cluster-autoscaler/cloudprovider/gce/machine_types.go
  cluster-autoscaler/cloudprovider/gce/machine_types_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5507 feat: check only controller ref to decide if a pod is replicated
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5613 Fix typo & replace deprecated functions & replace literals with constants
  vertical-pod-autoscaler/MIGRATE.md
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/enhancements/4902-delete-oom-pods/README.md
  vertical-pod-autoscaler/pkg/admission-controller/README.md
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/types.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/target/mock/fetcher_mock.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/admission/admission.go
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/cleanup

#5568 Automated cherry pick of #5246: Don't break scale up with priority expander config
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5551 Consider pods with emptydir volume in memory be evictable
  cluster-autoscaler/utils/drain/drain.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#5495 Balancer controller implementation
  balancer/go.mod
  balancer/pkg/client/clientset/versioned/clientset.go
  balancer/pkg/client/clientset/versioned/doc.go
  balancer/pkg/client/clientset/versioned/fake/clientset_generated.go
  balancer/pkg/client/clientset/versioned/fake/doc.go
  balancer/pkg/client/clientset/versioned/fake/register.go
  balancer/pkg/client/clientset/versioned/scheme/doc.go
  balancer/pkg/client/clientset/versioned/scheme/register.go
  balancer/pkg/client/clientset/versioned/typed/balancer.x-k8s.io/v1alpha1/balancer.go
  balancer/pkg/client/clientset/versioned/typed/balancer.x-k8s.io/v1alpha1/balancer.x-k8s.io_client.go
  balancer/pkg/client/clientset/versioned/typed/balancer.x-k8s.io/v1alpha1/doc.go
  balancer/pkg/client/clientset/versioned/typed/balancer.x-k8s.io/v1alpha1/fake/doc.go
  balancer/pkg/client/clientset/versioned/typed/balancer.x-k8s.io/v1alpha1/fake/fake_balancer.go
  balancer/pkg/client/clientset/versioned/typed/balancer.x-k8s.io/v1alpha1/fake/fake_balancer.x-k8s.io_client.go
  balancer/pkg/client/clientset/versioned/typed/balancer.x-k8s.io/v1alpha1/generated_expansion.go
  balancer/pkg/client/informers/externalversions/balancer.x-k8s.io/interface.go
  balancer/pkg/client/informers/externalversions/balancer.x-k8s.io/v1alpha1/balancer.go
  balancer/pkg/client/informers/externalversions/balancer.x-k8s.io/v1alpha1/interface.go
  balancer/pkg/client/informers/externalversions/factory.go
  balancer/pkg/client/informers/externalversions/generic.go
  balancer/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  balancer/pkg/client/listers/balancer.x-k8s.io/v1alpha1/balancer.go
  balancer/pkg/client/listers/balancer.x-k8s.io/v1alpha1/expansion_generated.go
  balancer/pkg/controller/conditions.go
  balancer/pkg/controller/conditions_test.go
  balancer/pkg/controller/controller.go
  balancer/pkg/controller/controller_test.go
  balancer/pkg/controller/core.go
  balancer/pkg/controller/core_test.go
  balancer/pkg/controller/rate_limiters.go
  balancer/pkg/controller/scale.go
  balancer/pkg/controller/scale_mock.go
  balancer/pkg/policy/policy.go
  balancer/pkg/policy/priority_test.go
  balancer/pkg/policy/proportional_test.go
  balancer/pkg/policy/utils.go
Labels: cncf-cla: yes, lgtm, size/XXL, kind/feature, approved, balancer

#5621 Make the "OOMing pods under VPA" test more robust.
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/flake

#5558 chart: Add option to install VPA
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/vpa.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, helm-charts

#5623 Fix the setup for allow containers to fail (they should be OOM-killed)
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, kind/failing-test, approved

#5629 Cherry-pick of #5246
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/expander/priority/priority_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5627 Remove Factory interface since it is not used.
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons.go
  cluster-autoscaler/core/scaleup/scaleup.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5635 [GCE] default os_distribution to default if extraction from kube-env …
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5638 docs: fix invalid flag name
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#5644 Bump golang version to address vulnerabilities in go1.16.
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, kind/cleanup
