Repository kubernetes/autoscaler, pull requests merged in 2023-04, with the labels that each got.

#5567 Add dependabot configuration for VPA
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/S, approved

#5651 [helm chart] Upgrade Cluster Autoscaler chart to use Cluster Autoscal…
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, helm-charts

#5653 Fix drain logic when skipNodesWithCustomControllerPods=false, set NodeDeleteOptions correctly
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/scaledowncandidates/emptycandidates/empty_candidates_sorting.go
  cluster-autoscaler/processors/scaledowncandidates/emptycandidates/empty_candidates_sorting_test.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/utils/drain/drain.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#5670 Bump version to 1.8.18 to release #5669.
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#5632 fix: implement function to identify if node is present in aws
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5643 Balancer - main.go and yamls
  balancer/Dockerfile
  balancer/Makefile
  balancer/deploy/controller.yaml
  balancer/deploy/crd.yaml
  balancer/examples/nginx-priority-hpa.yaml
  balancer/examples/nginx-priority.yaml
  balancer/examples/nginx-proportional.yaml
  balancer/main.go
  balancer/pkg/apis/balancer.x-k8s.io/v1alpha1/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, size/XL, kind/feature, approved, balancer

#5652 CA orchestrator exports new methods/functions
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5666 Add FetchReservations to GCE Autoscaling client
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, kind/feature, approved

#5677 Add support for Hetzner Cloud Arm Server Types
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/action.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/architecture.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/certificate.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/floating_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/hcloud.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/helper.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/image.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/internal/instrumentation/metrics.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/labels.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/metadata/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/network.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/placement_group.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/primary_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/rdns.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/image.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/iso.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/primary_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/volume.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, kind/feature, approved, area/provider/hetzner

#5594 feat: add annotation to ignore local storage volume during scale down
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/utils/drain/drain.go
  cluster-autoscaler/utils/drain/drain_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5665 Limit refresh rate of GCE MIG instances.
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/main.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5649 Move MaxNodeProvisionTime to NodeGroupAutoscalingOptions
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/clusterstate/max_node_provision_time_provider.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/const.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5602 Adding VMSS Flex support in Azure AutoScaler
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/XL, kind/feature, approved

#5702 Cherry picking #5602 for cluster-autoscaler-release-1.27
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#5707 Update vendor to 1.27.1
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved

#5548 Azure: Fast nodegroup backoff on failed provisioning
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/M, kind/feature, approved

#5697 Fix the buildTemplateLabels method for the ClusterApi provider
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/bug

#5706 Add a dedicated struct for the MaxResourceLimitReached Reasons
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5696 Extract 'SchedulablePods' method in orchestrator.
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup

#5694 Add new method 'ReachedLimit' to EstimationLimiter
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/estimator/threshold_based_limiter.go
  cluster-autoscaler/estimator/threshold_based_limiter_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, kind/feature, approved

#5713 Binpacking Estimator pod priority
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/decreasing_pod_orderer.go
  cluster-autoscaler/estimator/decreasing_pod_orderer_test.go
  cluster-autoscaler/estimator/estimator.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#5715 Revert "Add new method 'ReachedLimit' to EstimationLimiter"
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/estimator/threshold_based_limiter.go
  cluster-autoscaler/estimator/threshold_based_limiter_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved, kind/cleanup
