Repository kubernetes/autoscaler, pull requests merged in 2024-03, with the labels that each got.

#6574 [Hetzner] Fix missing ephemeral storage definition
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, area/provider/hetzner

#6535 CA: GCE: add pricing for new Z3 machines
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, area/provider/gce

#6562 docs: update outdated/deprecated taints in the examples
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/cherryservers/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/hetzner/examples/cluster-autoscaler-run-on-master.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment-control-plane.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-autodiscovery.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-example.yaml
  cluster-autoscaler/cloudprovider/tencentcloud/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, area/provider/azure, size/M, approved, kind/documentation, kind/cleanup, area/provider/hetzner

#6573 Add warning about vendor removal to Makefile build target
  cluster-autoscaler/Makefile
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/cleanup, kind/deprecation

#6578 Fix a bug where atomic scale-down failure could affect subsequent atomic scale-downs
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved

#6554 Migrate from satori/go.uuid to gofrs/uuid
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/utils/utils.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/github.com/google/uuid/.travis.yml
  cluster-autoscaler/vendor/github.com/google/uuid/CHANGELOG.md
  cluster-autoscaler/vendor/github.com/google/uuid/CONTRIBUTING.md
  cluster-autoscaler/vendor/github.com/google/uuid/README.md
  cluster-autoscaler/vendor/github.com/google/uuid/hash.go
  cluster-autoscaler/vendor/github.com/google/uuid/node_js.go
  cluster-autoscaler/vendor/github.com/google/uuid/time.go
  cluster-autoscaler/vendor/github.com/google/uuid/uuid.go
  cluster-autoscaler/vendor/github.com/google/uuid/version6.go
  cluster-autoscaler/vendor/github.com/google/uuid/version7.go
  cluster-autoscaler/vendor/github.com/satori/go.uuid/.travis.yml
  cluster-autoscaler/vendor/github.com/satori/go.uuid/LICENSE
  cluster-autoscaler/vendor/github.com/satori/go.uuid/README.md
  cluster-autoscaler/vendor/github.com/satori/go.uuid/codec.go
  cluster-autoscaler/vendor/github.com/satori/go.uuid/generator.go
  cluster-autoscaler/vendor/github.com/satori/go.uuid/sql.go
  cluster-autoscaler/vendor/github.com/satori/go.uuid/uuid.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/containerserviceclient/mockcontainerserviceclient/doc.go
  cluster-autoscaler/vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/containerserviceclient/mockcontainerserviceclient/interface.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/vertical-pod-autoscaler, size/XXL, approved, needs-rebase, kind/cleanup

#6552 Add BuildTestNodeWithAllocatable test utility method.
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/cleanup

#6491 add informer argument to clusterapi provider builder
  cluster-autoscaler/cloudprovider/builder/builder_clusterapi.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug

#6494 Add informer argument to the CloudProviders builder.
  cluster-autoscaler/cloudprovider/builder/builder_alicloud.go
  cluster-autoscaler/cloudprovider/builder/builder_aws.go
  cluster-autoscaler/cloudprovider/builder/builder_azure.go
  cluster-autoscaler/cloudprovider/builder/builder_baiducloud.go
  cluster-autoscaler/cloudprovider/builder/builder_bizflycloud.go
  cluster-autoscaler/cloudprovider/builder/builder_brightbox.go
  cluster-autoscaler/cloudprovider/builder/builder_cherry.go
  cluster-autoscaler/cloudprovider/builder/builder_civo.go
  cluster-autoscaler/cloudprovider/builder/builder_cloudstack.go
  cluster-autoscaler/cloudprovider/builder/builder_digitalocean.go
  cluster-autoscaler/cloudprovider/builder/builder_exoscale.go
  cluster-autoscaler/cloudprovider/builder/builder_externalgrpc.go
  cluster-autoscaler/cloudprovider/builder/builder_gce.go
  cluster-autoscaler/cloudprovider/builder/builder_hetzner.go
  cluster-autoscaler/cloudprovider/builder/builder_huaweicloud.go
  cluster-autoscaler/cloudprovider/builder/builder_ionoscloud.go
  cluster-autoscaler/cloudprovider/builder/builder_kamatera.go
  cluster-autoscaler/cloudprovider/builder/builder_kubemark.go
  cluster-autoscaler/cloudprovider/builder/builder_linode.go
  cluster-autoscaler/cloudprovider/builder/builder_magnum.go
  cluster-autoscaler/cloudprovider/builder/builder_oci.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
  cluster-autoscaler/cloudprovider/builder/builder_packet.go
  cluster-autoscaler/cloudprovider/builder/builder_rancher.go
  cluster-autoscaler/cloudprovider/builder/builder_scaleway.go
  cluster-autoscaler/cloudprovider/builder/builder_tencentcloud.go
  cluster-autoscaler/cloudprovider/builder/builder_volcengine.go
  cluster-autoscaler/cloudprovider/builder/builder_vultr.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug

#6584 Delay force refresh by DefaultInterval when OCI GetNodePool call retu…
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved

#6595 Update expander options for the AWS cloud provider README
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/S, approved, kind/documentation

#6590 Backport #6491 and #6494 [CA] Add informer argument to the Cloud Providers builder into CA1.29
  cluster-autoscaler/cloudprovider/builder/builder_alicloud.go
  cluster-autoscaler/cloudprovider/builder/builder_aws.go
  cluster-autoscaler/cloudprovider/builder/builder_azure.go
  cluster-autoscaler/cloudprovider/builder/builder_baiducloud.go
  cluster-autoscaler/cloudprovider/builder/builder_bizflycloud.go
  cluster-autoscaler/cloudprovider/builder/builder_brightbox.go
  cluster-autoscaler/cloudprovider/builder/builder_cherry.go
  cluster-autoscaler/cloudprovider/builder/builder_civo.go
  cluster-autoscaler/cloudprovider/builder/builder_cloudstack.go
  cluster-autoscaler/cloudprovider/builder/builder_clusterapi.go
  cluster-autoscaler/cloudprovider/builder/builder_digitalocean.go
  cluster-autoscaler/cloudprovider/builder/builder_exoscale.go
  cluster-autoscaler/cloudprovider/builder/builder_externalgrpc.go
  cluster-autoscaler/cloudprovider/builder/builder_gce.go
  cluster-autoscaler/cloudprovider/builder/builder_hetzner.go
  cluster-autoscaler/cloudprovider/builder/builder_huaweicloud.go
  cluster-autoscaler/cloudprovider/builder/builder_ionoscloud.go
  cluster-autoscaler/cloudprovider/builder/builder_kamatera.go
  cluster-autoscaler/cloudprovider/builder/builder_kubemark.go
  cluster-autoscaler/cloudprovider/builder/builder_linode.go
  cluster-autoscaler/cloudprovider/builder/builder_magnum.go
  cluster-autoscaler/cloudprovider/builder/builder_oci.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
  cluster-autoscaler/cloudprovider/builder/builder_packet.go
  cluster-autoscaler/cloudprovider/builder/builder_rancher.go
  cluster-autoscaler/cloudprovider/builder/builder_scaleway.go
  cluster-autoscaler/cloudprovider/builder/builder_tencentcloud.go
  cluster-autoscaler/cloudprovider/builder/builder_volcengine.go
  cluster-autoscaler/cloudprovider/builder/builder_vultr.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug

#6408 Addon-resizer-release-1.8 branch: Add repo root OWNERS file
  OWNERS
Labels: cncf-cla: yes, lgtm, size/S, kind/cleanup

#6603 CA - Add 1.29 to version compatibility matrix
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation

#6621 Backport #6245 [CA] AWS: cache instance requirements into CA 1.28
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/M, kind/feature, approved

#6622 Backport #6245 [CA] AWS: cache instance requirements into CA 1.27
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#6623 Backport #6245 [CA] AWS: cache instance requirements into CA 1.26
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved

#6611 Set "pd-balanced" as DefaultBootDiskType
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, area/provider/gce

#6598 Add listManagedInstancesResults to GceCache.
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/cache_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, area/provider/gce

#6614 add price info for n4
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, kind/feature, approved, area/provider/gce

#6616 Clarify VPA and HPA limitations when scaling on resource metrics
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/documentation

#6604 Track auto-provisioned queued provisioning node groups.
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, kind/feature, approved

#6587 Add AtomicScaleUp method to NodeGroup interface
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/bizflycloud/bizflycloud_node_group.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_node_group.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/equinixmetal/node_group.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_node_group_instance_pool.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_node_group_sks_nodepool.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups.go
  cluster-autoscaler/cloudprovider/linode/linode_node_group.go
  cluster-autoscaler/cloudprovider/magnum/magnum_nodegroup.go
  cluster-autoscaler/cloudprovider/mocks/NodeGroup.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/cloudprovider/volcengine/volcengine_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/vultr/vultr_node_group.go
  cluster-autoscaler/expander/waste/waste_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, area/provider/azure, size/L, approved, kind/api-change, area/provider/cluster-api, area/provider/digitalocean, area/provider/linode, area/provider/hetzner, area/provider/gce, area/provider/externalgrpc, area/provider/rancher, area/provider/ionoscloud

#6547 Migrate GCE client to server-side wait
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, area/provider/gce

#6570 Regional instance
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/gce_url.go
  cluster-autoscaler/cloudprovider/gce/gce_url_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, area/provider/gce, area/provider/externalgrpc

#6606 Allow to override rancher provider settings
  cluster-autoscaler/cloudprovider/rancher/README.md
  cluster-autoscaler/cloudprovider/rancher/rancher_config.go
  cluster-autoscaler/cloudprovider/rancher/rancher_config_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved, area/provider/rancher

#6526 Backport #6522 [CA] Bump go version into CA1.29
  .github/workflows/ci.yaml
  builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#6500 clusterapi: add missing error check
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, area/provider/cluster-api

#6507 fix empty ProviderID in ali NodeGroupForNode
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug

#6596 Remove shadow err variable in deleteCreatedNodesWithErros func
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug

#6602 fix memory leak in NodeDeleteTracker
  cluster-autoscaler/core/scaledown/deletiontracker/nodedeletiontracker.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug

#6589 Add an option to trigger iterations more frequently
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/loop/run.go
  cluster-autoscaler/loop/trigger.go
  cluster-autoscaler/main.go
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved

#6502 feature: Support Hetzner cloud provider in Helm chart
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, area/helm-charts

#6484 chore: cherry-pick scale-down-delay-* per nodegroup to 1.29
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/const.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch_test.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/observers/nodegroupchange/scale_state_observer.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor_test.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_processor.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, approved

#6575 Refactor StartDeletion usage patterns and enforce periodic scaledown
  cluster-autoscaler/core/podlistprocessor/currently_drained_nodes_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/deletiontracker/nodedeletiontracker.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved

#6625 Updated VPA admission-controller to have adjustable minimum TLS version and TLS ciphers
  vertical-pod-autoscaler/pkg/admission-controller/README.md
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/feature, approved

#6632 Don't normalize azure vmss
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, area/provider/cluster-api

#6628 [clusterapi] Do not skip nodegroups with minSize=maxSize
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved, area/provider/cluster-api

#6613 Deprecate the Linode Cluster Autoscaler provider
  cluster-autoscaler/cloudprovider/linode/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/deprecation, area/provider/linode

#6644 CA 1.27 Release Branch: GitIgnore s390x binaries
  cluster-autoscaler/.gitignore
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#6651 CA: Move the ProvisioningRequest CRD to apis module
  cluster-autoscaler/Makefile
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_provisioningrequests.yaml
  cluster-autoscaler/config/crd/autoscaling.x-k8s.io_provisioningrequests.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/cleanup

#6662 Remove unused NodeInfoProcessor
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/processors/nodeinfos/node_info_processor.go
  cluster-autoscaler/processors/processors.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/cleanup

#6668 CA: Before we perform go test, synchronizing go modules
  cluster-autoscaler/Makefile
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_intermediate_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_leaf_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_root_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_intermediate_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_leaf_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_root_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.der
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/testdata/client_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/testdata/client_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/testdata/server_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/testdata/server_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/client_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/client_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/mds_client_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/mds_client_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/mds_root_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/mds_server_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/mds_server_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/self_signed_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/self_signed_key.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/server_cert.pem
  cluster-autoscaler/vendor/github.com/google/s2a-go/testdata/server_key.pem
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, approved, kind/bug
