Repository kubernetes/autoscaler, pull requests merged in 2024-02, with the labels that each got.

#6460 [VPA] check OwnerRef against TargetRef to confirm VPA/Pod association
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_cache_storage.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_cache_storage_test.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_fake.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/L, approved, kind/bug

#6469 doc: cluster-autoscaler: Oracle provider: Add small security note
  cluster-autoscaler/cloudprovider/oci/README.md
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/S, approved, kind/documentation

#6480 Update the VPA Version to v1.0.0
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/XS, approved, kind/bug

#6475 Bump CA Chart image to v1.29
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/feature, approved

#6483 chore: add vadasambar to cluster-autoscaler reviewers
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved

#6437 Added the RBAC Permission to equinixmetal Cloud Provider.
  cluster-autoscaler/cloudprovider/equinixmetal/examples/cluster-autoscaler-svcaccount.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug

#6506 Update Auto Labels of Subprojects
  addon-resizer/OWNERS
  balancer/OWNERS
  charts/OWNERS
  cluster-autoscaler/OWNERS
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/cleanup

#6504 Backport #5901 [CA] Remove unneeded node groups regardless of scale down being in cooldown into CA1.26
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved

#6505 Backport #5901 [CA] Remove unneeded node groups regardless of scale down being in cooldown into CA1.27
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved

#6499 chore: remove unused arg from StaticAutoScaler
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/cleanup

#6485 fix: panic in deleteNodesFromCloudProvider
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug

#6273 Stop (un)tainting nodes from unselected node groups.
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug

#6518 Move estimatorBuilder from AutoscalingContext to Orchestrator Init
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/wrapper_orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/wrapper_orchestrator_test.go
  cluster-autoscaler/core/scaleup/scaleup.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/provisioningrequest/checkcapacity/orchestrator.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/cleanup

#6522 Bump go version.
  .github/workflows/ci.yaml
  builder/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#6509 Reduce log spam in AtomicResizeFilteringProcessor
  cluster-autoscaler/processors/nodes/scale_down_set_processor.go
  cluster-autoscaler/utils/klogx/defaults.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/cleanup

#5756 add option to keep node group backoff on OutOfResource error
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, kind/feature, approved

#6511 Fix e2e test setup
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/e2e/vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/failing-test, approved, kind/bug

#6488 Add ProvisioningRequestProcessor
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/observers/loopstart/loopstart.go
  cluster-autoscaler/processors/provreq/provisioning_request_pods_filter.go
  cluster-autoscaler/processors/provreq/provisioning_request_pods_filter_test.go
  cluster-autoscaler/processors/provreq/provisioning_request_processor.go
  cluster-autoscaler/provisioningrequest/apis/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/provisioningrequest/checkcapacity/condition.go
  cluster-autoscaler/provisioningrequest/checkcapacity/condition_test.go
  cluster-autoscaler/provisioningrequest/checkcapacity/orchestrator.go
  cluster-autoscaler/provisioningrequest/checkcapacity/orchestrator_test.go
  cluster-autoscaler/provisioningrequest/checkcapacity/processor.go
  cluster-autoscaler/provisioningrequest/checkcapacity/processor_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/client.go
  cluster-autoscaler/provisioningrequest/provreqclient/client_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/testutils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, kind/feature, approved, tide/merge-method-squash

#6531 GCE: Implement kube-env caching
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/kube_env.go
  cluster-autoscaler/cloudprovider/gce/kube_env_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, approved, kind/cleanup, area/provider/gce

#6530 Introduce LocalSSDSizeProvider interface for GCE
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/main.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model.go
  cluster-autoscaler/cloudprovider/gce/gce_price_model_test.go
  cluster-autoscaler/cloudprovider/gce/localssdsize/local_ssd_size_provider.go
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/vertical-pod-autoscaler, size/L, kind/feature, approved, area/provider/gce, area/provider/externalgrpc

#6528 Fix expectedToRegister to respect instances with nil status
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved

#6567 CA FAQ: clarify the point about scheduling constraints blocking scale-down
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved

#6529 Add ProvisioningRequest injector
  cluster-autoscaler/go.mod
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/provisioning_request_injector.go
  cluster-autoscaler/processors/provreq/provisioning_request_injector_test.go
  cluster-autoscaler/provisioningrequest/apis/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/provisioningrequest/checkcapacity/orchestrator.go
  cluster-autoscaler/provisioningrequest/checkcapacity/processor.go
  cluster-autoscaler/provisioningrequest/checkcapacity/processor_test.go
  cluster-autoscaler/provisioningrequest/conditions/condition_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, tide/merge-method-squash

#6577 Consider preemption policy for expandable pods
  cluster-autoscaler/core/utils/expendable.go
  cluster-autoscaler/core/utils/expendable_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug
