Repository kubernetes/autoscaler, pull requests merged in 2024-07, with the labels that each got.

#6863 Default min/max sizes for Azure VMSSs
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/cloudprovider/azure/azure_autodiscovery.go
  cluster-autoscaler/cloudprovider/azure/azure_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, kind/feature, approved, ok-to-test

#6992 Update Azure cluster-autoscaler e2e test
  cluster-autoscaler/cloudprovider/azure/test/.gitignore
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/azure_test.go
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, approved, kind/bug

#6997 Change GCE AnnotationNodeInfoProvider nested provider to interface instead of concrete type
  cluster-autoscaler/processors/nodeinfosprovider/annotation_node_info_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, needs-ok-to-test, kind/feature, approved

#6994 cluster-autoscaler Azure e2e: move Helm to ginkgo
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/azure_test.go
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XL, approved, kind/cleanup

#6998 Do not fail if multiple ProvReqs are injected
  cluster-autoscaler/provisioningrequest/besteffortatomic/provisioning_class.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/provreqclient/client.go
  cluster-autoscaler/provisioningrequest/provreqclient/client_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved

#6985 vpa-{updater,recommender}: Add support for leader election
  vertical-pod-autoscaler/FAQ.md
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/healthcheck.go
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
  vertical-pod-autoscaler/vendor/k8s.io/apimachinery/pkg/util/uuid/uuid.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/leaderelection/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/leaderelection/healthzadaptor.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/leaderelection/leaderelection.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/leaderelection/metrics.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  vertical-pod-autoscaler/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/multilock.go
  vertical-pod-autoscaler/vendor/k8s.io/component-base/config/OWNERS
  vertical-pod-autoscaler/vendor/k8s.io/component-base/config/doc.go
  vertical-pod-autoscaler/vendor/k8s.io/component-base/config/options/leaderelectionconfig.go
  vertical-pod-autoscaler/vendor/k8s.io/component-base/config/types.go
  vertical-pod-autoscaler/vendor/k8s.io/component-base/config/zz_generated.deepcopy.go
  vertical-pod-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XXL, kind/feature, approved

#6750 fix(hetzner): missing error return in scale up/down
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug, area/provider/hetzner

#6955 refactor gce.RegenerateMigInstancesCache() to use Instance.List
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, needs-ok-to-test, kind/feature, approved, area/provider/gce

#7004 Use project name instead of project number in createIgmRef()
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, needs-ok-to-test, approved, kind/bug, area/provider/gce

#7017 Script for finding Cluster Autoscaler OWNERS
  cluster-autoscaler/hack/list-owners.py
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved

#7012 PR#6911 Backport for 1.28: Fix/aws asg unsafe decommission #5829
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/L, approved, kind/bug, kind/flake, ok-to-test

#7021 Backport #6750 [CA] fix(hetzner): missing error return in scale up/down into CA 1.28
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug, area/provider/hetzner

#7022 Backport #6750 [CA] fix(hetzner): missing error return in scale up/down into CA 1.29
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug, area/provider/hetzner

#7023 Backport #6750 [CA] fix(hetzner): missing error return in scale up/down into CA 1.30
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug, area/provider/hetzner

#6993 OCI: Fixing scale from zero if the nodeSelector of workload contains 'node.kubernetes.io/instance-type'
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
  cluster-autoscaler/cloudprovider/oci/common/oci_shape_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, ok-to-test, area/provider/oci

#7025 PR#6911 Backport for 1.29: Fix/aws asg unsafe decommission #5829
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, area/provider/aws, size/L, approved, kind/bug, ok-to-test

#6877 Add defaulting for provreq pods
  cluster-autoscaler/provisioningrequest/pods/pods.go
  cluster-autoscaler/provisioningrequest/pods/pods_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug, tide/merge-method-squash

#7026 PR#6911 Backport for 1.30: Fix/aws asg unsafe decommission #5829
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/L, approved, kind/bug, ok-to-test

#6859 Documentation for Debugging Snapshotter
  cluster-autoscaler/debuggingsnapshot/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/documentation, tide/merge-method-squash, ok-to-test

#6868 Update recommended IAM policy
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/XS, approved, ok-to-test

#7028 Rename migInstancesState to migInstancesStateCount in gce cache
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/cleanup, area/provider/gce

#7027 add metrics for function duration for listing gce instances and metrics for inconsistent mig count when gce bulk instance listing is enabled
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, needs-ok-to-test, kind/feature, approved, area/provider/gce

#7032 Update ProvisioningRequest API with the new name of scale-up provisioning class
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug

#7035 Extract few steps from ScaleUpOrchestrator main logic
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/cleanup

#6776 fix(clusterapi): HasInstance with namespace prefix
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug, ok-to-test, area/provider/cluster-api

#6880 BookCapacity for ProvisioningRequest pods
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/processor.go
  cluster-autoscaler/processors/provreq/processor_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved

#7041 CA - 1.28.6 Pre-release AWS Instance Types Update
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/XXL, approved

#7042 CA - 1.29.4 Pre-release AWS Instance Types Update
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/L, approved

#7043 CA - 1.30.2 Pre-release AWS Instance Types Update
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/L, approved

#6788 Add option to ignore namespaces
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/config_test.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, needs-ok-to-test, kind/feature, approved

#7049 Update vendor to use k8s 1.28.11
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/interface.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/preemption/preemption.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/schedule_one.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#7048 Update vendor to use k8s 1.29.6
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/interface.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/preemption/preemption.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/schedule_one.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  cluster-autoscaler/vendor/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#7046 Update vendor to use k8s 1.30.2
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/admission/plugin/cel/compile.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/admission/plugin/cel/interface.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/admission/plugin/policy/validating/plugin.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/admission/plugin/policy/validating/typechecking.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/cel/environment/base.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/features/kube_features.go
  cluster-autoscaler/vendor/k8s.io/dynamic-resource-allocation/structured/namedresources/cel/compile.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/interface.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/preemption/preemption.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/schedule_one.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, approved

#7033 allow customizing user agent for Azure cluster-autoscaler provider
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, kind/feature, approved

#7052 CAS azure e2e: add namespace to all resources in CAPZ template
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, kind/failing-test, approved, kind/bug

#7045 Update FAQ.md
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation, kind/cleanup

#7044 CA - 15/07/24 AWS Instance Types Update
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/L, approved

#7058 Update README.md
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/documentation

#7059 Add option to pass custom filter funtion for nodes
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable.go
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable_test.go
  cluster-autoscaler/core/podlistprocessor/pod_list_processor.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, kind/feature, approved

#7061 Log number of inconsistent instances mig count only when it is positive
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, approved, kind/cleanup, area/provider/gce

#7066 Update k/k vendor to 1.31.0-beta.0
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/predicatechecker/schedulerbased.go
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, approved, kind/cleanup

#7065 Return nodes with create errors mapped to node group id
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/cleanup

#6470 use getvmss api for spot instances in azure
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, kind/feature, approved

#7080 Decouple test and install script
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7079 Update RELEASE.md with new location of images.yaml file
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/documentation

#7085 [GCE cloudprovider] Invalidate mig instances cache after node deletion
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, area/provider/gce

#7099 Update version.go for VPA 1.2.0 release
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7096 Set State to InstanceCreating for nodes that failed to join cluster
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, approved, kind/bug, area/provider/oci

#7003 refactor: upstream most of Azure managed CAS changes in cloudprovider/azure
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_autodiscovery.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_gpu_sku.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/testdata/test.pfx
  cluster-autoscaler/cloudprovider/azure/testdata/testnopassword.pfx
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XL, approved, kind/cleanup, ok-to-test

#7075 refactor: upstream most of Azure managed CAS changes in cloudprovider/azure for 1.27
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_autodiscovery.go
  cluster-autoscaler/cloudprovider/azure/azure_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_gpu_sku.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/testdata/test.pfx
  cluster-autoscaler/cloudprovider/azure/testdata/testnopassword.pfx
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/CHANGELOG.md
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/_meta.json
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/accounts.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/blobcontainers.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/blobinventorypolicies.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/blobservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/client.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/deletedaccounts.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/encryptionscopes.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/enums.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/fileservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/fileshares.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/managementpolicies.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/models.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/objectreplicationpolicies.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/operations.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/privateendpointconnections.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/privatelinkresources.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/queue.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/queueservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/skus.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/table.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/tableservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/usages.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/version.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#7068 Extract getting nodes to delete for atomic node groups
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/cleanup

#7097 CA: AWS add support for Nvidia L4 GPU instances
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/XS, kind/feature, approved, ok-to-test

#6956 feat: Azure Provider HasInstance implementation
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, kind/bug, kind/regression
