Repository kubernetes/autoscaler, pull requests merged in 2024-09, with the labels that each got.

#7230 Fix nil pointer check in nodegroup_manager.go
  cluster-autoscaler/processors/nodegroups/nodegroup_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, approved, kind/bug

#6899 vpa-admission-controller: Wire contexts
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_fake.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/target/mock/fetcher_mock.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, kind/bug

#7235 azure: use new label to identity GPU Nodes
  cluster-autoscaler/cloudprovider/azure/README.md
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved, kind/cleanup

#7233 Add lease resource name customization using flag
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, kind/feature, approved, ok-to-test

#7236 Make ds pods eviction best effort when draining empty nodes(nodes wit…
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/bug

#7242 Add raywainman to reviewers in addon-resizer in addon-resizer-release-1.8 branch
  addon-resizer/OWNERS
Labels: cncf-cla: yes, lgtm, area/addon-resizer, size/XS, approved

#7204 [cluster-autoscaler-release-1.30] backport Azure e2e tests
  cluster-autoscaler/cloudprovider/azure/test/.gitignore
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/azure_test.go
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XXL, approved, kind/cleanup

#7214 align Azure e2e tests with backports
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/azure_test.go
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/S, approved, kind/cleanup

#7237 Subdivide injector pod list processor logic
  cluster-autoscaler/processors/provreq/injector.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, ok-to-test

#7250 Add unit test to ensure un-schedulable pods slice is not overwritten by injector
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/testutils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/cleanup

#6907 CAS: cloudprovider-specific nodegroupset
  cluster-autoscaler/cloudprovider/aws/aws_nodegroups.go
  cluster-autoscaler/cloudprovider/aws/aws_nodegroups_test.go
  cluster-autoscaler/cloudprovider/azure/azure_nodegroups.go
  cluster-autoscaler/cloudprovider/azure/azure_nodegroups_test.go
  cluster-autoscaler/cloudprovider/gce/gce_nodegroups.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/balancing_processor_test.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups_test.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups_test_helpers.go
  cluster-autoscaler/processors/nodegroupset/label_nodegroups_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, area/provider/azure, size/L, approved, kind/cleanup, area/provider/gce

#7239 Dynamic listing of SKUs (master)
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, approved, kind/cleanup, tide/merge-method-squash, ok-to-test, kind/deprecation

#7251 [cluster-autoscaler-release-1.28] backport Azure e2e tests
  cluster-autoscaler/cloudprovider/azure/test/.gitignore
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/azure_test.go
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, approved, kind/cleanup

#7252 [cluster-autoscaler-release-1.27] backport Azure e2e tests
  cluster-autoscaler/cloudprovider/azure/test/.gitignore
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/azure_test.go
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, approved, kind/cleanup

#7101 fix VPA controller_fetcher node validation
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/bug, ok-to-test, kind/regression

#7272 vpa-recommender: Use the MaintainCheckpoints context only for that step
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/bug

#7018 Delete old ProvReqs
  cluster-autoscaler/processors/provreq/processor.go
  cluster-autoscaler/processors/provreq/processor_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved

#7275 Fix scale up status processor overriding default one with proactive s…
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/bug

#7285 Support custom HCLOUD_ENDPOINT in cluster-autoscaler Hetzner manager
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, needs-ok-to-test, kind/feature, approved, area/provider/hetzner

#7036 vpa-admission-controller: Contextify status updates. Add timeout of 10s
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/status/status_object.go
  vertical-pod-autoscaler/pkg/utils/status/status_object_test.go
  vertical-pod-autoscaler/pkg/utils/status/status_updater.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/bug

#7211 fix(hetzner): deprecated server type will break on 2024-09-06
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, kind/cleanup, area/provider/hetzner

#7298 [v1.31] fix(hetzner): deprecated server type will break on 2024-09-06
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, kind/cleanup, area/provider/hetzner

#7299 [v1.30] fix(hetzner): deprecated server type will break on 2024-09-06
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, kind/cleanup, area/provider/hetzner

#7300 [v1.29] fix(hetzner): deprecated server type will break on 2024-09-06
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, kind/cleanup, area/provider/hetzner

#7301 [v1.28] fix(hetzner): deprecated server type will break on 2024-09-06
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, kind/cleanup, area/provider/hetzner

#7182 Add backoff mechanism for ProvReq retry
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/injector_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved, tide/merge-method-squash

#7304 Register new GCE reservations error message regexp to correctly categorize error.
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, approved, area/provider/gce

#7232 Bump CA Chart image to v1.31
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, kind/feature, approved, area/helm-charts

#7177 Add g6e EC2 instance type for AWS
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/M, needs-ok-to-test, kind/feature, approved

#7243 feat(chart): added the ability to specify K8s extra objects
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/extra-manifests.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, kind/feature, approved, area/helm-charts

#7288 [Azure] Update vendor/module versions for 1.30
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/github.com/Azure/skewer/.golangci.yml
  cluster-autoscaler/vendor/github.com/Azure/skewer/README.md
  cluster-autoscaler/vendor/github.com/Azure/skewer/cache.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/clients.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/const.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/interface.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/sku.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/vmsize.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/wrap.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, kind/cleanup, ok-to-test

#6523 chore(helm): enhance securityContext
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/documentation, kind/cleanup, area/helm-charts

#7303 Add new error mappings to autoscaling GCE client
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, kind/feature, approved, area/provider/gce

#7305 Charts - Add JackFrancis to reviewers
  charts/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/helm-charts

#7306 fix: Generate certs for VPA on kubectl apply or create
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/bug

#7226 Refactor logging statements in admission controller
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/cleanup, ok-to-test

#6771 feat(cluster-autoscaler/exoscale): add support for --nodes
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/cloudprovider/exoscale/README.md
  cluster-autoscaler/cloudprovider/exoscale/exoscale_cloud_provider.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_manager.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_manager_test.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_node_group_sks_nodepool.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_node_group_sks_nodepool_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, ok-to-test, area/helm-charts

#7153 Add pprof to all VPA components
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/metrics.go
  vertical-pod-autoscaler/pkg/utils/server/server.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/feature, approved, ok-to-test

#7039 Update README.md (KWOK)
  cluster-autoscaler/cloudprovider/kwok/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/documentation, area/provider/kwok

#7289 [Azure] Update vendor/module versions for 1.31
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/S, approved, kind/cleanup, ok-to-test

#7286 [Azure] Update vendor/module versions for 1.29
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/github.com/Azure/skewer/.golangci.yml
  cluster-autoscaler/vendor/github.com/Azure/skewer/README.md
  cluster-autoscaler/vendor/github.com/Azure/skewer/cache.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/clients.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/const.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/interface.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/sku.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/vmsize.go
  cluster-autoscaler/vendor/github.com/Azure/skewer/wrap.go
  cluster-autoscaler/vendor/modules.txt
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/L, approved, kind/cleanup, ok-to-test

#6780 feat: Add relabelings config to ServiceMonitor resource
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/servicemonitor.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved, ok-to-test, area/helm-charts

#7267 feat: allow setting init containers for cluster-autoscaler
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, kind/feature, approved, area/helm-charts

#7072 Only render ServiceMonitor annotations if not empty
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/servicemonitor.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup, ok-to-test, area/helm-charts
