Repository kubernetes/autoscaler, pull requests merged in 2024-01, with the labels that each got.

#6416 Pass Burst and QPS client params to clusterapi k8s clients
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, area/provider/cluster-api

#6291 Azure: skip non azure nodes
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, area/provider/azure, size/XS, kind/feature, approved

#6290 Clarify Scale down rule in the documentation (FAQ.md)
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/documentation

#6410 Refactors status_test.go to use table tests
  cluster-autoscaler/clusterstate/utils/status_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#6439 Pass Burst and QPS client params to capi k8s clients 1.28
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug

#6378 Taint utils taking multiple taints
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#5729 feat: support `--scale-down-delay-after-*` per nodegroup
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/const.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch_test.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/observers/nodegroupchange/scale_state_observer.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor_test.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_processor.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved

#6453 Use exponential buckets for function_duration_seconds
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, kind/feature, approved

#6336 fix(kwok): prevent quitting when scaling down node group
  cluster-autoscaler/cloudprovider/builder/builder_kwok.go
  cluster-autoscaler/cloudprovider/kwok/kwok_helpers.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups.go
  cluster-autoscaler/cloudprovider/kwok/kwok_provider.go
  cluster-autoscaler/cloudprovider/kwok/kwok_provider_test.go
  cluster-autoscaler/cloudprovider/kwok/kwok_types.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug

#6425 Backport of Brightbox fixes to Cluster autoscaler release 1.27
  cluster-autoscaler/cloudprovider/brightbox/Makefile
  cluster-autoscaler/cloudprovider/brightbox/README.md
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group.go
  cluster-autoscaler/cloudprovider/brightbox/k8ssdk/brightbox_interface.go
  cluster-autoscaler/cloudprovider/brightbox/k8ssdk/cloud_access.go
  cluster-autoscaler/cloudprovider/brightbox/k8ssdk/mocks/CloudAccess.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/cleanup

#6429 Update brightbox 1.26
  cluster-autoscaler/cloudprovider/brightbox/Makefile
  cluster-autoscaler/cloudprovider/brightbox/OWNERS
  cluster-autoscaler/cloudprovider/brightbox/README.md
  cluster-autoscaler/cloudprovider/brightbox/brightbox_cloud_provider.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group_test.go
  cluster-autoscaler/cloudprovider/brightbox/k8ssdk/brightbox_interface.go
  cluster-autoscaler/cloudprovider/brightbox/k8ssdk/cloud_access.go
  cluster-autoscaler/cloudprovider/brightbox/k8ssdk/mocks/CloudAccess.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XL, approved, kind/cleanup

#6391 Fix VPA e2e test failures
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/e2e/vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Labels: cncf-cla: yes, lgtm, vertical-pod-autoscaler, size/S, approved, kind/bug

#6438 Pass Burst and QPS client params to capi k8s clients 1.29
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XS, approved, kind/bug, area/provider/cluster-api

#6412 Allow draining when DaemonSet kind has custom API Group
  cluster-autoscaler/simulator/drainability/rules/replicacount/rule.go
  cluster-autoscaler/simulator/drainability/rules/replicacount/rule_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/M, approved

#6463 Update dependencies for Cluster Autoscaler 1.26.7
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  cluster-autoscaler/vendor/github.com/cyphar/filepath-securejoin/README.md
  cluster-autoscaler/vendor/github.com/cyphar/filepath-securejoin/VERSION
  cluster-autoscaler/vendor/github.com/cyphar/filepath-securejoin/join.go
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler/reconstruct.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/runtime/framework.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/framework/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/schedule_one.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/util/slice/slice.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/volume/util/operationexecutor/operation_executor.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/volume/util/operationexecutor/operation_generator.go
  cluster-autoscaler/vendor/k8s.io/mount-utils/mount_helper_unix.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved

#6473 Introduce GceInstance that extends cloudprovider.Instance with NumericId
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, kind/feature, approved, kind/api-change, area/provider/gce

#6451 ScaleUp for check-capacity ProvisioningRequestClass
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/wrapper_orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/wrapper_orchestrator_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/provisioning_request_processors.go
  cluster-autoscaler/processors/provreq/provisioning_request_processors_test.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
  cluster-autoscaler/provisioningrequest/apis/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/provisioningrequest/checkcapacity/condition.go
  cluster-autoscaler/provisioningrequest/checkcapacity/condition_test.go
  cluster-autoscaler/provisioningrequest/checkcapacity/orchestrator.go
  cluster-autoscaler/provisioningrequest/checkcapacity/orchestrator_test.go
  cluster-autoscaler/provisioningrequest/pods/pods.go
  cluster-autoscaler/provisioningrequest/pods/pods_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/client_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/testutils.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/testutils.go
  cluster-autoscaler/utils/kubernetes/client.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/XXL, kind/feature, approved, tide/merge-method-squash

#6477 Consider atomic nodes
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
Labels: cncf-cla: yes, lgtm, cluster-autoscaler, size/L, approved, kind/bug, kind/regression
