Repository kubernetes/autoscaler, pull requests merged in 2024-04, with the labels that each got.

#6674 [v1.28][Hetzner] Fix missing ephemeral storage definition
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, area/provider/hetzner

#6673 [v1.29][Hetzner] Fix missing ephemeral storage definition
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, area/provider/hetzner

#6675 [v1.27][Hetzner] Fix missing ephemeral storage definition
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, area/provider/hetzner

#6678 Update CAPI docs
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation, area/provider/cluster-api

#6682 fix(build): bump Go version and fix broken deps
  addon-resizer/Makefile
  addon-resizer/go.mod
  addon-resizer/go.sum
  addon-resizer/nanny/kubernetes_client.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, ok-to-test, kind/regression

#6667 Refactor estimation
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/estimator/decreasing_pod_orderer.go
  cluster-autoscaler/estimator/decreasing_pod_orderer_test.go
  cluster-autoscaler/estimator/estimator.go
  cluster-autoscaler/estimator/threshold_based_limiter.go
  cluster-autoscaler/estimator/threshold_based_limiter_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, kind/feature, approved, ok-to-test

#6448 docs: precise AWS IAM policy example
  cluster-autoscaler/cloudprovider/aws/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/S, approved, kind/documentation

#6696 Bump default VPA version to 1.1.0 in vpa-release-1.1 branch
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, kind/feature, approved, ok-to-test

#6655 Bump default VPA version to 1.1.0
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, kind/feature, approved, ok-to-test

#6695 CA: Fix apis vendoring
  cluster-autoscaler/.gitignore
  cluster-autoscaler/Makefile
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/doc.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/register.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/zz_generated.deepcopy.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/podset.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequestspec.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequeststatus.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/reference.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/clientset.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/doc.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/register.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/scheme/doc.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/scheme/register.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/doc.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/doc.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_provisioningrequest.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/generated_expansion.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/interface.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/interface.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/factory.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/generic.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1beta1/expansion_generated.go
  cluster-autoscaler/vendor/k8s.io/autoscaler/cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, approved, kind/bug, ok-to-test

#6663 Fix broken link in README.md to point to equinixmetal readme
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation, ok-to-test

#6541 Include helm chart version in cluster-autoscaler version matrix
  cluster-autoscaler/README.md
  cluster-autoscaler/hack/update-chart-version-readme.sh
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/documentation

#6706 Lower errors verbosity for kube-env label missing
  cluster-autoscaler/cloudprovider/gce/templates.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/cleanup, area/provider/gce

#6689 [Azure VMs Pool] Support mixed agentpool types in Azure Cache
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/L, approved, ok-to-test

#6670 Cleanup ProvReq wrapper
  cluster-autoscaler/processors/provreq/provisioning_request_injector.go
  cluster-autoscaler/processors/provreq/provisioning_request_injector_test.go
  cluster-autoscaler/provisioningrequest/checkcapacity/orchestrator.go
  cluster-autoscaler/provisioningrequest/checkcapacity/processor.go
  cluster-autoscaler/provisioningrequest/checkcapacity/processor_test.go
  cluster-autoscaler/provisioningrequest/conditions/condition_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
  cluster-autoscaler/provisioningrequest/pods/pods.go
  cluster-autoscaler/provisioningrequest/pods/pods_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/client.go
  cluster-autoscaler/provisioningrequest/provreqclient/client_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/testutils.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/testutils.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/wrapper.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/wrapper_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/cleanup

#6697 Add g6 EC2 instance type for AWS
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/M, kind/feature, approved, ok-to-test

#6714 Update ProvisioningClass API Group
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/cleanup

#6717 Fix Autoscaling for worker nodes with invalid ProviderID
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, ok-to-test, area/provider/hetzner

#6712 Fix NPE in vpa-updater when Pod owner isn't scalable
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/bug

#6550 Add retry for creatingAzureManager in case of throttled requests
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/S, approved

#6720 [v1.29][Hetzner] Fix Autoscaling for worker nodes with invalid ProviderID
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, area/provider/hetzner

#6722 [v1.27][Hetzner] Fix Autoscaling for worker nodes with invalid ProviderID
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, area/provider/hetzner

#6721 [v1.28][Hetzner] Fix Autoscaling for worker nodes with invalid ProviderID
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_servers_cache_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, area/provider/hetzner

#6724 [vpa-release-1.1] Cherry-pick of #6712: Fix NPE in vpa-updater when Pod owner isn't scalable
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved

#6738 Bump Go version used for building to 1.22.2 to match k/k
  builder/Dockerfile
  cluster-autoscaler/go.mod
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved

#6708 fix: implement function to identify if node is present in cluster-api
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, ok-to-test, area/provider/cluster-api

#6732 Cluster Autoscaler: swap maintainers for the 1.30 release
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved

#6740 fix(hetzner): hostname label is not considered
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, area/provider/hetzner

#6751 [v1.30] fix(hetzner): hostname label is not considered
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, area/provider/hetzner

#6752 [v1.29] fix(hetzner): hostname label is not considered
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/bug, area/provider/hetzner

#6754 [v1.27] fix(hetzner): hostname label is not considered
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, area/provider/hetzner

#6753 [v1.28] fix(hetzner): hostname label is not considered
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, area/provider/hetzner

#6677 fix: scale up broken for providers not implementing NodeGroup.GetOptions()
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, kind/documentation

#6758 [CA 1.28 #6596 cherry-pick] Remove shadow err variable in deleteCreatedNodesWithErros func
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#6756 [CA 1.30 #6677 cherry-pick] fix: scale up broken for providers not implementing NodeGroup.GetOptions()
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved

#6757 [CA 1.29 #6596 cherry-pick] Remove shadow err variable in deleteCreatedNodesWithErros func
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#6760 [CA 1.28 #6677 cherry-pick] fix: scale up broken for providers not implementing NodeGroup.GetOptions()
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#6761 [CA 1.29 #6677 cherry-pick] fix: scale up broken for providers not implementing NodeGroup.GetOptions()
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#6766 Bump VPA version to 1.1.1
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#6772 Bump vpa version to 1.1.1
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved

#6773 Update VPA default version to 1.1.1
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/cleanup

#6698 fix fmt errorf and typo
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/cleanup, ok-to-test

#6725 filter out pods that have deletion timestamp set in currentlyDrainedPods
  cluster-autoscaler/core/podlistprocessor/currently_drained_nodes.go
  cluster-autoscaler/core/podlistprocessor/currently_drained_nodes_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/bug, tide/merge-method-squash, ok-to-test, kind/regression
