Repository kubernetes/autoscaler, pull requests merged in 2024-08, with the labels that each got.

#7100 feat: add bryce-soghigian to the list of azure owners
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved

#7108 Bump VPA version to 1.2.0 in main branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved

#7013 Adding temporary multizone-nodepool support for CAS
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, approved, ok-to-test

#7109 Regenerate azure static sku list for 1.27
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, approved, kind/cleanup, ok-to-test

#7110 Regenerate azure static sku list for 1.28
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, approved, kind/cleanup, ok-to-test

#7111 Regenerate azure static sku list for 1.29
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, approved, kind/cleanup, ok-to-test

#7112 Regenerate azure static sku list for 1.30
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, approved, kind/cleanup, ok-to-test

#7107 Bump VPA version to 1.2.0 in vpa-release-1.2 branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved

#7114 cherry-pick(1.28): HasInstance implementation
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/L, kind/feature, approved, ok-to-test

#7122 cherry-pick: adding bryce soghigian to owners for azure (1.28)
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XS, approved

#7124 cherry-pick: adding bryce soghigian to owners for azure (1.29)
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved

#7125 cherry-pick: adding bryce soghigian to owners for azure (1.30)
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved

#7123 cherry-pick: adding bryce soghigian to owners for azure (1.27)
  cluster-autoscaler/cloudprovider/azure/OWNERS
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved

#7126 Regenerate azure static sku list (master)
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XXL, needs-ok-to-test, approved, kind/cleanup

#7130 Update vpa-up.sh to 1.2.0 in main branch
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7132 Update vpa-up.sh to 1.2.0 in 1.2 release branch
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7117 refactor: upstream Azure managed instance cache refactor for 1.30
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XXL, needs-ok-to-test, approved, kind/cleanup

#7120 refactor: upstream Azure managed instance cache refactor for 1.27
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, needs-ok-to-test, approved, kind/cleanup

#7116 refactor: upstream Azure managed instance cache refactor
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XXL, approved, kind/cleanup, ok-to-test

#7119 refactor: upstream Azure managed instance cache refactor for 1.28
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XXL, needs-ok-to-test, approved, kind/cleanup

#7087 Faster handling of failed scale ups
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved

#7133 Update VPA RELEASE.md with instructions to update vpa-up.sh.
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/documentation

#7146 [vpa-release-1.2] Update VPA version to 1.2.0 under README.md
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/documentation, kind/cleanup

#7138 Update README.md to include VPA 1.2.0 release
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/documentation

#7171 Bump VPA version to 1.2.1
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7106 Correct comment for AtomicIncreaseSize method
  cluster-autoscaler/cloudprovider/cloud_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/documentation

#7183 Add raywainman as reviewer of VPA
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7178 Update vpa versions in 1.2 branch to 1.2.1
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved

#7186 Move GetNodePoolResponse variable inside for loop
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, area/provider/oci

#7156 Support using in-cluster kubeconfig
  cluster-autoscaler/utils/kubernetes/client.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/S, kind/feature, approved, ok-to-test

#7189 Update VPA to 1.2.1 in main branch
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved

#7193 Cherry pick: Adding temporary multizone-nodepool support for CAS
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/M, kind/feature, approved, ok-to-test

#7194 1.28 Adding temporary multizone-nodepool support for CAS
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/M, kind/feature, approved, ok-to-test

#7188 PR#7186 Backport for 1.30: Move response variable inside for loop
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, area/provider/oci

#7092 Update FAQ.md to add steps for self-hosted provreq
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/documentation, tide/merge-method-squash, ok-to-test

#7187 CA: add artifacts for dev testing of cluster-autoscaler on AKS
  cluster-autoscaler/cloudprovider/azure/examples/dev/README.md
  cluster-autoscaler/cloudprovider/azure/examples/dev/aks-dev-deploy.sh
  cluster-autoscaler/cloudprovider/azure/examples/dev/aks-dev.bicep
  cluster-autoscaler/cloudprovider/azure/examples/dev/cluster-autoscaler-vmss-wi-dynamic.yaml.tpl
  cluster-autoscaler/cloudprovider/azure/examples/dev/skaffold.yaml
  cluster-autoscaler/cloudprovider/azure/examples/workloads/inflate.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, kind/documentation, ok-to-test

#7103 Async node group creation
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroups/asyncnodegroups/async_nodegroup_state_checker.go
  cluster-autoscaler/processors/nodegroups/nodegroup_manager.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, needs-ok-to-test, kind/feature, approved, kind/api-change

#7185 VPA: Add option to set the webhook failurePolicy to Fail
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/config_test.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, needs-ok-to-test, kind/feature, approved

#7195 ProvisioningRequest v1 client
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1/doc.go
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1/register.go
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1/types.go
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1/zz_generated.defaults.go
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/zz_generated.defaults.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/utils.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/clientset.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/register.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/scheme/register.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/doc.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/doc.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/generated_expansion.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/interface.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/interface.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/generic.go
  cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1/expansion_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/hack/update-codegen.sh
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/processors/provreq/pods_filter.go
  cluster-autoscaler/processors/provreq/pods_filter_test.go
  cluster-autoscaler/processors/provreq/processor.go
  cluster-autoscaler/processors/provreq/processor_test.go
  cluster-autoscaler/provisioningrequest/besteffortatomic/provisioning_class.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/conditions/condition_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator_test.go
  cluster-autoscaler/provisioningrequest/pods/pods.go
  cluster-autoscaler/provisioningrequest/pods/pods_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/client.go
  cluster-autoscaler/provisioningrequest/provreqclient/client_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/testutils.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/testutils.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/wrapper.go
  cluster-autoscaler/provisioningrequest/provreqwrapper/wrapper_test.go
  cluster-autoscaler/provisioningrequest/supported_classes.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, kind/feature, approved, kind/api-change

#7203 azure: document migration to new GPU Node label
  cluster-autoscaler/cloudprovider/azure/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved, kind/documentation

#6947 chore: defork cloud-provider-azure
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XXL, approved, ok-to-test

#7145 Add proactive scaleup
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/podinjection/backoff/backoff_registry.go
  cluster-autoscaler/processors/podinjection/backoff/backoff_registry_test.go
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor.go
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor_test.go
  cluster-autoscaler/processors/podinjection/job_controller.go
  cluster-autoscaler/processors/podinjection/job_controller_test.go
  cluster-autoscaler/processors/podinjection/pod_group.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/processors/podinjection/replicaset_controller.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor_test.go
  cluster-autoscaler/processors/podinjection/statefulset_controller.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, needs-ok-to-test, kind/feature, approved

#7202 chore: backport latest VMs pool and HasInstance() implementations and resolve inconsistencies in config and unit tests, for 1.29
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/testdata/test.pfx
  cluster-autoscaler/cloudprovider/azure/testdata/testnopassword.pfx
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/XL, approved, kind/cleanup, tide/merge-method-squash

#7206 chore: defork cloud-provider-azure for 1.30
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/CHANGELOG.md
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/_meta.json
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/accounts.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/blobcontainers.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/blobinventorypolicies.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/blobservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/client.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/deletedaccounts.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/encryptionscopes.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/enums.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/fileservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/fileshares.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/managementpolicies.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/models.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/objectreplicationpolicies.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/operations.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/privateendpointconnections.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/privatelinkresources.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/queue.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/queueservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/skus.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/table.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/tableservices.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/usages.go
  cluster-autoscaler/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-02-01/storage/version.go
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/adal/README.md
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/adal/devicetoken.go
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/adal/persist.go
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/azure/auth/README.md
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/azure/auth/auth.go
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/azure/auth/go_mod_tidy_hack.go
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/azure/cli/go_mod_tidy_hack.go
  cluster-autoscaler/vendor/github.com/Azure/go-autorest/autorest/azure/cli/token.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.pb.go
  cluster-autoscaler/vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client_grpc.pb.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XXL, approved, kind/cleanup, tide/merge-method-squash

#7196 Fix incorrect wording in FAQ.md
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation, ok-to-test

#7213 Update CA dependencies to 1.31.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved

#7208 chore: defork labels and taints
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, kind/cleanup, ok-to-test

#7219 Remove legacy scale down code
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaledown/legacy/legacy.go
  cluster-autoscaler/core/scaledown/legacy/legacy_test.go
  cluster-autoscaler/core/scaledown/legacy/wrapper.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/status/status.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/tracker.go
  cluster-autoscaler/simulator/tracker_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, approved, kind/cleanup, kind/deprecation

#7152 Sanitize ENV from podSpec to improve scheduling simulation performance.
  cluster-autoscaler/utils/utils.go
  cluster-autoscaler/utils/utils_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved, ok-to-test

#7199 VPA: Use kubectl apply to upsert VPA resource instead of create.
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, kind/feature, approved, kind/cleanup, ok-to-test

#7223 Regenerate ProvisioningRequest CRD for v1
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_provisioningrequests.yaml
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1/types.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug, kind/api-change
