Repository kubernetes/autoscaler, pull requests merged in 2024-06, with the labels that each got.

#6879 Bump openstackmagnum/cluster-autoscaler image version.
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment-control-plane.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-autodiscovery.yaml
  cluster-autoscaler/cloudprovider/magnum/examples/values-example.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, area/provider/magnum

#6783 Fix GCE client long polling timeouts.
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug, ok-to-test, kind/regression, area/provider/gce

#6887 Public ProvisioningClass interface
  cluster-autoscaler/main.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, kind/feature, approved

#6873 Use the same processors for all currently supported provisioning classes
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/processors/provreq/pods_filter.go
  cluster-autoscaler/processors/provreq/pods_filter_test.go
  cluster-autoscaler/processors/provreq/processor_test.go
  cluster-autoscaler/processors/provreq/provisioning_request_processor.go
  cluster-autoscaler/provisioningrequest/checkcapacity/processor.go
  cluster-autoscaler/provisioningrequest/conditions/condition_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
  cluster-autoscaler/provisioningrequest/supported_classes.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved

#6900 Bump the cluster-autoscaler/apis dependency in CA go.mod after recent changes
  cluster-autoscaler/go.mod
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved

#6893 Backport #6528 [CA] Fix expectedToRegister to respect instances with nil status into CA1.29
  cluster-autoscaler/clusterstate/clusterstate.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug

#6634 azure labels to skip in nodegroupset
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, approved

#6912 VPA - Add voelzmo to approvers
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#6913 Add ProvisioningRequestNoCache method to test client
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/testutils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/cleanup

#6812 [Azure VMs Pool] Support mixed agentpool types in Azure Cache
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, ok-to-test

#6482 Fixed bug with missing taint translation layer between AWS EKS format and Kubernetes format
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/L, approved, kind/bug

#6831 [Azure VMs pool] Introducing agentpool client
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, kind/feature, approved, ok-to-test

#6888 Update dynamic-node-delete-delay-after-taint to use max latency observed during the last hour
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/update_latency_tracker.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug, ok-to-test

#6930 Orchestrator.New() return struct
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/cleanup

#6556 implement time limiter for binpacking
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/binpacking/binpacking_limiter.go
  cluster-autoscaler/processors/binpacking/combined_limiter.go
  cluster-autoscaler/processors/binpacking/time_limiter.go
  cluster-autoscaler/processors/processors.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved

#6894 Add number of Instances in creating and deleting states to gce cache
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, kind/feature, approved, area/provider/gce

#6885 Add Instances.List method to AutoscalingGceClient
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/gce_url.go
  cluster-autoscaler/cloudprovider/gce/gce_url_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, needs-ok-to-test, kind/feature, approved, area/provider/gce

#6937 Update README.md with details about Prometheus endpoint
  addon-resizer/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#6938 Bump addon-resizer to 1.8.22 in preparation for release
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved

#6944 Update the VPA Version to v1.1.2
  vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/bug, kind/cleanup

#6910 VPA: Add tests for selfRegistration() and filterVPAs()
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/config_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, kind/bug, ok-to-test

#6922 Add ProvisioningClass validation to Provisioning pods injector
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/injector_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, kind/feature, approved

#6904 Add documentation for check-capacity Provisioning class
  cluster-autoscaler/FAQ.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/documentation, tide/merge-method-squash

#6903 vpa-updater: Log the Pod namespace when evicting a Pod
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/bug

#6918 Modify logic to look for ocid type prefix in OCI cloud provider builder
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, ok-to-test, area/provider/oci

#6969 Add initial setup for cluster-autoscaler Azure e2e tests
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, kind/feature, approved

#6968 Update example manifests with the latest RBAC permissions.
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-config.yaml
  cluster-autoscaler/cloudprovider/oci/examples/oci-ip-cluster-autoscaler-w-principals.yaml
  cluster-autoscaler/cloudprovider/oci/examples/oci-nodepool-cluster-autoscaler-w-principals.yaml
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/cleanup, area/provider/oci

#6914 CA - Restore aleksandra-malinowska as approver
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved

#6911 Fix/aws asg unsafe decommission 5829
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/aws, size/L, approved, kind/bug, ok-to-test

#6743 feat(clusterapi): per nodeGroup autoscaling options
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, ok-to-test, area/provider/cluster-api

#6908 vpa-admission-controller: Log object's namespace
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/bug

#6964 [vpa-release-1.1] Automated cherry pick of #6903: vpa-updater: Log the Pod namespace when evicting a Pod
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/bug

#6874 Update ProvReq annotations to new prefix
  cluster-autoscaler/apis/provisioningrequest/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/processors/provreq/pods_filter.go
  cluster-autoscaler/processors/provreq/pods_filter_test.go
  cluster-autoscaler/proposals/provisioning-request.md
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator_test.go
  cluster-autoscaler/provisioningrequest/pods/pods.go
  cluster-autoscaler/provisioningrequest/pods/pods_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/cleanup, ok-to-test

#6975 Update Azure cluster-autoscaler e2e cluster template
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved

#6909 vpa-recommender: Log object's namespace
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_source.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/routines/capping_post_processor.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/bug

#6988 Remove not yet supported parameter from admission-controller deployment
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/bug

#6986 Fix: GCE FetchAvailableDiskTypes zones parsing
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/fixtures/diskTypes_aggregatedList.json
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug, area/provider/gce

#6989 Add Azure cluster-autoscaler e2e test
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/azure_test.go
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/cloudprovider/azure/test/templates/cluster-template-prow-aks-aso-cluster-autoscaler.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XL, approved, kind/cleanup
