Repository kubernetes/autoscaler, pull requests merged in 2025-02, with the labels that each got.

#7797 VPA - Add golangci-lint to with import plugin enabled
  vertical-pod-autoscaler/.golangci.yaml
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/calculator.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/observed_containers.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/observed_containers_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/types.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_source.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender_test.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram_test.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_mock.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/target/mock/fetcher_mock.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/priority/pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_fake.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission_test.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers_test.go
  vertical-pod-autoscaler/pkg/utils/limitrange/limit_range_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/admission/admission.go
  vertical-pod-autoscaler/pkg/utils/metrics/quality/quality.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
  vertical-pod-autoscaler/pkg/utils/server/server.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/recommendation_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/sequential_processor_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, kind/cleanup

#7454 Allow VPA admission controller to reload the caBundle certificate and patch the webhook
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/rmcerts.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved, ok-to-test

#7802 Refactor to format VPA Updater log more efficiently
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/cleanup

#7716 Feat: improve VPA filtering and checkpoint garbage collection
  vertical-pod-autoscaler/common/flags.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/feature, approved

#7631 change default cluster-autoscaler to least-waste
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, needs-kind, ok-to-test

#7809 Fix a panic in GetContainersResources()
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/bug, ok-to-test

#7800 VPA - Add golangci-lint to GitHub Actions
  .github/workflows/ci.yaml
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7793 Removes stale owners from DO cluster autoscaler owners file and updates to current DO employee
  cluster-autoscaler/cloudprovider/digitalocean/OWNERS
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/cleanup, area/provider/digitalocean

#7824 Remove Request property from ContainerUsageSample
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/cleanup

#7648 Improve logging when the cluster reaches max nodes total.
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/cleanup, ok-to-test

#7604 Add option for passing extended resources in node labels in GKE
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, area/provider/gce

#7830 Ignore new unexported fields in the tests
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/framework/infos_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, approved, kind/bug

#7801 Reduce error output on "kubectl delete" by adding "--ignore-not-found"
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
  vertical-pod-autoscaler/pkg/admission-controller/delete-webhook.sh
  vertical-pod-autoscaler/pkg/admission-controller/rmcerts.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/cleanup, ok-to-test

#7838 Bumps golang from 1.23.6 to 1.24.0.
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7829 VPA: Revert ConfidenceMultiplier tests
  vertical-pod-autoscaler/pkg/recommender/logic/estimator_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/cleanup, ok-to-test

#7560 vpa-recommender: Add support for configuring global max allowed resources
  vertical-pod-autoscaler/docs/examples.md
  vertical-pod-autoscaler/docs/faq.md
  vertical-pod-autoscaler/docs/known-limitations.md
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/capping_post_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved

#7803 Actuator force delete
  cluster-autoscaler/core/podlistprocessor/currently_drained_nodes_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler.go
  cluster-autoscaler/core/scaledown/scaledown.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, needs-ok-to-test, kind/feature, approved

#7820 Ensure added taints are present on the node in the snapshot
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, approved, kind/bug

#7843 Add confidence intervals as configuration for histograms
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/estimator.go
  vertical-pod-autoscaler/pkg/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved

#7846 [Addon-Resizer] Move go build step into DOCKERFILE to support automated builds
  addon-resizer/Dockerfile
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/cleanup

#7847 [Addon Resizer] Small fixes for automated builds
  addon-resizer/Makefile
  addon-resizer/cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/cleanup

#7825 fix(oci): scale from zero with instance type selector (backport to 1.30)
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
  cluster-autoscaler/cloudprovider/oci/common/oci_shape_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, ok-to-test, area/provider/oci

#7845 VPA: wrap clusterStateFeeder error idiomatically
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7848 Enable forbidigo for VPA
  vertical-pod-autoscaler/.golangci.yaml
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7813 Re-write parts of AEP-4016 (VPA with In-Place Updates) to align with the new In-Place Updates KEP changes
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved, kind/documentation

#7853 VPA - Cleanup OWNERS
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7860 Charts - Add jackfrancis to Approvers
  charts/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup, area/helm-charts

#7856 VPA: when PodEvictionAdmission calls cleanup, clean up the memory
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup, ok-to-test

#7859 comment out TestUnchangedCAReloader test (flake)
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, kind/cleanup

#7590 doc(gce): Update manual MIG specification URL
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/gcp, size/XS, approved, kind/documentation, ok-to-test, area/helm-charts, area/provider/gce, area/provider/gke

#7864 Lock deletion scheduler so race detector does not complain
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, kind/failing-test, approved, kind/bug

#7667 Improve events when max total nodes of the cluster is reached.
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/bug

#7874 Make AddTaints and CleanTaints thread safe
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaledown/actuation/softtaint.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, kind/failing-test, approved, kind/bug

#7871 Ignore VPA rbac file generated from local e2e installation
  vertical-pod-autoscaler/.gitignore
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup, ok-to-test

#7281 azure: increase UT coverage in azure_vms_pool
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, kind/cleanup

#7767 Kamatera cluster autoscaler fixes
  cluster-autoscaler/cloudprovider/kamatera/README.md
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_config.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_request.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_utils_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug, ok-to-test
