Repository kubernetes/autoscaler, pull requests merged in 2025-01, with the labels that each got.

#7639 Refactor & improve logging for pod listing
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/cleanup

#7630 Parallelize creating cluster snapshot
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta_benchmark_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved

#7659 Bump CA Chart image to v1.32
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, kind/feature, approved, area/helm-charts

#7014 Add script to update cluster-autoscaler flags doc
  .pre-commit-config.yaml
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/hack/update-faq-flags.sh
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, ok-to-test

#7644 Align `Fatalf` Behavior with Immediate Exit
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7646 Converting klog.Fatalf to structured logging equivalent
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_source.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/healthcheck.go
  vertical-pod-autoscaler/pkg/utils/server/server.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/cleanup

#7669 Remove an unused function and fix a comment
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/cleanup

#7654 VPA: Create a build and deploy locally script
  vertical-pod-autoscaler/common/version.go
  vertical-pod-autoscaler/hack/dev-deploy-locally.sh
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Makefile
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, kind/cleanup

#7675 Update ubuntu-slim with Docker Schema 2 image
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/examples/hamster-deprecated.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/cleanup, kind/deprecation

#7666 Improve kind cluster creation with proper error handling and version check
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7661 fix: Propagate stop channel to prevent resource leaks in VPA components
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/bug

#7655 VPA: Add docs about AKS and EKS with Cilium
  vertical-pod-autoscaler/docs/faq.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/documentation

#7635 OCI Cloudprovider fixes and features Backport for 1.31
  cluster-autoscaler/cloudprovider/oci/README.md
  cluster-autoscaler/cloudprovider/oci/common/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/common/oci_util.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, kind/bug, ok-to-test, area/provider/oci

#7628 OCI Cloudprovider fixes and features Backport for 1.30
  cluster-autoscaler/cloudprovider/oci/README.md
  cluster-autoscaler/cloudprovider/oci/common/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/common/oci_util.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved, kind/bug, ok-to-test, area/provider/oci

#7612 Add test for recomputing similar nodegroups
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/test/common.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/cleanup, ok-to-test

#7670 logging: Start from a capital letter
  cluster-autoscaler/simulator/cluster.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/cleanup

#7692 Update version.go to 1.2.2
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, kind/feature, approved

#7696 Fix data race while setting delta cluster state in parallel
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/bug

#7698 Make informer use correct namespace flag
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/bug

#7704 Fix cert generation for VPA 1.2.2 when running vpa-up.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/bug

#6890 Implement TemplateNodeInfo for magnum cloudprovider
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/doc.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/requests.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/results.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/testing/doc.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/testing/fixtures.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/testing/requests_test.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/compute/v2/flavors/urls.go
  cluster-autoscaler/cloudprovider/magnum/gophercloud/testhelper/client/fake.go
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/magnum/magnum_manager.go
  cluster-autoscaler/cloudprovider/magnum/magnum_manager_impl.go
  cluster-autoscaler/cloudprovider/magnum/magnum_nodegroup.go
  cluster-autoscaler/cloudprovider/magnum/magnum_nodegroup_test.go
  cluster-autoscaler/cloudprovider/magnum/magnum_openstack_clients.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, kind/feature, approved, ok-to-test, area/provider/magnum

#7700 Update default VPA version to 1.2.2 in vpa-release-1.2 branch
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, kind/feature, approved

#7708 fix: don't crash when vmss not present or has no nodes
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, kind/bug

#7339 Add metrics-server annotation for kwok-provider managed nodes
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, kind/feature, approved, lifecycle/stale, area/provider/kwok

#7645 Document VPA behavior for sidecar containers and how to change it
  vertical-pod-autoscaler/docs/sidecar-containers.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, kind/documentation

#7701 Update default VPA version to 1.2.2 in main branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, kind/feature, approved

#7629 VPA: Remove v1beta2
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/e2e/v1beta2/actuation.go
  vertical-pod-autoscaler/e2e/v1beta2/admission_controller.go
  vertical-pod-autoscaler/e2e/v1beta2/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e_test.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/updater.go
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XXL, approved, kind/cleanup

#6767 vpa - fix checkpoint gc of unknown recommenders
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, ok-to-test

#7649 Minor refactor to scale-up orchestrator for more re-usability
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/executor_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/utils/errors/errors.go
  cluster-autoscaler/utils/errors/errors_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved

#7732 Update version.go for VPA 1.3.0 release
  vertical-pod-autoscaler/common/version.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, kind/feature, approved, ok-to-test

#7734 Tweaks to VPA release instructions.
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7735 test: clean up environments properly before/after each unit test in azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, kind/failing-test, approved, kind/flake, tide/merge-method-squash

#7737 test: add additional assertion for dynamic SKU list test
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved, kind/cleanup, tide/merge-method-squash

#6656 feat(chart): Add support for civo provider
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/secret.yaml
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, ok-to-test, area/helm-charts

#7751 [cluster-autoscaler-release-1.30] test: clean up environments properly before/after each unit test in azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, approved, kind/cleanup, tide/merge-method-squash

#7752 [cluster-autoscaler-release-1.29] test: clean up environments properly before/after each unit test in azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/M, approved, kind/cleanup, tide/merge-method-squash

#7753 [cluster-autoscaler-release-1.28] test: clean up environments properly before/after each unit test in azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Labels: cncf-cla: yes, lgtm, area/provider/azure, size/M, approved, kind/cleanup, tide/merge-method-squash

#7750 fix: undefined instance state on provisioning state failed
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, approved, kind/bug, tide/merge-method-squash

#7679 Improve frequent loops when only one of activities is productive
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, kind/feature, approved

#7688 Enforce provisioning requests processing even if all pods are new
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/pods/scaleup_enforcer.go
  cluster-autoscaler/processors/pods/scaleup_enforcer_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/provreq/pods_filter.go
  cluster-autoscaler/processors/provreq/scaleup_enforcer.go
  cluster-autoscaler/processors/provreq/scaleup_enforcer_test.go
  cluster-autoscaler/processors/test/common.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, kind/feature, approved

#7608 VPA: Generate API docs
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/hack/api-docs/config.yaml
  vertical-pod-autoscaler/hack/generate-api-docs.sh
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, approved, kind/documentation

#7760 Bump addon-resizer to 1.8.23
  addon-resizer/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#7761 fix: add `--leader-elect` flags back by reverting https://github.com/kubernetes/autoscaler/pull/7233
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, needs-ok-to-test, approved, kind/bug, tide/merge-method-squash

#7763 docs: add comment to prevent leader-election flag binding to be moved after flag parsing
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, approved, kind/documentation

#7764 [cluster-autoscaler-release-1.32] fix: add --leader-elect flags back by reverting https://github.com/kubernetes/autoscaler/pull/7233
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, needs-ok-to-test, approved, kind/bug

#7762 Fix RELEASE.md VPA deployment command line.
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/documentation, ok-to-test

#7129 Fixed verbiage of the method calculateCoresMemoryTotal
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation, tide/merge-method-squash, ok-to-test

#7774 Finalize VPA release 1.3.0.
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, kind/feature, approved, ok-to-test

#7768 Finalize VPA release 1.3.0.
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, kind/feature, approved, ok-to-test

#7775 VPA: Small documentation changes to supplement removal of v1beta2
  vertical-pod-autoscaler/MIGRATE.md
  vertical-pod-autoscaler/examples/redis.yaml
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/documentation

#7765 chore: fix metricsClient logs
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7727 chore: replace deprecated NewIndexerInformer
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/cleanup

#7682 feat(recommender): add round cpu millicores
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved
