Repository kubernetes/autoscaler, pull requests merged in 2025-07, with the labels that each got.

#8277 Give sig-autoscaling-leads approval of the AEP directory
  OWNERS_ALIASES
  vertical-pod-autoscaler/OWNERS
  vertical-pod-autoscaler/enhancements/OWNERS
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/cleanup

#8263 [VPA] Add prometheus bearer auth support
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved, tide/merge-method-squash, ok-to-test

#8275 CA: bump k8s dependencies to v1.33.0-alpha.1, run codegen
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/internal/internal.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/utils.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/clientset.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/generic.go
  cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, approved, kind/cleanup, kind/api-change, ok-to-test

#8295 chore: bump CA chart image to v1.33
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, kind/feature, approved, kind/documentation, ok-to-test, area/helm-charts

#8292 Revert filter out non-existing node-groups before scale-up balancing
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/cleanup, ok-to-test

#8285 azure: 2025-06-30 CA E2E module updates
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XL, approved, kind/cleanup

#8273 Omit fake pods during eviction
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor.go
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor_test.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor_test.go
  cluster-autoscaler/simulator/fake/pod.go
  cluster-autoscaler/simulator/fake/pod_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug

#8300 feat: improve external gPRC ca example
  cluster-autoscaler/cloudprovider/externalgrpc/examples/certmanager-manifests/ca.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation, ok-to-test, area/provider/externalgrpc

#8298 feat(recommender): add round memory bytes
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved, tide/merge-method-squash, ok-to-test, triage/accepted

#8303 Fallback to eviction when InPlaceUpdate fail
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/bug

#8293 ci: Add Dependabot for GitHub Actions and update action versions
  .github/dependabot.yml
  .github/workflows/pr.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/feature, approved

#8307 docs: Unify the header for a section
  vertical-pod-autoscaler/docs/examples.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, release-note-none, approved, kind/cleanup

#8268 azure: Make it easier to compare examples
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, approved, kind/cleanup

#8296 add price info for M4 machine family
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, kind/feature, approved, ok-to-test, area/provider/gce

#8026 AEP-8026: per-vpa-component-configuration
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved, kind/documentation, kind/api-change, tide/merge-method-squash

#8247 [vpa-release-1.2] Automated cherry pick of #8204: include pod namespace when logging updates
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved

#7993 docs(autoscaler): add details about flags
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/documentation, ok-to-test, area/provider/cluster-api

#8324 adding env variable EnableLabelPrediction
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/L, release-note, approved, kind/bug, kind/flake, tide/merge-method-squash, ok-to-test

#8138 Fix typo in expander/grpcplugin/README.md
  cluster-autoscaler/expander/grpcplugin/README.md
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, approved, kind/documentation

#8315 Handle Out of host capacity scenario in OCI nodepools
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, release-note-none, needs-ok-to-test, approved, kind/bug, area/provider/oci

#8355 Update deps for CA 1.31.3 release
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XL, release-note, approved, kind/cleanup

#8299 Improve error message for unknown error in `validateTargetRef`
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, tide/merge-method-squash, ok-to-test

#8377 [cluster-autoscaler-release-1.31]: prep version.go for 1.31.3
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, release-note-none, approved, kind/cleanup

#8378 [cluster-autoscaler-release-1.32]: prep version.go for 1.32.2
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, release-note-none, approved, kind/cleanup

#8388 CA: add release automation validation
  cluster-autoscaler/Makefile
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, release-note-none, approved, kind/cleanup

#8331 Switch VPA checkpoint to use a lister
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, release-note, approved, kind/cleanup

#8376 CA: add elmiko as maintainer
  cluster-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, release-note-none, approved, kind/cleanup
