Repository kubernetes/autoscaler, pull requests merged in 2025-08, with the labels that each got.

#8297 Hetzner(feat): add option to set nodepool-specific image IDs
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, kind/feature, approved, area/provider/hetzner

#8395 Add update_mode label to VPA updater metrics
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, release-note, approved

#8403 chore(autoscaler): fix typo in Autoscaler interface comment
  cluster-autoscaler/core/autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, release-note-none, sig/autoscaling, approved, kind/cleanup, ok-to-test

#8404 CI: make update-deps.sh macOS compatible
  cluster-autoscaler/hack/update-deps.sh
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, release-note-none, approved, kind/cleanup

#8402 fix: not failing the main loop when one NodeGroup fails on TemplateNodeInfo()
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, release-note, approved, kind/bug, tide/merge-method-squash

#8423 Promote In-Place to Beta
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/feature, release-note, approved

#8398 Utho autoscaler
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_utho.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/OWNERS
  cluster-autoscaler/cloudprovider/utho/README.md
  cluster-autoscaler/cloudprovider/utho/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/utho/examples/cluster-autoscaler-secret.yaml
  cluster-autoscaler/cloudprovider/utho/examples/stress-test.yaml
  cluster-autoscaler/cloudprovider/utho/utho-go/cloud_instances.go
  cluster-autoscaler/cloudprovider/utho/utho-go/errors.go
  cluster-autoscaler/cloudprovider/utho/utho-go/kubernetes.go
  cluster-autoscaler/cloudprovider/utho/utho-go/struct.go
  cluster-autoscaler/cloudprovider/utho/utho-go/utho.go
  cluster-autoscaler/cloudprovider/utho/utho-go/utho_options.go
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/utho/utho_manager.go
  cluster-autoscaler/cloudprovider/utho/utho_manager_test.go
  cluster-autoscaler/cloudprovider/utho/utho_mock_test.go
  cluster-autoscaler/cloudprovider/utho/utho_node_group.go
  cluster-autoscaler/cloudprovider/utho/utho_node_group_test.go
  cluster-autoscaler/cloudprovider/utho/utils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, kind/feature, release-note, approved, kind/documentation, kind/api-change, tide/merge-method-squash, ok-to-test, area/provider/utho

#8151 Create a proposal for Buffers API.
  cluster-autoscaler/proposals/buffers.md
  cluster-autoscaler/proposals/images/buffers-component-structure.jpg
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, needs-ok-to-test, approved, kind/documentation

#8412 Fix scale to 0 for Cluster API NodePool
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, release-note-none, approved, kind/bug, area/provider/cluster-api

#8387 Force delete nodes with errors
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, release-note, approved, kind/bug, ok-to-test

#8429 Combine in-place and regular e2e tests
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, release-note-none, approved, kind/cleanup

#8320 Add some race-condition protection to VPA recommender
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, release-note-none, approved, kind/bug

#8430 feat(vpa/updater): Add a new counter metric to measure the total number of failed Pods evictions attempts
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/feature, release-note, approved, ok-to-test

#8436 fix: typo in GCE chart README code script
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
Labels: cncf-cla: yes, lgtm, size/XS, release-note-none, approved, kind/documentation, ok-to-test, area/helm-charts

#8445 feat(vpa/updater): Add `VPA` resource `name` and `namespace` to success and fail resource updates counter metrics
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, release-note, approved, ok-to-test

#8457 correct labels for dependabot PRs to master
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, release-note-none, approved, kind/cleanup, area/dependency

#8313 Remove exit after scale-up is performed
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, kind/feature, release-note, approved

#8483 Bump VPA dependencies for Kubernetes 1.34
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/hack/update-kubernetes-deps-in-e2e.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XL, release-note-none, approved, kind/cleanup, needs-kind

#8489 Switch away from github.com/golang/mock
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/target/mock/fetcher_mock.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, release-note-none, approved, kind/cleanup
