Repository kubernetes/autoscaler, pull requests merged in 2025-10, with the labels that each got.

#8598 Fix DRA enablement logic
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/S, release-note, approved, kind/bug

#8600 Update helm-docs & improve output
  .github/workflows/pr.yaml
  charts/vertical-pod-autoscaler/Chart.yaml
  charts/vertical-pod-autoscaler/README.md
Labels: cncf-cla: yes, lgtm, size/S, release-note-none, needs-ok-to-test, kind/feature, approved, area/helm-charts

#8458 Apply CPU startup boost in admission controller if its set
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_cpu_boost.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_cpu_boost_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XL, kind/feature, release-note, approved, ok-to-test

#8613 Add more details to VPA release process
  vertical-pod-autoscaler/RELEASE.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, release-note-none, approved, kind/documentation

#8610 docs: update `StartupBoost.CPU.Type` to be required and fix examples
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, release-note-none, approved, ok-to-test

#8626 [AKS HOBO][1.33 release] Add support for hosted-on-behalf-of systempool autoscaling
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, release-note, approved, ok-to-test

#8627 [AKS HOBO][1.32 release] Add support for hosted-on-behalf-of systempool autoscaling
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, release-note, approved, ok-to-test

#8628 [AKS HOBO][1.31 release] Add support for hosted-on-behalf-of systempool autoscaling
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, release-note, approved, ok-to-test

#8625 [AKS HOBO][1.34 release] Add support for hosted-on-behalf-of systempool autoscaling
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/M, release-note, approved, ok-to-test
