Repository kubernetes/autoscaler, pull requests merged in 2025-03, with the labels that each got.

#7857 VPA: Enforce flag documentation check in CI
  hack/verify-vpa-flags.sh
  vertical-pod-autoscaler/hack/verify-vpa-flags.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/cleanup, ok-to-test

#7877 Emit error event on failed async scale-up
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, approved, kind/bug

#7888 add more owners to autoscaler/hack
  hack/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#7841 Force system-node-critical daemon-sets in node group templates
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
  cluster-autoscaler/simulator/node_info_utils.go
  cluster-autoscaler/simulator/node_info_utils_test.go
  cluster-autoscaler/utils/labels/labels.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, approved, kind/bug

#7897 Block cluster autoscaler until API resource caches are synced.
  cluster-autoscaler/main.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, needs-ok-to-test, approved, kind/bug

#7890 Migrating flags off main.go to a separate package
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/config/flags/flags_test.go
  cluster-autoscaler/core/scaledown/actuation/priority.go
  cluster-autoscaler/core/scaledown/actuation/priority_test.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/main.go
  cluster-autoscaler/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, needs-ok-to-test, approved, kind/cleanup

#7904 Adds volumeattachments resource permissions to the Cluster Autoscaler…
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, kind/bug, area/helm-charts

#7906 Update to golang.org/x/oauth2@v0.27 to fix CVE-2025-22868
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/vertical-pod-autoscaler, area/provider/azure, size/M, approved, kind/bug

#7896 AEP-4016: reduce scope of 'partial updates' feature
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/documentation, kind/cleanup

#7917 Fix incorrect usage of klog .*f functions
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/loop/trigger.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, kind/cleanup

#7918 Fix incorrect usage of klog Warningf function
  cluster-autoscaler/processors/actionablecluster/actionable_cluster_processor.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XS, approved, kind/bug, kind/cleanup

#7916 Removed flags docs from faq
  vertical-pod-autoscaler/docs/faq.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/documentation

#7920 Update deps to Kubernetes 1.32.3 & bump CA version
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved

#7901 AEP-4016: details about upgrade and downgrade, and compatibility with Kubernetes
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/documentation, kind/cleanup

#7929 make DecreaseTargetSize more accurate for clusterapi
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug, area/provider/cluster-api

#7952 capi: node and provider ID accounting funcs
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, approved, kind/cleanup, area/provider/cluster-api

#7944 Allow using scheduled pods as samples in proactive scale up
  cluster-autoscaler/processors/podinjection/pod_group.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/utils/test/test_utils.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, kind/feature, approved

#7949 Fix log for node filtering in static autoscaler
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/cleanup

#7933 VPA: Add UpdateModeInPlaceOrRecreate to types
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, approved, kind/api-change

#7932 VPA: Introduce VPA feature gates, add `InPlaceOrRecreate` feature gate
  vertical-pod-autoscaler/RELEASE.md
  vertical-pod-autoscaler/common/version.go
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved

#7863 AEP-7862: Support CPU Startup Boost in VPA
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/L, kind/feature, approved, kind/documentation, ok-to-test

#7954 Fix cool down status condition to trigger scale down
  cluster-autoscaler/core/static_autoscaler.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/M, needs-ok-to-test, approved, kind/bug

#7934 VPA: Allow local dev and e2e scripts to run feature-gated features
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/admission-controller-service.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/hack/kind-config.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/feature, approved

#7970 Replace PodResizing with PodResizeInProgress pod condition in AEP-4016
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/documentation, ok-to-test

#7965 pricing changes: updated z3 pricing information
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XL, needs-ok-to-test, approved, kind/documentation, area/provider/gce

#7975 [addon-resizer] Cross compile addon-resizer for efficiency
  addon-resizer/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#7961 VPA: (InPlaceOrRecreate) Allow admission-controller to validate in-place spec
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, kind/feature, approved

#7826 Update skewer version to v0.0.19 (master)
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, area/provider/azure, size/XS, approved, kind/cleanup, ok-to-test

#7886 Fixes histograms becoming empty after loaded from checkpoints
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/M, approved, kind/bug, ok-to-test

#7983 [addon-resizer] fix typo in Dockerfile that is breaking build
  addon-resizer/Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/bug, ok-to-test

#7977 refactor findScalableResourceProviderIDs in clusterapi
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, approved, kind/bug, area/provider/cluster-api

#7973 feat: add ignoreDaemonSetsUtilization and zeroOrMaxNodeScaling to NodeGroupAutoscalingOptions
  cluster-autoscaler/cloudprovider/externalgrpc/README.md
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/wrapper/wrapper.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.pb.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.proto
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc_grpc.pb.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/XXL, approved, ok-to-test, area/provider/externalgrpc

#7966 Emit event on successful async scale-up
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer_test.go
Labels: cncf-cla: yes, lgtm, area/cluster-autoscaler, size/L, needs-ok-to-test, approved, kind/bug

#7985 chore(vpa): update api-docs script
  vertical-pod-autoscaler/hack/generate-api-docs.sh
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, needs-ok-to-test, approved, kind/cleanup

#7972 fix: remove default value for `awsRegion` value in cluster-autoscaler Helm chart to avoid accidental misconfigurations
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, kind/bug, area/helm-charts

#7990 Add omerap12 to VPA approvers
  vertical-pod-autoscaler/OWNERS
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/XS, approved, kind/cleanup

#7979 Parametrize pod resize timeouts in AEP-4016 beta
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Labels: cncf-cla: yes, lgtm, area/vertical-pod-autoscaler, size/S, needs-ok-to-test, approved, kind/documentation

#7994 helm: backtick to escape braces
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup, area/helm-charts

#7936 allow `tpl` on common metadata to DRY
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/serviceaccount.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, ok-to-test, area/helm-charts
